[2022-08-10 02:55] kbondarev commented on #122
I like this :point_up:.
Here's a suggestion of how it might work:

#### Option 1:
- new live stream is started on PeerTube
- start show command is issued in Matrix
- gammabot:
  - queries the PeerTube API for the URL for the current live stream
  - checks out the repo (maybe with the git `--depth=1` option)
  - updates the url in the file and commits

_For this to work the system that runs gammabo

[2022-08-10 02:58] reesericci commented on #122
The current live show shouldn't be kept in git, it is information that doesn't need to be version-controlled and is changing frequently. It's not fast, and git isn't designed for the usecase. It should be kept instead in a database like redis, and put behind an endpoint like discussed in #41

[2022-08-10 04:35] elreydetoda commented on #16
BTW, once JB.net is moved to dev.JB.com it looks we'll be able to close this issue 😁

[2022-08-10 04:43] gerbrent commented on #16
I've been advocating for this one throughout!

[2022-08-10 04:53] elreydetoda commented on #16
Thanks @gerbrent :grin:

I think it's awesome that JB is doing this, because just like Chris says all the time with stuff "If we aren't doing it and we've got a technical audience who will" (summary of course :sweat_smile: )

[2022-08-10 12:29] kd2flz commented on #257
The workflow I mostly use for websites is using a preview "branch". i.e. I push everything to my "dev" branch, which Netlify picks up and serves at "dev.example.com". Then, if I'm happy with the end result, I push the dev branch into main. I'm not saying jb should do it this way, this is just an example of a possible workflow.

[2022-08-10 13:00] elreydetoda commented on #257
Interesting, @kd2flz thanks for the a different perspective 😁

Is there a particular reason why you don't just let netlify pickup all PRs to your repo? (Even ones to the main/master branch?)

Or if it is, is there a reason why you push to the dev branch first and then merge a bunch of new features to main?

[2022-08-10 13:27] kd2flz commented on #257
I think you have a limited number of builds on a free account. Also, I then have a stable URL I can bookmark. But honestly either sounds good 😊

________________________________

[2022-08-10 16:11] elreydetoda commented on #257
Ah, ya that makes sense. Especially if someone just opens up a bunch of PRs that we're going to reject anyways (being mean people or spammers on the internet 🙃) then that'd chew up build time. I'd imagine, especially since JB is decently well known, they'd attract some scrupulous characters periodically.

That's a pretty good idea actually to act like a buffer and makes sure that doesn't happen 😁

[2022-08-10 16:51] kd2flz commented on #257
That makes sense. I’m sure others have input. Again, I don’t claim to know what the best approach here is. Just know what’s worked for me in the past.

[2022-08-10 17:24] gerbrent opened #259 "documentation - git + GitHub preferred workflow"
I would be great to describe in brief, and offer resources for our typical git and GitHub workflow, targeted at contributors who are new to the open source and GitHub way of project collaboration.

Two resources I really like that are applicable:

[Git Pro Book - Contributing to a Project](https://git-scm.com/book/en/v2/GitHub-Contributing-to-a-Project)

[Git for Professionals Tutorial - Tools & C

[2022-08-10 17:30] gerbrent opened #260 "coder sub-site - remove all resources associated"
The Coder Radio sub-site [config.coder-radio.toml](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/config.coder-radio.toml) was a proof-of-concept and not required for our site any longer.

These references should be removed.
Build processes associated w this Coder sub-site were removed in #248

If someone is willing to comb through and remove the remaining orphans that wo

[2022-08-10 23:41] GL513 commented on #251
Yes correct, sorry for not taking the time to write it out better :(

[2022-08-11 03:58] gerbrent commented on #251
All good!

[2022-08-11 13:47] CGBassPlayer commented on #226
@gerbrent I have a question while I'm working on this...

![Screenshot of updated layout on desktop](https://user-images.githubusercontent.com/34293941/184145990-994430ba-da3e-4f2f-8600-8b289124e6a0.png)

I shrunk the hosts and guests, but I also made it so the episode links are no longer starting at the same height as the tags, and are instead starting under the hosts (working out bugs on mobile

[2022-08-11 17:07] ChrisLAS commented on #226
Yeah, that's a good point. We want it to be easy to find and support our shows via sponsors.  So they should be above the links in that layout above.

[2022-08-11 17:09] ChrisLAS commented on #226
I'd be inclined to go with any approach that gets the hosts and guests' profile pics taking up the least amount of space possible.

[2022-08-11 17:14] gerbrent commented on #226
thanks for all the work and for asking so clearly!

Above is best.....

[2022-08-11 20:26] CGBassPlayer commented on #171
Just checking in to see if there has been a decision on how to fix the navbar?

[2022-08-11 20:52] #145 closed

[2022-08-12 05:00] kbondarev commented on #72
After #110 was complete the files aren't JSON anymore.

I added some commits with the new hugo md files for the variants in #75.

This [comment](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/72#issuecomment-1179765579) still applies, but now they are all `.md` files in `content/people`

[2022-08-12 05:11] kbondarev opened #262 "People page - Add pagination to People page"
https://jupiterbroadcasting.com/people/

- paginate peoples page (tl;dr: not straightforward)
  - references:
    - [Paginating PageGroups](https://gohugo.io/templates/pagination/#list-paginator-pages)
  - When using this: `{{ range (.Paginate ((where site.RegularPages "Section" "people").GroupBy "Type").Reverse ) }}`
    - errors received where
      - no paginator
![image](https://user-images.gi

[2022-08-12 05:14] kbondarev commented on #262
@gerbrent I'm not sure if it's a requirement for Milestone 1.0 or could be pushed further, what do you think?

[2022-08-12 05:24] kbondarev commented on #110
Actually closed by #252 (via #261)

Reopened accidentally by referencing in other issue

[2022-08-12 05:24] #110 closed

[2022-08-12 05:25] kbondarev commented on #91
Removed blocked as that new structure for people (hosts/guests) and sponsors is merged

[2022-08-12 05:27] kbondarev commented on #144
Removed blocked label as the blocking issue is closed.

[2022-08-12 05:46] kbondarev opened #264 "List `is_archived` hosts in a seperate "Hosts" page under the archive"
i.e. `jupiterbroadcasting.com/archive/hosts`

_Originally posted by @reesericci in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/223#issuecomment-1207219821_

[2022-08-12 05:48] kbondarev commented on #264
@gerbrent I took the liberty to mark it for 2.0 since IMO it's not that urgent

[2022-08-12 05:48] reesericci commented on #232
I won't be able to work on this for a little while - I'll relinquish my assigned status for now.

[2022-08-12 05:50] reesericci commented on #239
I don't currently have the time to work on issues - someone else can take this on. My bad.

[2022-08-12 05:53] kbondarev commented on #223
You can now add `is_archived` param to any `people/*.md` file and they won't show up in the list of hosts or guests (not sure why that would be needed, but as the saying goes: "it's a feature :tada:  not a bug :bug:")

**Important note: any modified person should be added to the `data_dont_override` list inside [show-scraper's config.yaml](https://github.com/JupiterBroadcasting/show-scraper/blob/m

[2022-08-12 06:12] kbondarev commented on #234
I believe that all the video files and ogg files are on scale-engine. My assumption is that we would download all of them and move to a different storage as soon as I get a picture with the scraper of all the links to all the files (hopefully very soon!). Maybe as @reesericci said - Linode's Object Storage.

TBH there are some other questions that arise here: Do we need the video files for audio o

[2022-08-12 06:18] kbondarev commented on #171
I'm just gonna put this here :wink:

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/ea9879c8d89a25c586ec59cb4096f7a099dea78a/themes/jb/assets/css/_variables.sass#L101

[2022-08-12 06:31] reclaimingmytime opened #265 "host/guest profiles - remove Google Plus links"
The hosts and guests page still links to Google Plus for some hosts and guests, like Joe:
https://jupiterbroadcasting.net/hosts/joe/

The Google Plus link just redirects to the shutdown announcement.

Maybe it's time to remove the link from the template?

[2022-08-12 06:52] kbondarev commented on #171
Ok so #266 fixes the main issue, by just increasing the breakpoint.
In addition, the brand is always showing now.

I'm not closing this issue, since it might still need more enhancement as discussed with all the options above.

[2022-08-12 11:34] elreydetoda commented on #91
Alright, I finished up the guest listing pages off of the show pages. Let me know if there's anything that should be changed :upside_down_face:  (if not let me know and I'll change the PR to ready to merge, BTW the PR has the most recent commits if you want to pull it down)

![image](https://user-images.githubusercontent.com/10230166/184345391-f1174d50-266c-4800-812e-d361ec399f23.png)

[2022-08-12 11:54] elreydetoda commented on #144
PR is ready for this :grin: #269

[2022-08-12 12:00] elreydetoda commented on #238
alright, this should be closed with #270

[2022-08-12 12:14] #144 closed

[2022-08-12 12:27] elreydetoda commented on #29
Alright, since #110 is done now. Do we want to possibly think about doing a CMS instead of archtypes?

I know that this is a bigger convo if we do a CMS (because people have opinions on UIs :upside_down_face: and also depends on how much JB wants to self-host), but it's something we can entertain now that things are in the page format.

I gave some examples of if we were to use NetlifyCMS (somethi

[2022-08-12 12:46] elreydetoda commented on #212
alright, #271 should close this and one thing to consider as well is that we can always order the methods of communications. For example if you want to have mumble and element show up first we can add [weight](https://gohugo.io/content-management/front-matter/#predefined) to the page and it'll make them first.

That'll probably be a different issue since this was just for combining, but just wante

[2022-08-12 12:48] elreydetoda commented on #257
Also, just noticed that @gerbrent added this to the 1.0 milestone, but I don't think it's necessary for the launch day. It'd be a nice to have, but I think it can be moved to 2.0. Unless you have a particular reason why you wanted it on the 1.0 release?

[2022-08-12 12:49] elreydetoda commented on #211
Thanks @Lord0fBytes ! I know that I didn't do the best for the layout on these but they're at least there :upside_down_face: (I'm normally not the best designer but a pretty good implementer :grinning: )

[2022-08-12 13:47] ironicbadger commented on #244
The site will be hosted on an existing Linode server that we use for several core jb services already.

I need to refactor a few things now that the purpose of the servers scope has increased somewhat over its original but fundamentals will remain the same as described [here](https://github.com/JupiterBroadcasting/infra/blob/auto_container_dns/ansible/group_vars/demo.yaml).

In order to proceed wi

[2022-08-12 14:04] elreydetoda commented on #244
I'd imagine just using the GH action + container registry (GHCR) would be fine, but it ultimately will depend on how much (or if) it costs JB anything (I've never hosted on GHCR before, only quay & docker hub). I'd imagine not, since it's going to be a public image but I don't personally know.

I think my biggest concern is the frequency as to when the updates will happen, because currently the JB

[2022-08-12 14:12] ironicbadger commented on #244
Deploying production and dev / pr iterations are two different things imho. Do we need to separate discussion?

[2022-08-12 14:13] StefanS-O commented on #244
I don't have an issue when we use a container and the Github registry. I agree  with @elreydetoda that it is a question of pricing. The free tier only covers 500MB and 1GB of transfer which isn't much. We could youse Dockerhub which is free for public repos.

If we tag the images correctly we could also use https://github.com/containrrr/watchtower/ to autodeploy, or a webhook, or just SSH into the

[2022-08-12 14:14] ironicbadger commented on #244
Please not watchtower. I have a strong aversion to that thing as updates should be done atomically as part of a CI process, not just whenever something changes upstream (deliberately or otherwise).

The action can easily SSH into the remote box and deploy the new container. I've been doing this for years with several other sites quite successfully running on this box.

[2022-08-12 14:22] ironicbadger commented on #244
@RealOrangeOne might have some opinions?

[2022-08-12 16:39] elreydetoda commented on #224
Another option we should consider (maybe this is a different ticket, because of the scope of this task) is an "Edit this page" button. That'd let people easily know they can edit and update pages right from their browser.

This'll depend on #29 on if we want to point them to editing the page on GH for example: https://www.vagrantup.com/docs

![Screenshot_20220812-123729_DuckDuckGo.jpg](https://use

[2022-08-12 16:44] elreydetoda commented on #232
Thanks for keeping us updated @reesericci and letting us know when you don't have time to do something. 🚀

It's hard to keep track of that and keep boundaries for things you enjoy, so thank you for letting us know 😁🚀

[2022-08-12 16:45] elreydetoda commented on #206
I haven't been keeping up with all the PRs, @Lord0fBytes has there been any progress on this? (Just personally curious how the implementation will work)

[2022-08-12 16:50] elreydetoda commented on #162
@reesericci , do you have any other suggestions on where those links could go?

Also, I don't think there is currently a place that lists out all the JB shows together, on the new website, is that something we should implement? If yes, then where should that go if it's not something that should be considered a show?

[2022-08-12 16:52] reesericci commented on #162
maybe the "shows" line item could be called "all shows" and then when you click it, it shows all the shows and then a carousel to navigate to a specific show.

[2022-08-12 17:01] elreydetoda commented on #66
Ya, but it's all about meeting the audience where they are (IMO) and trying to make it easy to keep them interested.

So, for example, if someone initially subscribes via Spotify, but hears Chris talking about how awesome the new podcast apps are. Then they go download one, and it’s someone that's now converted to using the podcasting 2.0 stuff, moved from Spotify, and also appreciates being infor

[2022-08-12 17:24] gerbrent commented on #66
To reiterate on this: Yes, we need all the links. So, adding those links to the new website is essential....

[2022-08-12 17:26] gerbrent commented on #162
I don't think there is currently a place that lists out all the JB shows together, on the new website, is that something we should implement? If yes, then where should that go if it's not something that should be considered a show?

Do you mean something like https://jupiterbroadcasting.net/show/ ?

[2022-08-12 17:36] gerbrent commented on #162
Another option: Have a `Shows`/`RSS` sub-menu item that lists ALL the feeds: All Shows Feeds (audio, video), feeds for each show.

![image](https://user-images.githubusercontent.com/7018928/184413159-9f7296f9-99b2-4814-8d52-6110a2fc78b4.png)

Similar to how the current JB.com is doing it:

![image](https://user-images.githubusercontent.com/7018928/184412948-a47b8f53-bd06-4e1e-96c8-a366612d0cb1.png

[2022-08-12 17:38] #212 closed

[2022-08-12 17:40] gerbrent commented on #265
agree!

[2022-08-12 17:53] elreydetoda commented on #265
might be a good first issue for someone who's newer and wants to take a little dive into the code :grin:

Here is where the code is that they'd need to remove:

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/b716aa253cb6d82990f9f1ee515bf299e8008e16/themes/jb/layouts/partials/people/horizontal.html#L40-L44

It'll remove it for both guests & hosts (which I don't think we have an

[2022-08-12 18:32] gerbrent opened #272 ""Edit this page" button - leads to GH workflow"
Another option we should consider (maybe this is a different ticket, because of the scope of this task) is an "Edit this page" button. That'd let people easily know they can edit and update pages right from their browser.

This'll depend on #29 on if we want to point them to editing the page on GH for example: https://www.vagrantup.com/docs

![Screenshot_20220812-123729_DuckDuckGo.jpg](https://use

[2022-08-12 19:53] elreydetoda commented on #66
Is there anyway we could just copy the exact text that's currently on the subscribe page? i.e. https://linuxunplugged.com/subscribe

If so, this should be an easy single page off of each show.

The one caveat I can think of would be to ensure it doesn't show up on the episodes lists. So, we'd probably need to add a small filter on the list page template for the shows that ensures it's either an ep

[2022-08-12 19:55] elreydetoda commented on #146
This was actually closed by #261 : https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/261/commits/27711a3416a9c2cab50db0314a8ea287c19f217f

[2022-08-12 20:52] harriseldon commented on #265
I can take this. A good grep on the files and I have a good list. 5 people have a google plus link. Do you want the gplus parameter removed from the json and the follow files changed?
/themes/jb/assets/css/libs/videojs.css
/themes/jb/layouts/partials/hosts/horizontal.html

[2022-08-12 21:48] elreydetoda commented on #265
Hey @harriseldon  👋

Nice, I didn't even think about doing that 😁 (I'd just thought about the minimum amount of work to "remove it" 😅)

So, I'll default to @gerbrent on this one, but it probably doesn't hurt to just remove all the references to it for all the people.

I will say, we actually just removed all the JSON files from the `data/` folder,  so if you've cloned the repo in the past make sur

[2022-08-13 00:03] ironicbadger commented on #258
See [here](https://github.com/JupiterBroadcasting/infra/blob/master/ansible/roles/dns/tasks/main.yaml) which pulls in any variable from the Ansible variables [here](https://github.com/JupiterBroadcasting/infra/blob/master/ansible/group_vars/demo.yaml#L206) which match the format `Host(`synology.selfhosted.show`)` (these are compatible with the load balancer in use, Traefik).

[2022-08-13 00:03] #258 closed

[2022-08-13 00:27] harriseldon commented on #265
Thanks. I updated my local repository.
This is the command that I am using to remove the gplus lines from all of the md files.
[code]
I will manually update the layouts file then create a merge request.

[2022-08-13 00:44] harriseldon commented on #265
Here is the explainshell link to the command
https://explainshell.com/explain?cmd=find+.%2F+-type+f+-name+%22*.md%22+-exec+fgrep+-il+%22gplus%22+%7B%7D+%5C%3B+%7C+xargs+sed+-i+%27%2Fgplus%3A%5Cs%5CS*%2Fd%27

Key is the sed expression

/ [starts regex]
gplus: [matches exact starting point in markdown -- could have added ^ to find the start of the line]
\s [white space]
\S* [0 or more non whitespace

[2022-08-13 03:04] #146 closed

[2022-08-13 03:52] elreydetoda commented on #186
@reesericci ,  you should just be able to add padding to the button's css class to "extend" it's clickable area

![carousel-padding](https://user-images.githubusercontent.com/10230166/184467398-94c18c45-3db4-4a6f-bedf-02086ac83f9e.gif)

[2022-08-13 04:01] elreydetoda commented on #160
Just a note, all of these should be editable via the `_index.md` files under each of the shows. For example this would be where you could change Office Hour's support link:

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/b716aa253cb6d82990f9f1ee515bf299e8008e16/content/show/office-hours/_index.md?plain=1#L15

[2022-08-13 04:09] elreydetoda commented on #92
BTW, pagination was implemented in #144

[2022-08-13 05:52] elreydetoda commented on #162
I've done an initial POC of what this could look like, I don't know if I'll be able to finish it but the last thing I couldn't figure out is the mobile view for the nested sub-menu item... :disappointed:

So, if someone else wants to pick that up feel free :grin:

[2022-08-13 14:00] reesericci commented on #243
I think moving away from a Google Calendar backend is a good thing - @gerbrent any thoughts?

[2022-08-13 16:21] wilron commented on #219
@gerbrent I'm interested in trying out a couple of the conversions. It may be easiest for me to start with some .ai files.

[2022-08-13 16:28] RealOrangeOne commented on #244
I think we should do this properly. The ways the PMS wiki and selfhosted.show wiki are deployed definitely _works_, but it's not ideal.

Deploying as a docker container I think is something we can universally agree is the right way to go for so many reasons. Building the container on CI, pushing it to GHCR, and having some docker config in a separate repo ought to be ample. The tricky question I a

[2022-08-13 17:09] ironicbadger commented on #244
#274 addresses the production deployments. Dev is still being figured out but this issue can be closed.

[2022-08-14 03:28] elreydetoda commented on #244
I actually really like this answer...since we'll be probably be using their object storage for #23 anyways why not use it for the whole site? 🤔😅

I will say though, that it does present at least one comment/question/issues. I know (at least on AWS) you can't have TLS on your s3 buckets you'll normally use cloudfront for that. So, we'd have to probably use cloudflare to handle the encryption. Anoth

[2022-08-14 04:16] ironicbadger commented on #244
I tried building the site and pushing to s3 earlier but it took 17 mins for one build. That’s too long and unacceptable when our current build and deploy is under 1 minute. I use s3cmd from a linode so bandwidth was not the limiting factor, the process of transacting 20k files was.

[2022-08-14 13:47] iarwain-forn commented on #122
@gerbrent I think #254 being merged can close out this issue.

[2022-08-14 14:00] reclaimingmytime opened #278 "Adjust PeerTube iframe width on mobile devices"
The width of the dynamic PeerTube iframe is wider than the device width on mobile devices, so the page scrolls horizontally.

![Screenshot_20220814-154919](https://user-images.githubusercontent.com/35609464/184540398-7bfee6ad-4e46-4e08-b00a-5f4e297ef827.jpg)

![Screenshot_20220814-154930](https://user-images.githubusercontent.com/35609464/184540397-719eae31-ef29-45f2-a41d-ea1fdfc22f0b.jpg)

[2022-08-14 17:03] iarwain-forn commented on #278
I was sitting there, thinking to myself "Should I test this on mobile?" apparently the answer was yes 😑

It's been a long time since I've been doing frontend, @reesericci what would you suggest for making the iframe responsive? I'm not sure if a percentage based width and height would be the best bet or if there's some magic Hugo can do for responsive design.

[2022-08-14 19:13] reesericci commented on #278
Change the width and height based on media queries in the CSS - that's the best you can do with iFrames.

[2022-08-14 19:14] reesericci commented on #278
But if you just want it to span the entire width - use 100vw for the width and auto height

[2022-08-14 22:29] gerbrent commented on #91
This looks great to me, I say PR-ready it!

[2022-08-14 22:33] Strit opened #280 "What username is meant?"
In the `contents/people/*.md` pages there's a field simply called `username`.

There is no indication of what platform the username is for. Is it Mumble, Matrix, IRC?

So maybe we can change the field name into a specific name, like `mumble_username`?

[2022-08-14 22:44] gerbrent opened #281 "Jupiter.tube embed size - larger please!"
It would be great if the Peertube embed could have a larger size. Currently feels quite small on a desktop monitor. Something akin to the default Youtube player might be a good starting point to decide on the default desktop size..

As example, here's a size-by-size with Youtube.

![image](https://user-images.githubusercontent.com/7018928/184557527-32066d1b-ec73-474c-9580-1b4e87790139.png)

[2022-08-14 22:53] Strit commented on #280
Looking at the code in [show-scraper](https://github.com/JupiterBroadcasting/show-scraper/blob/main/models/person.py#L9), it looks like it might just be an entity to link people to [shows](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/content/show/linux-unplugged/0470.md?plain=1#L79) and not actually a username of any kind.

Am I understanding it correctly?

[2022-08-14 23:28] #122 closed

[2022-08-14 23:51] noblepayne commented on #281
@ChrisLAS suggested 960x540.

[2022-08-14 23:53] noblepayne commented on #281
We may want a responsive or mobile-friendly version in the future, but created #282 to get things a little bigger in the meantime.

[2022-08-15 02:45] kbondarev commented on #280
It is just a unique ID of each person, that is also used the URL slug.

I guess `slug`, `person_slug`, or `GUID` would've been a better name for this parameter

[2022-08-15 02:46] kbondarev commented on #280
Speaking of, I noticed that it is on the frontend as "@username" under the full name of the arch guest/host.
Probably shouldn't be displayed there like that, as it might make ppl thing it's an username on social media (like twitter or Instagram)

[2022-08-15 03:15] elreydetoda commented on #281
Related #278

Maybe that can be the responsive issue

[2022-08-15 04:28] Strit commented on #280
Yeah, that's why I got confused when I saw my "username", but I have no social media with that handle.

[2022-08-15 08:21] #281 closed

[2022-08-15 11:20] #260 closed

[2022-08-15 14:06] gerbrent opened #284 "jupiterbroadcasting.net - security warning"
@StefanS-O this one is for you

w the new change to [new.jupiterbroadcasting.com](https://new.jupiterbroadcasting.com/) for the testing site, and with redirecting [jupiterbroadcasting.net](https://jupiterbroadcasting.net/) to said server, there is now presented a security error (on Firefox).

As JB.net is still on much of our documentation and many of our podcast episodes, it would be great to sol

[2022-08-15 14:08] gerbrent commented on #146
amazing! I didn't even notice.... thanks!

[2022-08-15 14:15] gerbrent opened #285 "License for code - need to choose one"
We need to choose a license for the code we've all created here, and with the other related repos in mind (scraper, infra, etc).
This is related to, but necessarily different from choosing a license for the show content (see #50 ) .

Any suggestions or leanings on a particular open source license? If so, please explain!

[2022-08-15 14:16] reclaimingmytime commented on #284
You can continue through the security warning, which shows this page.
![image](https://user-images.githubusercontent.com/35609464/184652208-f8ba6daa-15d8-42f9-9335-472d09b08059.png)

Same for https://jb-live.jupiterbroadcasting.net/

[2022-08-15 14:21] ironicbadger commented on #284
I don't have permissions delegated for jb.net like I do for .com.

We need a full redirect. We are picking up the traefik default cert on the prod VPS but because the headers don't match any sites it has a rule for we're getting this error. Not much I can do tbh.

[2022-08-15 14:22] StefanS-O commented on #284
I mean i pointed the DNS of the Domain to the IP of the new site, so probably just missing the vhost / letsencrypt there.
I could also take back those changes and do a redirect to new.jupiterbroadcasting.com, but i thought that was the proper way.

[2022-08-15 14:24] ironicbadger commented on #284
A redirect would be better please.

[2022-08-15 14:24] StefanS-O commented on #284
Alright

[2022-08-15 14:25] StefanS-O commented on #284
do you have setup jb-live somewhere, or just the main site?

[2022-08-15 14:25] ironicbadger commented on #284
@gerbrent ?

[2022-08-15 14:29] elreydetoda commented on #146
No problem 😁
It was actually @kbondarev who suggested it during my PR ([here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/252#issuecomment-1210167834) and now that things are pages instead of json files it was pretty easy 😁

[2022-08-15 14:31] gerbrent commented on #146
.... go team! 🎉

[2022-08-15 14:33] elreydetoda commented on #91
Cool 😁, it's ready now if someone wants to review/approve it: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/121

[2022-08-15 14:34] reclaimingmytime commented on #50
You might want to consider the clips feature in the new podcast apps when choosing a license. I don't think the clips in _fountain.fm_ fit with "no-derivatives", "attribution", "non-commercial" and "share-alike".

[2022-08-15 14:35] elreydetoda commented on #280
I definitely think we could change they key name for v2 of the JB.com, but till then we can just remove the `@username` reference in the guest/host template (IIRC, one of them should just be a symlink to the other after my PR that merged for #110)

[2022-08-15 14:35] gerbrent commented on #284
really, I think JB Live should be part of the main site (#233 ) - unless there is some technical advantage to keep them seperate which isn't obvious to me.

[2022-08-15 14:36] gerbrent commented on #284
jb-live is currently living alongside the main site, deployed in concert.

[2022-08-15 14:37] StefanS-O commented on #284
Ok what i did:

1. www.jupiterbroadcasting.net and jupiterbroadcasting.net will redirect to https://new.jupiterbroadcasting.com/ preserving the request uri
2. jb-live.jupiterbroadcasting.net pointing to my server for now

DNS changes only have a 60 second TTL, so it should work soon

[2022-08-15 14:41] #284 closed

[2022-08-15 14:46] elreydetoda commented on #284
For this:

Once we finish up migrating things I can work with someone to create a permanent redirector in a serverless function, which should only cost fractions of a penny per run. I did that for my companies blog when we transitioned from `blog. `sub-domain to using  `.com/blog`

For example: https://blog.secureideas.com/2018/09/automating-red-team-homelabs-part-1-kali-automation.html

That way

[2022-08-15 14:48] StefanS-O commented on #284
Yeah i will probably transfer the Domain to JB, it was more a temporary solution during MVP. As we all know, nothing is more permanent than a temporary solution :D

[2022-08-15 14:49] gerbrent commented on #154
@StefanS-O  proposed that we create a separate repo and hugo instance for the JB Archive with a few distinct advantages:

* build times for the main JB site would be independent of the archived shows, i.e. likely 2x the speed of consolidated builds
* the Archive repo can be experimented on without impacting the main JB repo
* Hosts and Guest entries/profiles would be duplicated, but can be an adva

[2022-08-15 15:17] reclaimingmytime commented on #154
I think we should also consider the use case of moving shows out of the archive. Coder Radio has been "archived" for a few months (September 2019 - August 2020) and is now active again. Maybe the steps above are done in reverse?

[2022-08-15 16:08] gerbrent commented on #154
I'm happy to challenge the above (w the help of in-person discussions w @ironicbadger ):

At the current build times of 43 seconds, I'm not sure this is much of a worry...

This is a big disadvantage, as duplication is generally problematic, difficult to maintain. An option would be to have a "retired" flag in profiles (this may be already implemented, I recall discussing it w @kbondarev but my se

[2022-08-15 16:47] ironicbadger opened #286 "Deployment smoke tests"
We need some tests writing which will check that the hugo build was successful and the site deploys correctly. This will be used as part of a PR workflow before enabling merges to `main` once complete. For example if the tests fail for any reason, merging will be blocked until they pass.

I envisage this taking the form of checking the existence of critical files including configuration files and

[2022-08-15 16:50] ironicbadger commented on #16
How do our new deployment schemes affect this? `new.jb.com` for example...

[2022-08-15 16:51] ironicbadger commented on #26
@realorangeone usually has some pretty strong opinions on search.

[2022-08-15 16:54] ironicbadger commented on #60
If you provide me with a list of endpoints, I'll get them added to kuma.

[2022-08-15 16:56] ironicbadger commented on #70
This is simple enough to do if you still want it. We already have a plausible instance running it would just be a case of injecting the tracking code into the hugo site headers.

[2022-08-15 17:41] elreydetoda commented on #286
I imagine that we could have a simple `hugo` command (like how we do for deployment) run to try and just build the site. Which can test and give fast feedback on if it'll build at all. (Validating the config for hugo works)

---

Then, I think validating key shows or other web things (i.e. jb-live loads the iframe, media files can be accessed, host/guest pictures are loading, etc.) will go hand in

[2022-08-15 18:15] gerbrent commented on #70
@elreydetoda - can you help Alex implement the into Hugo-speak?

[2022-08-15 19:09] elreydetoda commented on #70
No problem, I can get this implemented after work (17:00 EST).

[2022-08-15 20:16] gerbrent commented on #26
I have opinions aswell, from a functionality and end-user perspective.

The search results at [notes.jupiterbroadcasting.com](https://notes.jupiterbroadcasting.com/) is not at all to my liking pretty much every single time I try to use it, which is generally answering a question like "I remember we mentioned that in the last few months, lets see which episode that was from" - This generally gives

[2022-08-15 20:37] ironicbadger commented on #280
What is the output of the scraper in this field?

[2022-08-15 20:38] gerbrent commented on #280
https://github.com/JupiterBroadcasting/show-scraper/blob/main/models/person.py#L9

[2022-08-15 20:39] gerbrent commented on #280
https://raw.githubusercontent.com/JupiterBroadcasting/jupiterbroadcasting.com/main/content/people/alex.md

[2022-08-15 20:39] ironicbadger commented on #280
https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/content/people/allanjude.md?plain=1#L12

[2022-08-15 20:40] ironicbadger commented on #280
So looking at this we can probably call it whatever we want.

`person_uuid` might be adequate?

[2022-08-15 21:51] elreydetoda commented on #280
Ya, the only snag is that if we change it in the scraper then we need to update it every place it's referenced in the main JB site as well. So, that's why I was suggesting the v2 release instead of changing something so vital this close to us trying to do v1 release.

[2022-08-15 22:41] elreydetoda commented on #70
Alright, I think that PR should work. I made it a bit more dynamic so we could potentially use it for other sites (i.e. jb-live (once we merge the footer/menu into that theme), if we have a dev.jb.com, etc.). So, that's why I'm saying it _should_ work :upside_down_face:

If not we can just pass in the data-domain via the params.toml like how I did for the url.

Also, @ironicbadger is there anyway

[2022-08-15 22:59] theZMC commented on #26
I'm willing to start putting some serious development work into this. Some clarifying questions:
- Do we need full text search?
- Any plans for some sort of transcription process (automatic or manual) and if so is there a timeline for when that would be in place?

[2022-08-15 23:03] theZMC commented on #225
@gerbrent I'll gladly put in the work on this one if you can assign it.

[2022-08-15 23:16] #70 closed

[2022-08-15 23:18] elreydetoda commented on #16
From my perspective, I don't think this will be accomplished until we get Cloudflare DNS proxying implemented. That'd be the only way we could do the IPv6 Gateway feature and it'll transparently handle IPv6 addresses (like I mentioned above: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/16#issuecomment-1186580524 ).

It was working when the dev.jb.com was created, but we do

[2022-08-15 23:35] ironicbadger commented on #26
See the search at `notes.jupiterbroadcasting.com` - that's the type of thing *I* think is needed. @ChrisLAS @noblepayne or @gerbrent feel free to jump in here.

[2022-08-15 23:47] ironicbadger opened #289 "Show note links should open in a new tab"
In order to preserve the users window in case they are playing a podcast episode show note links (or perhaps all external links?) should open in a new tab.

[2022-08-15 23:51] ironicbadger commented on #70
Confirmed working! 🥳

[2022-08-16 00:27] elreydetoda commented on #289
This'll be interesting...I think the only way to ensure all external links open to a new window we'd have to do some javascript to add the [`target="_blank"`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#attr-target) for all links on the page :thinking:

Because particularly the shownotes, we're not able to access the links in that since they're hugo content (i.e. the MD part of the

[2022-08-16 00:28] ironicbadger commented on #289
Only external links...

[2022-08-16 00:30] elreydetoda commented on #289
ya, we'll have to do an if statement as well to check if they're external.

i.e. everything under "Episode Links" for this episode: https://new.jupiterbroadcasting.com/show/office-hours/1/

Is defined here: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/fae40bf883007e391d97babb34dffe6a5e0256a5/content/show/office-hours/0001.md?plain=1#L55-L59

[2022-08-16 00:31] ironicbadger commented on #289
Do the show note links end up in a specific div or something? Could that be used?

[2022-08-16 00:35] elreydetoda commented on #289
not currently, but we could add an `id="content"` or something. we'd still have to use JS to modify it all.

[2022-08-16 09:13] elreydetoda commented on #289
BTW, I don't think this is required for the JB 1.0 milestone. If we're just getting it launched (MVP) I think this could be bumped to 2.0 and if someone has time to work on it then that'd be awesome.

[2022-08-16 12:04] elreydetoda commented on #66
#291 should get us most of the way to implementing this, but I've listed to-dos for future things which'll need to be done. Also, I need someone to do the rest of the content for. I've just implemented the logic.

[2022-08-16 13:18] gerbrent opened #292 "IPv6 - add Cloudflare Proxy"
see #16

Intention is to support IPv6 via Cloudflare Proxy (alongside other Cloudflare feature, caching, etc)

JB to add Cloudflare Proxying to:

* [ ] new.jb.com
* [ ] dev.jb.com
* [ ] jb.com (at time of new website publishing?)
* [ ] ... ?

[2022-08-16 13:45] ironicbadger commented on #198
<img width="137" alt="image" src="https://user-images.githubusercontent.com/2773080/184895106-238e0b2d-cc9e-4689-9b57-e4bf43ac79ef.png">

favicon appears to be blank. Is this because we moved the site to `new.jb.com`?

[2022-08-16 14:17] gerbrent commented on #292
@ironicbadger added proxying this AM, so just need some testing to confirm

[2022-08-16 14:18] ironicbadger commented on #198
Ok so the favicon works but when the tab is focused it is invisible. Here is an unfocused tab.

So perhaps the ask here is to put the icon in a square of colour so that its visible at all times?

![image](https://user-images.githubusercontent.com/2773080/184902719-0e7a149c-3e70-4014-b333-d53f166a8e7e.png)

[2022-08-16 14:39] gerbrent commented on #26
see here why search via recency is not supported nor desired by mkdocs:

https://github.com/selfhostedshow/show-notes/issues/16#issuecomment-1216728294

[2022-08-16 14:39] ironicbadger commented on #292
We were missing a setting in the Cloudflare dashboard for SSL/TLS encryption. After setting this to `Full (strict)` things are working as expected.

A couple of notes. This *requires* a valid certificate from a trusted CA. We are using lets encrypt which qualifies but self-signed certs or certs from non trusted CAs will not work.

![telegram-cloud-photo-size-1-5177193968927091236-y](https://user-i

[2022-08-16 14:40] ironicbadger commented on #292
With regards to IPv6 I'm reticent to even touch it for now - *especially* as part of the 1.0 milestone I would argue it's not important. Very few ISPs even support IPv6!

My vote would be to defer this beyond 1.0 milestone.

[2022-08-16 14:44] reesericci commented on #198
You could also change the favicon depending on if its dark or light mode
in the browser

—reese

On August 16, 2022, Bananaman ***@***.***> wrote:

[2022-08-16 15:08] RealOrangeOne commented on #26
I agree lunr probably isn't ideal, as the index will be huge. [I've written client-side search with Hugo](https://theorangeone.net/posts/hugo-website-search/), and it's very simple, but the index may be large given the show history

mkdocs's search is lunr-based. The issue with mkdocs is that the pages have no sense of date, as opposed to being a technological issue. Hugo however _does_ have dates

[2022-08-16 15:13] reesericci commented on #198
This is exactly what I was about to comment lol

—reese

On August 16, 2022, Bananaman ***@***.***> wrote:

[2022-08-16 15:42] ironicbadger commented on #26
Could we run some mock ups with elastic and get a sense of just how heavy? We have the infra to do it I'd wager.

[2022-08-16 15:43] ironicbadger commented on #198
Ok dynamic favicon switching gets a +1 from me!

[2022-08-16 17:24] elreydetoda commented on #292
There's no need to move it to the next milestone, it's working since you turned on the DNS proxying :grin:

https://geekflare.com/tools/tests/vn4ympfvz

![image](https://user-images.githubusercontent.com/10230166/184940932-174ba24a-df1e-46de-a8eb-1381153bfcdf.png)

[2022-08-16 17:24] #292 closed

[2022-08-16 17:32] elreydetoda commented on #16
This is now working with the new.jb.com domain: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/292#issuecomment-1216701221

But since it wasn't enabled for the main domain jb.com ([source](https://whois.domaintools.com/jupiterbroadcasting.com)), this issue should probably still stay open.

[2022-08-16 17:33] elreydetoda commented on #292
So, in regards to this...shouldn't flexible also work? It'll also not require you have a cert on the jb.com server (which is still good to do, but isn't necessarily required)

[2022-08-16 17:35] ironicbadger commented on #292
Yes, however for prod stricter is better imho.

[2022-08-16 18:10] elreydetoda commented on #292
Ya, but when you put it to strict mode it'll be for the whole domain not just jb.com but even the new.jb.com, dev., etc..., which isn't a bad thing IMO (I'm all for more security) but just want to make sure you/JB are aware of that :upside_down_face:

[2022-08-16 18:16] elreydetoda commented on #66
Like I mentioned above someone will have to add all the data, and pasting to-dos here from PR (for ease of reading):

future to-dos:
- [ ] swap out fireside images with local ones
- [ ] create a main jb.com/subscribe page (not implemented on this one)
- [ ] add each show's subscription information
- [ ] remove/fix Google Play links (src: https://github.com/JupiterBroadcasting/jupiterbroadcasting.c

[2022-08-16 19:14] elreydetoda opened #293 "integrate matrix chat into live website (read-only?)"
Chatted about possibly either (or also) integrating some type of Element chat into the live web-page on Office Hours 10

[2022-08-16 19:19] elreydetoda opened #294 "Shorthand redirects off main website"
Mentioned shorthand redirectors off of main website during Office Hours 10:
- /live to https://jb-live.jupiterbroadcasting.net/
- /mumble to https://new.jupiterbroadcasting.com/community/mumble/

@ChrisLAS had mentioned he'd possibly have more as well.

[2022-08-16 19:49] elreydetoda commented on #162
Just figured I'd do a PR and let people make the minor adjustment off of the main repo.

[2022-08-16 20:10] xPMo commented on #225
Those are in the shows dropdown in the header already.

[2022-08-16 20:40] ironicbadger opened #299 "Show carousel - Show logos should rotate based on most recently aired show"
![image](https://user-images.githubusercontent.com/2773080/184980804-fdd62fa7-7fd7-48c1-9842-8197f23e6676.png)

The show whos episode aired most recently should be in position 1 and so on. Otherwise some shows never reach the front.

[2022-08-16 21:05] reesericci commented on #225
But it seems helpful for a footer. I don't see why not to include it there as well

[2022-08-16 23:51] mrbracchi commented on #224
I want to help and this was marked as a good place to start. Is it on hold until the edit this page thing gets resolved?

[2022-08-17 02:15] elreydetoda commented on #29
Honestly, I think this can be moved to Milestone 2.0. For now we can just direct people to GH if they want to edit something. I don't see very many people trying to author new content either (besides new episodes (which are made via the scraper for now as well)), so I don't think we really *have* to worry about this for 1.0 (archtypes or a CMS)

[2022-08-17 02:20] elreydetoda commented on #49
I think this could be moved to 2.0, because we've already got images for guests and hosts. So, from an MVP standpoint that checkbox is already met.

[2022-08-17 02:23] elreydetoda commented on #232
I think this could be moved to 2.0, unless someone has time to work on it for 1.0. We already have a form, yes it doesn't look the best but it'll be replaced eventually anyways (for something a bit nicer).

[2022-08-17 03:25] gerbrent commented on #224
hi @mrbracchi ! thanks for getting involved - super amazing.

My fault for not clearing the "good first issue" tag since this was partly solved... and indeed this secondary goal is a bit more involved and less beginner friendly. Sorry!

I am, though, happy to point you elsewhere if you connect w me directly (via Matrix perhaps if you're there?)

[2022-08-17 04:00] kbondarev commented on #154
@gerbrent I think you meant this one #223

[2022-08-17 14:51] RealOrangeOne commented on #26
It's not just heavy in terms of resource. It also makes local development much more of a pain, not to mention is more complex to setup and work with anyway. The container alone is ~550mb compressed.

[2022-08-17 15:06] RealOrangeOne commented on #244
Have you tried something like `rclone`? It should let you do parallel uploads, which should sidestep some of the processing overhead from the S3 API

[2022-08-17 15:22] theZMC commented on #26
Unfortunately when it comes to search, I think it's the classic pick two between fast, good, and inexpensive. Though I do agree that full fat elastic is a bit too heavy-handed for our needs.

[2022-08-17 15:32] pagdot commented on #293
The backend JS code should be pretty straight forward according to https://matrix.org/docs/guides/creating-a-simple-read-only-matrix-client

[2022-08-17 15:33] pagdot commented on #285
MIT maybe? It's very simple and open making it easy to integrate with other projects or projects with different licenses

[2022-08-17 15:59] RealOrangeOne commented on #285
Much of the code from this was based on https://github.com/selfhostedshow/show-notes, which is under GPL 3.

With the code being in the state its in now, you'll likely need unanimous agreement from all committers before changing the license.

[2022-08-17 16:04] pagdot opened #301 "Transcriptions"
I've investigated doing transcriptions for JB shows in the past without reaching a satisfying conclusion yet.

What I'd expect from a decent transcription would be:

- A decent correctness of the result.
  - Specific terminology and names can be hard to get right. Nice to have would be to be able to correct results and feed them back to improve detection
- Speaker diarisation (=recognising who spe

[2022-08-17 16:18] pagdot commented on #239
right now it is just inline svg. It would be possible to put it in it's own svg file as a static image asset and reference the same file in both cases. Right now it uses a different logo design though.

I would be able to take a look at it if this sound fine to you :)

[2022-08-17 17:12] gerbrent commented on #301
this is really amazing, thanks for all this!! Perhaps dreams do come true.....

[2022-08-17 18:11] reclaimingmytime commented on #239
The header logo is an inline SVG, the footer logo is currently a PNG.

A benefit of a dedicated SVG file would be that it gets cached and loads faster on subsequent page loads.

[2022-08-17 18:18] gerbrent commented on #239
@pagdot if you're happy to take this, please do! dedicated SVG all the way...

[2022-08-17 19:13] elreydetoda opened #302 "Symlinks breaking in windows"
Could this not be achieved using aliases instead? Symlinks don't work at all on windows, so cloning the site there will lead to very strange build issues.

https://gohugo.io/content-management/urls/#aliases

_Originally posted by @RealOrangeOne in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/121#issuecomment-1218133611_

[2022-08-17 19:32] elreydetoda commented on #301
This is really cool! I don't know if it helps at all, but I also listen to this podcast: https://talkpython.fm/friends-of-the-show/sponsors

And they talk about how they use: https://talkpython.fm/assemblyai

Also, for a transcript format @thechangelog has a really cool way they visualize it (but theirs is all done by hand (from my understanding)): https://changelog.com/backstage/24#transcript

An

[2022-08-17 19:49] #91 closed

[2022-08-17 19:56] elreydetoda commented on #244
Alright...so this is exactly why I thought we should have an artifact that we publish for the website. I was going to comment in Matrix when @ironicbadger mentioned we didn't need one, and say something like I disagree because it gives us debugging capabilities by just pulling it down on our local machines.

Something like that would be invaluable right now...so, on the main new.JB.com website it'

[2022-08-17 20:00] elreydetoda commented on #244
Also, just found this discrepancy... :open_mouth:

![image](https://user-images.githubusercontent.com/10230166/185231696-cde6f1f3-e77c-45b2-b30e-e8737e5ee878.png)

[2022-08-17 22:08] elreydetoda commented on #286
Based on [this issue happening](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/304#issuecomment-1218535937), we need to validate the expected page isn't set to draft. When someone is doing a PR, they should include tests in the CI for ensuring this.

[2022-08-17 23:39] StefanS-O commented on #154
So i created a new repo here:

https://github.com/JupiterBroadcasting/archive.jupiterbroadcasting.com

It works the same way as the main site. I also extracted the JB Hugo theme to it's own repository here:

https://github.com/JupiterBroadcasting/jb-hugo-theme

I added the Github Actions and deployment (to my server at the moment):

https://archive.jupiterbroadcasting.net/

There is also a child t

[2022-08-18 01:58] theZMC commented on #225
[Demo here.](https://jsfiddle.net/3yfzxsL2/244/)

Got a mockup and a working demo incorporating a few of the suggested changes. Got some more optimizations I want to make for mobile before I call this ready, but y'all take a look at what I've got so far and tell me what you think/suggest additional changes before I start chopping away at the hugo template:

<img width="1446" alt="image" src="https

[2022-08-18 09:51] pagdot commented on #301
@elreydetoda

I'll give it a try :) Pricing looks reasonable. I gave it a test drive and documented the results in <https://gist.github.com/pagdot/0a5f3037c6ee2d9ba5d5088af8f9a67d>

On first glance it looks better than YT + Watson (and has proper punctuation). When taking a deeper look, both have issues at different places. This could maybe improved by combining the result of multiple engines some

[2022-08-18 10:27] elreydetoda commented on #285
So I know you said code, but just want to clarify, the website repo isn't based off of that one. It was based off of @StefanS-O 's repo [here](https://github.com/StefanS-O/jupiterbroadcasting-hugo-mvp) (which has no license in the repo).

The scraper repo will probably have to stay GPLv3, since it's derived work from the repo the @RealOrangeOne mentioned.

I think the only thing the scraper repo h

[2022-08-18 10:46] elreydetoda commented on #301
Ya, I could see that. I'm curious of they do that to ensure if you go to share it it'll properly show the text for the transcript when someone navigates to it. 🤔

Like this link you can get by clicking on one of their names: https://changelog.com/backstage/24#transcript-22

[2022-08-18 10:48] pagdot commented on #301
could imagine it IRC/text based where the person is on the left of the transcript

[2022-08-18 11:06] elreydetoda commented on #301
Also, changelog has a Practical AI podcast which might have some more solutions for this. I haven't listened to a lot, but it is pretty good and they talk about some pretty cool technical details. They might have an alternative we could use in their back catalog: https://changelog.com/search?q=practical+ai+text

[2022-08-18 12:08] ironicbadger commented on #294
- [x] matrix
- [ ] ...?

[2022-08-18 12:20] ironicbadger commented on #244
Haven't tried rclone yet - for 1.0 milestone we'll stick with the method the sysadmin here understands best (container). Not ruling out changes to s3 etc in future but I was advised by @gerbrent a real web server is needed for more advanced functionality somewhere? Not sure what though.

[2022-08-18 13:51] pagdot commented on #239
Should be fixed now with the merge of #305

[2022-08-18 15:57] EricRakestraw commented on #285
From an end-user perspective, the choice of OSS license shouldn't make a difference here.

Any OSS license will allow others to use the code internally, modify it, extend it, incorporate it into their deployment pipeline, and so on. The differences between GPL and the permissive licenses (MIT, etc.) take effect upon _distribution_ of the software, which is an unlikely use case for backend code tha

[2022-08-18 16:50] elreydetoda commented on #46
no more :slightly_smiling_face:
![image](https://user-images.githubusercontent.com/10230166/185450765-e52b1714-4919-4373-a6a1-ec34c12ed44f.png)

[2022-08-18 16:50] #46 closed

[2022-08-18 16:50] StefanS-O commented on #302
Or module mounts:

https://gohugo.io/hugo-modules/configuration/#module-config-mounts
[code]

[2022-08-18 16:53] elreydetoda opened #306 "Enhancing subscription pages"
Like I mentioned above someone will have to add all the data, and pasting to-dos here from PR (for ease of reading):

future to-dos:
- [ ] swap out fireside images with local ones
- [ ] remove/fix Google Play links (src: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/291#discussion_r946883932)
   - [ ] if removed also remove image: https://github.com/JupiterBroadcasting/jupite

[2022-08-18 16:55] elreydetoda commented on #66
Now the main thing for this issue is content for all the subscribe links. I've updated the tags to reflect that, but there is no `content` label (which might be helpful for new people to filter on). I've also created a seperate issue for future enhancements (#306)

[2022-08-18 17:04] elreydetoda opened #307 "Alternative Prod Deployment options"
Haven't tried rclone yet - for 1.0 milestone we'll stick with the method the sysadmin here understands best (container). Not ruling out changes to s3 etc in future but I was advised by @gerbrent a real web server is needed for more advanced functionality somewhere? Not sure what though.

_Originally posted by @ironicbadger in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/24

[2022-08-18 17:04] elreydetoda commented on #244
based on @ironicbadger's comment [here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/244#issuecomment-1214191159) & the last one I'm closing this issue and opening a new one (#307) for future investigations.

[2022-08-18 17:04] #244 closed

[2022-08-18 17:07] elreydetoda commented on #208
I think this can be closed because of this: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/254

Right?

[2022-08-18 17:09] elreydetoda commented on #162
Should we just make a new issue for fixing mobile since these are now implemented (as per description [here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/162#issuecomment-1213356014))

[2022-08-18 17:47] gerbrent commented on #302
From what I gather, this is a development topic, yes?
Also, I see some coder-radio sub-site references there, did we miss some in the solving of #277 ?

Trying to sort this issue a little, so if you feel some tags would help or an edit of the title please feel free!

[2022-08-18 19:12] gerbrent commented on #162
Yep! New issue feels appropriate.

Also: great work on this one!

[2022-08-18 19:26] histamineblkr opened #308 "Missing padding on Shows Home Page"
It’s probably in a class or padding config (css/sass/or?) somewhere, but left padding seems to be missing. It was present on any show I clicked on.
![DB300CCC-6A16-48D1-BE9D-5555F5ADEF19](https://user-images.githubusercontent.com/5628330/185477784-6628f04f-04e8-422d-be48-5a76369cda37.jpeg)

When I’m not working and free, I can try to chase down the config and make a PR, but figured I get this writ

[2022-08-18 19:27] gerbrent commented on #66
Definitely not our copy:

![image](https://user-images.githubusercontent.com/7018928/185477940-2a9c68c2-9b9e-4aa8-b2fe-c11002ebeda5.png)

; )

[2022-08-18 19:31] gerbrent commented on #239
thanks @pagdot !

[2022-08-18 19:31] #239 closed

[2022-08-18 19:35] kd2flz commented on #294
yeah, just noticed this. The "live" link still redirect to https://jb-live.jupiterbroadcasting.net/

[2022-08-18 19:37] gerbrent commented on #294
see #161 for a slightly more complete list...

[2022-08-18 19:40] gerbrent commented on #294
I really wish someone could do #233 that would likely solve some of these.... (maybe I should learn how ; )

[2022-08-18 19:42] gerbrent opened #309 "Menu - "Live" link still redirect to https://jb-live.jupiterbroadcasting.net/"
The "live" link still redirect to https://jb-live.jupiterbroadcasting.net/

_Originally posted by @kd2flz in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/294#issuecomment-1219876155_

[2022-08-18 19:43] kd2flz commented on #294
I'll look at #233 this evening. Not sure if it's within my skillset, but worth a shot for sure.

[2022-08-18 19:47] elreydetoda commented on #294
@gerbrent I had a question I'd posted on that issue (#233), to clarify what you were wanting from it, and I was going to do it so I could also just close #300

[2022-08-18 20:33] gerbrent commented on #233
oh sorry, my description wasn't clear enough. Adding to the initial comment to clarify.

[2022-08-18 20:35] gerbrent commented on #233
^ added this

[2022-08-18 20:37] gerbrent commented on #233
this url would be completely acceptable, but is not the main intention of this ticket.
The main intention is to address the many little inconsistencies and errors we are getting from having `jb-live` have it's own `config.toml`

[2022-08-18 20:39] gerbrent commented on #294
oh sorry! question answered (hopefully satisfactorily)

@kd2flz: ok to let @elreydetoda take #233 since he's hugo-skilled, which will likely be essential on this one?

[2022-08-18 21:43] histamineblkr commented on #308
On full screen desktop it looks fine:
![image](https://user-images.githubusercontent.com/5628330/185500365-d45674af-1d56-4438-99c6-0c4cba36f1de.png)

but when we minimze, we see the padding is nearly 0:
![image](https://user-images.githubusercontent.com/5628330/185500442-4bf9d465-d2d8-40b5-ae17-7a8122c39884.png)

[2022-08-18 21:49] gerbrent commented on #309
potentially fixed by #233

[2022-08-18 21:49] histamineblkr commented on #308
Looks to be the `container` class. Maybe specifically:
[code]
`margin-left: auto` perhaps?

[2022-08-18 22:25] histamineblkr commented on #308
This is probably a very low priority since there are 84 other open issues. If I knew what to change, I would create a PR, but I am unsure. I may create a dev instance and try to figure it out since I do have docker setup with web access I could mess around with.

[2022-08-19 00:18] elreydetoda opened #315 "fix mobile for menu rss entry"
Should we just make a new issue for fixing mobile since these are now implemented (as per description [here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/162#issuecomment-1213356014))

_Originally posted by @elreydetoda in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/162#issuecomment-1219732432_

_Created based on [this confirmation](https://github

[2022-08-19 00:19] #162 closed

[2022-08-19 00:22] elreydetoda commented on #302
Yes, I think that'd be an appropriate label

I don't think so, this is the link to the most recent config.toml file: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/8c174b85b299b1cf5de55e20f65a3280eebfc9ed/config.toml and I `Ctrl+f`'ed the page and didn't find a mention of it.

[2022-08-19 00:28] elreydetoda opened #316 "Kiwi IRC not working properly"
I'm getting ready to submit a PR for #233 and it's related issues, and I went to go test the functionality of kiwiirc.com's embed and it gave me a 502 error on the new site. So, without my PR the embed is broken (just wanted to make note of it before I submit my PR and gets merged :sweat_smile: )

![image](https://user-images.githubusercontent.com/10230166/185516985-04f688af-dc6e-4498-a0bc-7b0c131

[2022-08-19 01:01] elreydetoda commented on #244
Will need to create a separate issue but wanted to note before I forgot. During this [deployment issue](https://matrix.to/#/!rDlEtonuSythLzmxQL:jupiterbroadcasting.com/$yTr0VQNURd0Ua6vyhUgDpmXkLsqBF91ziveP64eeuh8?via=matrix.org&via=jupiterbroadcasting.com&via=matrix.suorcd.us)

@ironicbadger and I talked about that it would probably be a good idea to still create a docker container artifact (image

[2022-08-19 01:08] elreydetoda opened #318 "Removal of extra stuff from repo"
So, while doing #317 I noticed that there probably are some folder we can remove. I don't know if we should wait till we get some type of test implemented though before we start removing a bunch of stuff from the site... :thinking:

So far this is what I think could probably be removed (didn't try it but don't know what it's used for):

- `themes/sub`
- `themes/jb/assets/css/libs/twitch.sass`
- `t

[2022-08-19 03:37] elreydetoda opened #319 "Non-safe URL linking from tags"
While attempting to do #257

I found out we have `#` signs throughout our tags, and this isn't being handled properly in  hugo's output as well.

On this episode: https://new.jupiterbroadcasting.com/show/coder-radio/428/

They reference `c#` the programming language. I found out it's actually linking to the `tags/c` because it's thinking the `#` is used for an html reference to an id (or something

[2022-08-19 03:48] elreydetoda commented on #319
What it should link to:

![image](https://user-images.githubusercontent.com/10230166/185538868-62d48bfd-bfb7-4aab-9042-41519b54fbac.png)

[2022-08-19 03:56] elreydetoda commented on #257
Ran into an error while trying to deploy this personally... :disappointed:

![image](https://user-images.githubusercontent.com/10230166/185539172-d6b85cef-8fbf-4ea5-9c0f-5c6d2cb5cbbb.png)

Another example of someone running into this: https://discourse.gohugo.io/t/sanitizing-category-names/11087

relevant part from deploy:
[netlify-deploy.log](https://github.com/JupiterBroadcasting/jupiterbroadcas

[2022-08-19 07:11] reclaimingmytime commented on #316
I mentioned this issue in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/163#issuecomment-1207173045.

Once https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/317 is merged, I can take a look at replacing the old Kiwi IRC client with the "next client".

[2022-08-19 11:53] elreydetoda commented on #319
I've tried every way I can think of to fix this (without changing the content) and it's not working...
This one talks about how it should work: https://discourse.gohugo.io/t/url-encoding-percent-encoding-with-hugo/16546/11 but even with the `urlquery` (which is the only one that properly encodes it with `%23`) it's still redirecting me to `tag/c/#/`...

The only other alternative to my knowledge w

[2022-08-19 12:08] elreydetoda commented on #285
From a practical standpoint this sounds like it could be right (definitely not a lawyer 😅), but one thing I've heard about is that some companies won't even consider allowing an employee (even on personal time) to use a project that has a more restrictive GPL license. I've had a friend tell me I had to change this license to, at minimum, something like: GNU Lesser General Public License v3.0

So h

[2022-08-19 12:34] #309 closed

[2022-08-19 12:34] #233 closed

[2022-08-19 12:34] #278 closed

[2022-08-19 12:45] reclaimingmytime commented on #318
Maybe the 5.32 MB stars background we don't use anymore is "extra stuff"? https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/static/images/backgrounds/stars.jpg

Reducing the repo size should also speed up cloning the repo.

[2022-08-19 12:48] elreydetoda commented on #257
I'm going to move this to 2.0, since we're hitting issue #319 and it's not vital to launch with this.

[2022-08-19 12:51] elreydetoda commented on #319
I'm actually going to move this to 2.0, since it's not vital to launch with this fixed.

[2022-08-19 13:01] reclaimingmytime opened #320 "Hosts and Guest Page: Shows are listed twice"
On the host page, at the moment, every show is listed twice.

For example, Chris' page:
https://new.jupiterbroadcasting.com/hosts/chris/
![image](https://user-images.githubusercontent.com/35609464/185622811-506f60a2-db38-4a7c-8bef-033978b7192e.png)

The first link links to the show page, the second link to the hosts page (_/hosts_).

The same is true for the guest page.
https://new.jupiterbroadcas

[2022-08-19 13:39] elreydetoda commented on #320
...I think I know why this happened...because `/hosts` (off of the show) is just a symlink to the `_index.md` file above it...so they're both match that criteria... :facepalm:

I'd originally used that because that's how things were getting filtered before, and I couldn't test for that because they were in different commits/branches and they were merged to main separately but in a similar time fra

[2022-08-19 13:41] CGBassPlayer commented on #308
That would be my fault. After someone introduced the icons, they were stretched across the show description and it did not look good at all. I pushed them closer together and kind of forgot about it.

I can work on this with my plan to keep the icons close together, just center it across the description.

[2022-08-19 14:06] reclaimingmytime commented on #316
The Kiwi next client connects fine on my local system and I don't get the "xhr poll error" anymore.

The only downside is that the color of the login form doesn't fit with the rest of the page:

![image](https://user-images.githubusercontent.com/35609464/185636342-78aee120-62da-4a9f-b1fb-cc53208bda60.png)

Is this something we can accept?

[2022-08-19 14:13] anthr76 commented on #307
Just listened to the last office hours, and I had to dig up this issue that was spoken of. First I must say the website looks awesome and is a huge upgrade to what's existing now!

That being said I did hear that folks would like to practice the KISS principle and I do think having a CI job to push to a lindoe is a bit overly comlex for a hugo site. :)

For example GitHub pages can statically host

[2022-08-19 14:33] ironicbadger commented on #307
@gerbrent

[2022-08-19 15:18] elreydetoda commented on #316
Just tagging some relevant people.

@Lord0fBytes  & @reesericci had been doing a bunch of design stuff.

@gerbrent  had been the main JB contact.

@reclaimingmytime , if you don't mind doing a ["Draft PR"](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-pull-requests#draft-pull-requests) against the repo that'd let p

[2022-08-19 15:21] reclaimingmytime commented on #316
@elreydetoda A draft pull request is a great idea. You can find the change in #321

[2022-08-19 16:08] elreydetoda commented on #307
I don't know what it was that he was referring to, but one example of where having a webserver is better (if we didn't have cloudfront in front of the site (because they let you handle redirects as well using them IIRC)), and were just on GH pages is this situation: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/300#issuecomment-1218119199

The cloudfront + GH pages w/hugo is

[2022-08-19 16:17] anthr76 commented on #307
I think pushing previews on a server makes more sense IMO.

That would make sense it would be good to know that limit.

Overall I think pushing to linode is okay if there's a usecase, and regardless of where it's hosted I think it should be fronted by cloudflare. I suppose it's good to know the options

[2022-08-19 16:20] reclaimingmytime commented on #306
@elreydetoda Is there currently a way to get to the subscribe page without appending _/subscribe_ to the show name? E.g. https://new.jupiterbroadcasting.com/show/linux-action-news/subscribe/ displays the page, but there doesn't seem to be any link to that page

If there's not a link already, that's something to put on the list as well.

[2022-08-19 16:38] ironicbadger commented on #307
To be perfectly honest, I do not want to be on the critical path at 2am. Self-hosted is nice and got us unblocked in the beginning but if we can concoct a more performant, flexible solution I'm *all ears*.

[2022-08-19 16:40] anthr76 commented on #307
In that case at some point I can submit a PR for GH pages enablement and temporarily host it on yet another sub domain (or the one GitHub) provides. to see what's broke.

The cost aspect is a great point @ironicbadger and something I forgot to add in my OP but thought about

[2022-08-19 17:12] elreydetoda commented on #307
That'd be awesome @anthr76 ! I know I personally would prefer GH pages because it's essentially serverless (like you'd mention). Also, because it's so hands off for deployment and management 😁

Also, whenever your doing this IIRC there are going to be some setting which need to be tweaked in the repo. So if you don't mind documenting those steps you do in the `docs/` folder when you go to submit t

[2022-08-19 17:15] elreydetoda commented on #306
Gah...asking me to think about things...I just do what I'm told... 😅🙃

Ya, you're right @reclaimingmytime I just added it. That's a good question though (for @gerbrent or anyone who's more design focused)

Where/how do we want to link to that page for each show/episode?

[2022-08-19 23:01] reesericci commented on #122
I had no idea that you could retrieve the latest stream from the API (even though i've looked for exactly that in the docs). Could this work for putting an alert on the page as described in #41 ?

[2022-08-19 23:01] reesericci commented on #122
and #34

[2022-08-19 23:07] reesericci commented on #293
This would be great (as read/write) to replace the IRC client once GammaBot takes over

[2022-08-19 23:21] reesericci commented on #307
Maybe deploying the site on cloudflare pages/workers could work well. Also we had discussed using Netlify at #173

[2022-08-20 00:10] reclaimingmytime commented on #306
I'm not a designer either, but at least from a user experience perspective, including the subscription button on the [show](https://new.jupiterbroadcasting.com/show/coder-radio/) and [episode](https://new.jupiterbroadcasting.com/show/coder-radio/479/) page makes sense.

![Screenshot 2022-08-20 at 02 06 13](https://user-images.githubusercontent.com/35609464/185721368-e1a2d08d-58e1-4c2b-b1af-5d2562d

[2022-08-20 03:30] elreydetoda commented on #60
I think the Plausible instance should be added. It looks like this is the second time (within this week) that it's been down.

I've just added it to my https://uptimerobot.com/ instance (till it gets added to the main JB one) so I can personally track when it goes down.

![image](https://user-images.githubusercontent.com/10230166/185727262-7d58f988-3eec-49b0-bf69-bf4493463526.png)

[2022-08-20 09:19] #320 closed

[2022-08-20 14:58] ironicbadger commented on #60
Doing a ton of backend infra work over here. And that plausible instance is only a test remember.

The real one is coming soon (tm).

[2022-08-20 16:22] EricRakestraw commented on #285
I have encountered this as well. But it isn't rational, and I think it's less common than it used to be. People and companies are becoming more comfortable with the GPL.

In any event -- this licensing issue should be addressed sooner rather than later. We already have code from 20+ contributors, all made with no license in place. Choosing a license _after_ people have started contributing code is

[2022-08-20 17:49] TeamLinux01 opened #324 "Guest page is larger than viewport"
The page on my phone (Vivaldi on Moto G7 Plus) is slightly wider than the viewport when viewed with portrait mode.

![Screenshot_20220820-133907_Vivaldi_Browser.png](https://user-images.githubusercontent.com/43735175/185759918-f24d5e0e-9db2-4cc0-882c-14332d306c5b.png)

![Screenshot_20220820-134508_Vivaldi_Browser.png](https://user-images.githubusercontent.com/43735175/185759934-cef414ab-d515-4155-

[2022-08-21 19:19] StefanS-O commented on #23
I moved this to 2.0 it is not important for launch.

[2022-08-22 00:01] ozcoder opened #326 "Show carousel should use small images :zap:"
On the home page the Show carousel is seen very early on page load and so should be optimised. The first step would be to have images that are the correct size and also tell the browser their height and width. Modern browsers support other file formats and they can created pretty easily too. I have created a smaller show image and a WebP version of that too. In the future it would be great if thei

[2022-08-22 14:07] StefanS-O commented on #224
I added the links to Github, Matrix and jupiter.tupe issue tracker and also integrated an Edit this page button which takes you to the right file in the repo. @gerbrent i think for a first implementation it is ok:

![Bildschirmfoto 2022-08-22 um 16 07 13](https://user-images.githubusercontent.com/1253938/185941235-fc942b19-83c5-4efe-88f7-11bc311f3731.png)

[2022-08-22 14:42] #224 closed

[2022-08-22 17:24] reclaimingmytime commented on #208
I heard Wes verify that the HLS stream works on the latest LUP stream, and it works for me as well using an online HLS player.

![Screenshot 2022-08-22 at 19 18 43](https://user-images.githubusercontent.com/35609464/185981065-bce668dc-f50f-495a-9475-be56b5ef6882.png)

[2022-08-22 17:51] reclaimingmytime commented on #34
@reesericci From https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/122#issuecomment-1221154780:

Yes, we could to use that JSON API: https://jupiter.tube/api/v1/video-channels/live/videos?isLive=true&skipCount=false&count=1&sort=-createdAt.

The main downside is that the PeerTube API does not know the show name.

However, _PreviewPath_ in the API can be used for the preview ima

[2022-08-22 18:00] reesericci commented on #34
In the JSON you sent me, data.name exists

—reese

On August 22, 2022, Bananaman ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub
<https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/34#issuecomment-
1222718584>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AEVOPDQFH327GAWVDAH2GF3V2O42XANCNFSM52XMBSWQ>.
You are receiving this because yo

[2022-08-22 18:04] reclaimingmytime commented on #34
@reesericci

True. I guess instead of the show name, we can have the banner mention the entire stream name, e.g. "'Coder 480 - It's Microsoft's Move Now' is currently on the air".

[2022-08-22 18:11] reclaimingmytime opened #328 "PeerTube JavaScript included on every page"
When I look at the browser console on any page other than the live page (e.g. https://new.jupiterbroadcasting.com/sponsors/), I get the following error:

[code]

It seems to be that the code embedded in the _jb-tube.html_ partial is included on every page, not just the live page.

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/3216265083a3ea39b98950cc1443e49c4a981962/themes/jb

[2022-08-22 20:18] gerbrent commented on #328
nice investigative work!

[2022-08-22 20:22] #208 closed

[2022-08-22 22:09] CGBassPlayer opened #329 "Broken Links"
I have found a few broken links in the website. I am not sure if we can update the content while the show scraper is in

- [ ] [SSH 77](https://new.jupiterbroadcasting.com/show/self-hosted/77/)
  * West Coast Crew Matrix link has a typo (https://bt.ly/westcoastcrew)
  * [Aqara Wireless Smart Temperature Humidity Sensor](https://www.aqara.com/us/temperature_humidity_sensor.html) -  link is dead

-

[2022-08-22 23:19] gerbrent commented on #329
good finds! Lets make this a meta-issue™ to track all broken links..

[2022-08-22 23:21] gerbrent commented on #329
even created a new label, just for you @CGBassPlayer !

[2022-08-23 01:07] elreydetoda commented on #329
There is actually a tool that @canonical-web-and-design uses to check their links on their website(s) called [linkchecker](https://github.com/linkchecker/linkchecker)

It'd be awesome if we could automate it in a GH action to run like they do, but against the JB website: https://github.com/canonical-web-and-design/ubuntu.com/blob/e03513cf8b10d38569609a2fe18bcab4b38e019c/.github/workflows/live-link

[2022-08-23 02:14] gerbrent commented on #329
nice suggestion @elreydetoda . I'd be afraid of what it might report...... ; ) i.e.  many, many broken links, esp if applied to the archive.

[2022-08-23 02:37] CGBassPlayer commented on #329
I am actually using [SiteInspector](https://github.com/siteinspector/siteinspector) and using the new site to try it out. It checks spelling, grammar, and links. It also allows for custom rules (like checking for lorem ipsum). I am gonna do a full scan for links in the morning and report back what it tells me.

[2022-08-23 04:06] reesericci commented on #34
perfect! Does this make #41 obsolete then?

[2022-08-23 04:06] reesericci commented on #34
@gerbrent

[2022-08-23 12:53] elreydetoda commented on #329
So @CGBassPlayer , I think if we made the action separate from the deployment that would be best (similar to how the [E2E PR](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/325/files#diff-3e103440521ada06efd263ae09b259e5507e4b8f7408308dc227621ad9efa31e) is doing).

That way it can run on it's own schedule (maybe weekly) and doesn't affect the deployment (as you mentioned).

[2022-08-23 13:15] CGBassPlayer commented on #329
I've never used GitHub actions before, so I did not know it could do that! I think that would be great way to go about it for sure. I would love to see it auto-create an issue that had all the links in it possibly?

I also have the results from my siteinspector instance:
* Spelling Errors: `614` (This includes puns like "You're Gitting it")
* Grammar Errors: `32`
* Broken Links: `1419` (At a quick

[2022-08-23 13:17] elreydetoda commented on #326
So, how does this work when the images should resize depending on the screen size?

Ya, we just need to make sure we keep providing the older format as well in case the client's don't (like your example shows with the `picture` tag + `source`s).

I don't know how I feel about the regex... 🤔 I feel like there should be an easier way to handle that...like maybe putting the names in a slice and itera

[2022-08-23 15:00] ozcoder commented on #326
CSS **really** controls the size of the images displayed, the width and height are only hints to the browser about the possible size and ratio of it's dimensions. Media queries affecting CSS will change their size, but the numbers I used are the normal desktop dimensions.

My `picture` element would show WebP images (98% smaller) to most modern browsers (Safari real soon now), OR if they don't sup

[2022-08-23 15:29] GL513 opened #330 "Change Github Website Link?"
Unless the link is there for watching traffic stats, it would be nice to not have a redirect, which is only slowing down the actual page loading.

![GL513_22-08-23_11:26:50](https://user-images.githubusercontent.com/83085846/186199053-43573582-d159-4ffa-b234-0e855586f31f.png)

[2022-08-23 15:54] GL513 opened #331 "Feature Request: Add Discord iFrame for Self Hosted"
https://github.com/widgetbot-io/crate

This would be particularly helpful for people who want to have a quick view of the server without joining, and optionally, have guest access, and you can also login directly to the iFrame
![GL513_22-08-23_11:53:46](https://user-images.githubusercontent.com/83085846/186204726-cbc8849e-b7fa-45df-b557-f5bd8d07c49f.png)
![GL513_22-08-23_11:54:08](https://user-ima

[2022-08-23 16:10] GL513 opened #332 "Niche: Margin Problem"
I poked around and broke something sorta...

When setting outrageous dimensions, the margins don't want to work properly. the Dimensions are stated at the top of the screenshot, 700px wide, 4000px tall.
![GL513_22-08-23_12:08:02](https://user-images.githubusercontent.com/83085846/186208026-b7209ce9-0dfc-4193-954d-7d05c6c57429.png)

[2022-08-23 16:10] GL513 commented on #332
Don't mind the way the text being all squiggly, there's something wrong on my end that I can't seem to fix.

[2022-08-24 00:17] elreydetoda commented on #329
Ya, I could see this for something in the future once we get those numbers down consistently :sweat_smile:

Very nice :grin: Thanks for doing this!

Would you mind maybe posting all that info on this issue so we know what's affected?

You should able to do something like:

<details>
<summary>Pages Scanned: 9802</summary>
lots of things<br/>
listed here<br/>
that have a toggle<br/>
</details>

Whic

[2022-08-24 00:22] CGBassPlayer commented on #329
Absolutely! I'll have to see if there is a way to export a report.

Worst case scenario I will print the results html page to a PDF. But I will definitely get an attachment of some kind on this issue and update my original post according when I get home.

[2022-08-24 05:03] CGBassPlayer commented on #332
The icons not having the padding is related to #308 and I do plan on fixing that soon.

As far as the text not having the margins, good find in my opinion.

[2022-08-24 17:53] gerbrent commented on #331
nice suggestion!

[2022-08-24 17:54] gerbrent commented on #330
good catch!

[2022-08-24 17:55] gerbrent commented on #330
Fixed!

[2022-08-24 17:55] #330 closed

[2022-08-24 18:00] gerbrent commented on #329
This is really great @CGBassPlayer , thank you! 1000+ broken links.... I'm sure most of those were working at the time. Would be interesting to see about some archive.org integrations for broken links..........

[2022-08-24 18:22] reclaimingmytime commented on #329
@gerbrent

There's the Wayback Availability API.
https://archive.org/help/wayback_api.php

The API takes a domain and a timestamp, which could maybe be the episode's release date.
https://archive.org/wayback/available?url=example.com&timestamp=20060101

[2022-08-24 21:35] elreydetoda commented on #329
Also to go along with this:

They have a python library we can use (since we've kind of standardized on python): https://archive.org/services/docs/api/internetarchive/

[2022-08-24 21:42] elreydetoda commented on #329
For this...there is one kind of corner case that I've seen with archive.org.  Sometimes the most recent snapshot that's got a 200 HTTP Status code (meaning everything should be good) can have a completely blank page. Or the page responded with a 200, even though the request failed, so the archive.org scaper thinks everything is ok and it wasn't.

The only way I could think that we might be able to

[2022-08-25 04:05] gerbrent commented on #316
@reclaimingmytime - just did some local testing and it seems to work great and the colours are very acceptable. Especially since it actually is a functional client compared to the old Kiwi ; )

[2022-08-25 04:47] gerbrent commented on #160
opening this up for someone else to take, since.... I'm the block here.

I'm recommending that we link everything to `./membership`, since it'll give an overview of network membership options, which is a good thing.

[2022-08-25 05:00] gerbrent commented on #306
I really like this option:

![image](https://user-images.githubusercontent.com/7018928/186578543-9a383ddf-8f1a-4fa5-b694-8fbb7fab952d.png)

Anyone want to implement this?

[2022-08-25 05:03] gerbrent opened #333 "Subscription - add button to Episode pages"
I really like this option:

![image](https://user-images.githubusercontent.com/7018928/186578543-9a383ddf-8f1a-4fa5-b694-8fbb7fab952d.png)

Anyone want to implement this?
Each Episode page from a Show should link to the appropriate subscribe page, w similar button to the "Support" button.

_Originally posted by @gerbrent in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/306#

[2022-08-25 05:12] gerbrent opened #334 "Subscribe links - add each show's subscription information"
Subscription links need to be implemented for each Show.

@elreydetoda did work on the functionality, so this Ticket should be the manual work of copy-pasting appropriate link/URL content from Fireside pages into the appropriate Subscribe pages here.

@elreydetoda  adds helpful context:

_Originally posted by @elreydetoda in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/66#

[2022-08-25 06:23] #246 closed

[2022-08-25 10:29] DronSKM044 commented on #333
Hi! I want to try to resolve this issue.

[2022-08-25 11:44] ozcoder commented on #251
Maybe alphabetical too?

[2022-08-25 13:32] hack13 commented on #334
I have started working on this, however I have noticed while getting the links the "Google Play" version of the link goes to Google Music which those links are dead and say "This service has been retired for YouTube Music and Google Podcasts"

I request we drop the "Google Play" options and just leave the "Google Podcast" option.

[2022-08-25 14:19] reclaimingmytime commented on #334
@hack13 You are right, Google Play Music is something we still need to remove.

This is listed as the second bullet point in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/306

[2022-08-25 14:21] hack13 commented on #334
Submitted for review

[2022-08-25 15:19] gerbrent commented on #333
amazing @DronSKM044 - please do! Let us know if you need anything.

[2022-08-25 16:08] #316 closed

[2022-08-25 16:17] hack13 commented on #66
I am happy to take this on since I have already submitted a PR for #334 which is attached to this issue which would be a good pre-req for this.

[2022-08-25 16:53] gerbrent opened #337 "Subscribe - links should open in new window/tab"
Currently links to other podcast directories - i.e. Apple Podcasts, Castbox, etc -  in ./SHOW/subscribe open in the current window/tab. These should not take the listener away from the JB website, and thus should instead open a new window/tab.

https://new.jupiterbroadcasting.com/show/linux-unplugged/subscribe/

depends on #336
tracked in #66

[2022-08-25 16:58] gerbrent opened #338 "Subscribe - add Podverse to the list"
Add [Podverse](https://podverse.fm/) logo/button/link to the list of podcast directories on   ./SHOW/subscribe pages

https://new.jupiterbroadcasting.com/show/linux-unplugged/subscribe/

![image](https://user-images.githubusercontent.com/7018928/186725351-4d7f310d-c447-439d-b1f4-10b1e0820ea1.png)

[2022-08-25 17:03] gerbrent commented on #66
@hack13 - We've flagged this as a `meta-issue`, a place for discussion and listing tasks/issues that need doing on this particular topic.

Are you suggesting you would like to be the guardian, the chaperone, the trailblazer of the entire Subscribe pages?

If so, AMAZING! If not, which task would you like to handle w the above statement?

Also - I've been digging through this Subscribe issue to cle

[2022-08-25 17:10] hack13 commented on #66
Apologies, seeing how these all seem related to the subscription page specifically. I don't mind taking on cleaning up the way people were pointing out and requesting. However, getting it more ironed out Todo List of what exactly fully agreed upon actions items are.

Which I do see you have just added to the top of this issue... But I am happy to take them one at a time, might be better since I am

[2022-08-25 17:12] gerbrent commented on #66
That's a mighty fine approach. I'll keep creating concise todos as issues, and you (and others) can keep picking them up in bite sized pieces. Go team!

Might I suggest #337 as a natural next place for you to enhance your current submission?

[2022-08-25 17:28] hack13 commented on #337
Since this was an easy change related to the work I just did with #336 I have added this change to that same PR

[2022-08-25 17:42] gerbrent opened #339 "Office Hours - remove www from DNS"
Office Hours is the only Show URL in the network that requires/redirects to a `www`.
This seems silly and an easy fix.

currently https://officehours.hair/ -> https://www.officehours.hair/

We should just make it officially https://officehours.hair/ and drop the `www`

Likely a @ChrisLAS issue to solve on a DNS level, then one of us to propagate on the site here.

[2022-08-25 17:45] gerbrent opened #340 "Office Hours - implement more podcast directories"

[2022-08-25 19:01] hack13 commented on #338
It doesn't look like Podverse has a branding tool for button like this. The also from what I see don't have any branding guidance, would just taking their logo and putting it similar to "Podcast Index" work? I know some of JB staff has spoken with Podverse before, would you be able to approach them about this topic?

[2022-08-25 20:55] gerbrent commented on #338
@mitchdowney - Any thoughts on who we could talk to re the above branding?

[2022-08-25 22:09] gerbrent opened #341 "Office Hours - Show page contact button leads to 404"
"contact" link for [Office Hours Show page](https://new.jupiterbroadcasting.com/show/office-hours/) currently links to https://www.officehours.hair/contact  which doesn't exist, see #184

We should instead have it link to ./contact

We can decide later to move it to  https://www.officehours.hair/contact as is customary for the other Show pages.. based on decisions in #184

[2022-08-25 22:18] gerbrent opened #342 "menu - meta & enhancements"
Our menu needs a little love, ideas and thoughtfulness.

A few items to consider:

* [ ] in condensed hamburger view, there are a TON of items. Makes it difficult to navigate.
* [ ] the order of menu items should be considered

Other 🤔 thoughts / 💡 ideas?

[2022-08-25 22:19] gerbrent opened #343 "menu - when condensed into hamburger, RSS Feeds submenu not functional"
![menu - rss feeds](https://user-images.githubusercontent.com/7018928/186778088-34fc0e5b-b38a-47b4-99c6-715312a2f87f.gif)

[2022-08-25 22:27] reclaimingmytime commented on #339
I think a simple redirect from _www._ to the version without _www._ is preferable, so we don't break any existing links or bookmarks and people can stil type _www._ if they prefer.

[2022-08-25 22:35] gerbrent commented on #257
For now, I'm replicating this Netlify testing functionality locally with a new method that allows me to pull down ALL PRs as their own git branches using this nifty function:

``` git config --local --add remote.upstream.fetch '+refs/pull/*/head:refs/remotes/upstream/pr/*' ```

https://stackoverflow.com/a/44898860

Which in practice, allows:
`brent@x250 ~/c/j/jupiterbroadcasting-com (main)> git fe

[2022-08-25 22:53] reclaimingmytime commented on #343
Possibly a duplicate of https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/315

[2022-08-26 00:21] gerbrent commented on #343
nice catch, and embarrassing considering I suggested it's creation ; )

closing this issue.

[2022-08-26 00:21] #343 closed

[2022-08-26 01:03] TeamLinux01 opened #344 "Progressive Web App support"
Add PWA support to all or parts of the site so that pages can be cached to be viewed offline and the site could be "installed" on phones/computers.
Caching just the text/images of the entire site and maybe any audio content that is being played would be useful.

[2022-08-26 01:11] gerbrent commented on #34
You tell me! Sounds like a good way to go, but you likely have a better judgement of the best approach.

Simplistic, and straightforward via the Peertube API sounds useful and a reasonable way to solve this.

Thoughts?

[2022-08-26 02:06] gerbrent commented on #315
when condensed into hamburger, RSS Feeds submenu not functional

![image](https://user-images.githubusercontent.com/7018928/186778088-34fc0e5b-b38a-47b4-99c6-715312a2f87f.gif)

[2022-08-26 03:36] reesericci commented on #34
I personally like the PeerTube system - but the JBot idea has some benefits. It really depends on how committed JB is to using PeerTube for its live streams vs gammabot/jbot. The JBot would be able to alert the site immediately - so we could set up push notifs, and it's not dependent on peertube.

If anything, the PeerTube system is faster to implement and we can revisit this later. I'm saying go

[2022-08-26 03:40] reesericci commented on #234
I just saw this in my cloudflare dashboard, thought it might add to this convo:

![image](https://user-images.githubusercontent.com/19589006/186812614-dc2577c6-958b-455f-8e50-094246240b59.png)

[2022-08-26 03:42] reesericci commented on #344
Possible push notifications for going live could be cool - although this would only be possible with #41 or a peertube plugin, more discussion about this in #34

[2022-08-26 03:52] gerbrent commented on #34
I agree - Peertube is working great so far for our purposes so I think it's here to stay.

JBot is outdated (thus far, as you know) and being potentially replaced by Gammabot.
Gammabot is relatively new, and works fairly well so far but still needs more testing and features (potentially).

Lets do the Peertube option.
If anyone is willing to tackle that, say yay!

[2022-08-26 07:32] gerbrent opened #345 "Live page - stream links to open in new window/tab"
https://new.jupiterbroadcasting.com/live/

Would be great if the stream links (RTMP, HLS, YT, etc) when clicked would open in a new window/tab.

[2022-08-27 14:55] reesericci commented on #66
Maybe we could make buttons that have the same look & feel, to create consistency, but then add the brand icon & color to the button to keep it recognizable

[2022-08-28 00:34] gerbrent opened #347 "Castabox - can't play Coder Radio, LAN episodes on the Castbox page."
_Originally posted by @reclaimingmytime in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/336#discussion_r955473682_

@reclaimingmytime says:

I can't play any Coder Radio episode on the castbox page. (got there from the Subscribe page)

For example, when playing https://castbox.fm/episode/Apple's-Mob-Move-%7C-Coder-Radio-479-id2482150-id511480971?country=us, I get a "timed ou

[2022-08-28 10:32] ozcoder commented on #326
Rest of the images
[slides.zip](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/files/9439478/slides.zip)

The WebP images could be smaller, but some colours get blurry, so these I think are best.

[2022-08-28 23:07] reclaimingmytime commented on #347
After looking a bit more into this, I believe the issue is that Chrome automatically "upgrades" the network request to play the video file via HTTPS, which Scale Engine does not support.

The _castbox.fm_ link from above plays just fine in Firefox. Firefox allows a plain-text HTTP connection, but shows an insecure padlock icon ![image](https://user-images.githubusercontent.com/35609464/187097925-8

[2022-08-28 23:42] reclaimingmytime commented on #160
I can contribute this change.

[2022-08-29 10:36] reclaimingmytime commented on #341
I'm going to link this just to _/contact_ for now.

We might change it to auto-select the correct dropdown in the contact form when we implement https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/206.

[2022-08-29 10:57] reclaimingmytime commented on #341
I made the change locally, but I'm going to wait until https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/348 is merged so we don't run into any merge requests with the file `office-hours/index.md`.

[2022-08-29 19:18] #160 closed

[2022-08-29 19:31] gerbrent opened #349 "dev - slow render of pages in docker dev environment"
Dev testing on my current hardware is rather slow while navigating the website in-browser.

I am using `make dev` to run a testing environment, navigating the webpages pins my CPU to 100% and must wait several seconds for any *new* page to load, as in any page that hasn't been previously loaded.

![high cpu hugo serve](https://user-images.githubusercontent.com/7018928/187281805-53b9c905-8b6a-4f86-

[2022-08-29 19:34] gerbrent commented on #341
merged, so go ahead @reclaimingmytime  - in the future, you can make a draft PR so at least we can review it, and improve the PR approval workflow. But, this works.

[2022-08-29 19:40] reclaimingmytime commented on #341
Right, I keep forgetting that's an option. 😅

I guess I could have committed the changes to a new branch in my fork and create a pull request from that branch, then merged the master branch into the feature branch to avoid conflicts. I wouldn't need a draft pull request then.

[2022-08-29 19:43] reclaimingmytime commented on #34
@reesericci Do you have the HTML code of the mockup you made from the screenshot in the first post? That might be so someone working on this feature doesn't have to re-create that alert.

[2022-08-29 19:49] DronSKM044 commented on #333
Hi, guys. Three days ago I sent resolved issue. If something is wrong, please give me feedback. If everything is ok, I want to continue helping you with other issues.

[2022-08-29 20:16] gerbrent opened #351 "Footer items - some leftover cruft?"
I came across these footer-left entries in `config.toml` while taking a critical look at the footer:

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/2fe5a3969c1a36cb4fc145a6aa080daeb2b04837/config.toml#L164

They, however, do not match the current entries in the footer (and several of them are outdated, i.e. kiwi IRC not using KiwiNext, Telegram link referencing jb.com, etc.

[2022-08-29 21:10] gerbrent commented on #341
right! that's even better..
🎉

[2022-08-29 21:32] gerbrent commented on #333
I see it!
We don't always test or merge PRs right away, since it's nice to have a few people who are experts in that area have a look. Unfortunately, many of us have been pretty busy w other priorities - some w work, some w other pressing issues around the website code here, but certainly doesn't mean we don't value your contribution.

Your addition is appreciated!

I also commented a few in the P

[2022-08-29 22:44] reesericci commented on #34
Unfortunately I don't have it anymore. It was just some inspect code.

[2022-08-30 01:36] elreydetoda commented on #349
So, I was curious about what we could do about this, and I found this forum post: https://discourse.gohugo.io/t/slow-build-times-past-1min/26623/2

So, then I ran this command (after searching through the help): `hugo serve -D --templateMetrics --templateMetricsHints`

Which gave me this:

[code]

Might help if you run the same command on your system @gerbrent (without the make dev), just to see w

[2022-08-30 01:38] elreydetoda commented on #163
Closing this out since all tasks are done on this issue :grin: :partying_face: :rocket:

[2022-08-30 01:38] #163 closed

[2022-08-30 08:45] DronSKM044 commented on #333
Ok. I understand, no problem :). I left a few comments in the PR

[2022-08-30 22:03] genebean opened #356 "Menu hidden behind address bar on Safari"
The bottom of the menu never comes above the address bar on Safari on iOS. This is scrolled all the way down:

![F1020C49-6C54-4D61-9B2A-0BD50258C940](https://user-images.githubusercontent.com/966789/187551697-746b027d-8a23-441a-8f20-bb40aef65d9c.png)

Firefox does not have the same issue.

[2022-08-30 22:08] genebean opened #357 "Footer has a placeholder in the center"
I can’t imagine this is intentional

![F3C797DD-C0CB-4F24-A36A-BF0029A940D7](https://user-images.githubusercontent.com/966789/187552351-47ac26a0-980b-45ca-b69f-5261845e276c.jpeg)

[2022-08-30 22:10] elreydetoda opened #358 "subdomain www.jupiterbroadcasting.com certificate error"
Because @ironicbadger said the strict enforcement during this: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/292#issuecomment-1216730781 (which is good to have)

There is a certificate error on the www. subdomain:

![image](https://user-images.githubusercontent.com/10230166/187552210-c2d8a917-c953-4d4d-bac5-fc121e1953b9.png)

Should be fixable by using cloudflare pages (men

[2022-08-30 22:41] elreydetoda commented on #16
Now with this https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/355 & https://github.com/JupiterBroadcasting/infra/pull/5 and validating with the picture below we can now close this issue! :partying_face:

![image](https://user-images.githubusercontent.com/10230166/187555944-c2234085-732b-41ee-b61c-6d12a81bb8a1.png)

Thanks @TeamLinux01 for submitting this :grin:

[2022-08-30 22:41] #16 closed

[2022-08-30 22:57] ironicbadger commented on #358
We've moved the site to `www` and the root will shortly redirect there too.

https://github.com/JupiterBroadcasting/infra/pull/6

[2022-08-30 22:57] #358 closed

[2022-08-31 00:33] BeardedTek opened #360 "Front page rendering errors on mobile chrome"
Not sure exactly what's going on, but if a picture is worth 1000 words, then a couple video clip have to be worth a novel.

Mobile Chrome 104
Android 12
Samsung Galaxy S20+

I have cleared storage and cache, force stopped chrome and tried to reload the page but it still happens

https://user-images.githubusercontent.com/93575915/187566469-d7e18c73-98d5-4fff-aaa1-2f21c06624ee.mp4

If I navigate to

[2022-08-31 01:59] PencilShavings opened #361 "404 page not found"
Visiting http://jupiterbroadcasting.com returns `404 page not found`.

[2022-08-31 03:11] ironicbadger commented on #358
We have decided not to do anything with the domain root at all. All traffic is going to www and @ is now defunct.

[2022-08-31 03:16] suorcd opened #362 "home carousel - should wrap around"
As a user of the website, I expect that the carousel would wrap around when reaching the end of the list.

[2022-08-31 03:41] suorcd opened #363 "home carousel - arrow activate area too small"
As a user, when pressing the arrows I more often than not press on the show.

The arrow should have a transparency area behind it that activates the arrow.

[2022-08-31 03:46] suorcd opened #364 "Hamburger menu mobile scrolling issues"
On iOS Safari and Firefox in developer mobile mode, the menu seem to loose its focus for scrolling.

Here is a demo of it working and then not after some usage.
[menu-scrolling-issue.webm](https://user-images.githubusercontent.com/60907848/187588237-c2a70176-e985-4dd1-8e18-ad8f39e6e9a4.webm)

[2022-08-31 03:49] suorcd commented on #361
I can reproduce this

[code]

[2022-08-31 04:05] suorcd commented on #357
It is also on the desktop website.
![Screenshot from 2022-08-30 21-03-58](https://user-images.githubusercontent.com/60907848/187590337-5fb6ff45-8bde-4e5e-8051-a9a5ab81ddcf.png)

[2022-08-31 07:30] PencilShavings commented on #361
The site is reachable using the www subdomain. The redirect from just the base domain is either broken or not setup.

[2022-08-31 10:44] elreydetoda opened #365 "Scrape not triggering deployment"
I noticed (since I was looking for breakages) that when the [last scrape action happened](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/commit/e708639b2fac63754911954f556a59503c2e9fad), that it didn't trigger a "Deploy to Production" action... :thinking:

You can see there is no :heavy_check_mark: or :x: next to the deployment:

![image](https://user-images.githubusercontent.com/1

[2022-08-31 12:31] elreydetoda opened #367 "scraper not working properly after domain change"
linking to https://github.com/JupiterBroadcasting/show-scraper/issues/29

so people on this repo know the scraper isn't working right after the deployment.

[2022-08-31 13:10] elreydetoda commented on #358
Since that means the APEX domain is no longer getting used now, can we not use [CNAME flattening](https://developers.cloudflare.com/dns/additional-options/cname-flattening) now?

[2022-08-31 13:11] elreydetoda commented on #361
Yep, this is happening because of [this](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/358), trying to get it resolved with [this](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/358#issuecomment-1232918182)

[2022-08-31 13:16] elreydetoda commented on #363
Duplicate: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/186#issuecomment-1205473457

[2022-08-31 13:16] #363 closed

[2022-08-31 13:40] elreydetoda commented on #360
wow...I hate browsers.... 🤦

Have you tried in an incognito tab? ( only other thing I could think of, even though clearing the cache should have fixed it...)

[2022-08-31 13:43] BeardedTek commented on #360
Well, now this morning it is only accessible from www.jupiterbroadcasting.com and it works.

[2022-08-31 13:44] elreydetoda commented on #356
So, Firefox on Android initially has the menu hidden:

![Screenshot_20220831-094226_Firefox.jpg](https://user-images.githubusercontent.com/10230166/187693261-fbbaa22b-ad88-42b2-8a35-ece5dce26569.jpg)

But if I swipe up again (after I get to the bottom) it goes away

![Screenshot_20220831-094252_Firefox.jpg](https://user-images.githubusercontent.com/10230166/187693362-ae2bda81-0ada-4b2d-be61-f58f45

[2022-08-31 13:50] elreydetoda commented on #360
Yep, that's currently expected (related: #361)

Do you mind closing this issue @BeardedTek, since it sounds like this issue is resolved? If it's not please let us know what else is going on related to this issue :slightly_smiling_face:

[2022-08-31 13:50] BeardedTek commented on #360
I know especially mobile chrome does some weird stuff with caching.  When developing my site I swear there's a secret cache you can't clear.

[2022-08-31 13:50] #360 closed

[2022-08-31 13:52] elreydetoda commented on #364
stop opening and closing the menu so much! 🤣 (just kidding)

wow...yay for browsers, this'll probably be an eventually fixed issue. I personally have no idea what's going on :sweat_smile:

[2022-08-31 14:50] ironicbadger commented on #358
Nope!

<img width="320" alt="image" src="https://user-images.githubusercontent.com/2773080/187708803-910f142a-7778-4397-ba51-36215edb7567.png">

[2022-08-31 19:34] elreydetoda commented on #358
I think this is because you were following the [paid account steps](https://developers.cloudflare.com/dns/additional-options/cname-flattening#for-all-cname-records), but if you'd done just a cname record with the proxied DNS from apex domain -> www. it should have worked (instead of trying to access the "Flatten CNAME at root" option (which is only good for grey cloud resolutions according to the

[2022-08-31 21:11] ironicbadger commented on #358
Putting all JB DNS in Terraform sounds like a great idea. I made a start but never properly finished [here](https://github.com/JupiterBroadcasting/infra/tree/master/terraform).

Thank you for your incredibly detailed note above I will reach out to your shortly to implement.

[2022-08-31 21:26] suorcd commented on #361
The page appears to redirect properly.

[2022-08-31 21:28] reclaimingmytime opened #368 "Redirect jblive.tv"
http://jblive.tv redirects to the old WordPress URL: https://www.jupiterbroadcasting.com/1030/jblive/

This should redirect to https://www.jupiterbroadcasting.com/live/

[2022-08-31 22:47] histamineblkr commented on #308
@CGBassPlayer nice sounds good. When you have that specific commit do you mind posting it or tying it to this somehow so I can see what you did to fix this issue?

[2022-08-31 23:31] CGBassPlayer commented on #308
Absolutely! I haven't been able to do it just yet (life got in the way last week), I'll make sure the PR I include it in is mentioned here.

[2022-09-01 02:33] ChrisLAS commented on #368
DNS has been updated, and it looks like it's already working on my end.

Nice catch :heavy_check_mark:

[2022-09-01 02:33] #368 closed

[2022-09-01 02:34] gerbrent commented on #361
Appears resolved.. closing!

[2022-09-01 02:34] #361 closed

[2022-09-01 03:55] elreydetoda commented on #161
jblive.tv is now taken care of with: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/368

[2022-09-01 04:50] elreydetoda commented on #358
Oh, I didn't know you felt that way 😅 I thought that you just wanted to ansible all the things instead of using terraform. I'd be happy to help contribute with that plan (if that's ok 🙃)

<br />

(Longer term topic)

I don't know how JB currently does server deployment, but there's actually a pretty cool way to tie in terraform deployed servers with ansible 😁. Then you can just reference those dep

[2022-09-01 05:18] gerbrent opened #371 "deploy after scraping - not deploying despite successful scrape"
Noticed a behaviour:

There has been a successful "scrape & commit" action on Coder 481 [here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/commit/1e4fac76e1a10a55edcf1f429f3507de69a5e13f) about "17 hours ago"

Great! (despite other unrelated issues  #367 )

This, however, is not being pushed into production at time of scrape, and thus [Coder 481](https://github.com/JupiterBroadc

[2022-09-01 05:21] gerbrent commented on #371
I will do a manual deploy to prod via workflow run to publish Coder 481.

[2022-09-01 05:25] gerbrent commented on #371
[Deployed](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/actions/runs/2969089729) and Coder 481 now published 👍🏻

[2022-09-01 05:47] gerbrent commented on #365
possible duplicate: #371

[2022-09-01 05:54] gerbrent commented on #371
related: #215 #365 #366 #367 (possible duplicate)

[2022-09-01 06:25] ironicbadger commented on #358
I don't see the value personally of deploying the servers via terraform here. We deploy this server once and forget about it.

By having the config in terraform obviously infra as code principles apply and things are more repeatable. However the upsides are also a huge downside. Fat fingers could easily delete the server too.

DNS is one thing. It's stateless. But the server itself of which we onl

[2022-09-01 06:30] gerbrent commented on #161
you don't miss a thing ; )

[2022-09-01 10:55] elreydetoda commented on #358
IMO, there are a few reason:
* [bus factor](https://en.wikipedia.org/wiki/Bus_factor)/DR (disaster recovery)
  * if the worst scenario happened of you were no longer at JB, and (I'd hope this never happened, but just postulating) all the servers were deleted from linode. Is there documentation on which instances you chose? Could anyone in JB be able to re-deploy all the servers that they/you creat

[2022-09-01 11:21] elreydetoda commented on #307
I was mainly think about using deploy previews for netlify, not actually deploying to netlify. Technically they could be an option as well, but I think they only give you a certain amount of build minutes a month... :thinking: So, I don't know if I'd recommend deploying there.

Also, posting links/summaries to a convo mentioned in matrix a while back.
- convo started [here](https://matrix.to/#/!rD

[2022-09-01 11:36] elreydetoda commented on #371
IMO, yes we should.

in theory there shouldn't be that much to worry about, because it could easily be disabled via the web-ui and someone can revert the commit. Since the bot isn't doing a force push, which could erase history, it should then trigger a re-deploy after the commit being reverted.

If we had a versioned artifact to pull from (summarized [here](https://github.com/JupiterBroadcasting/

[2022-09-01 17:53] #334 closed

[2022-09-01 17:53] #337 closed

[2022-09-01 19:09] gerbrent commented on #307
From what I gather, the idea of being able to roll back a production image relatively easily sounds like a definite benefit. It'll be in deciding if the additional complexity is worthwhile?

[2022-09-01 20:18] #341 closed

[2022-09-01 20:35] gerbrent opened #375 "hugo WARN on build - .File.Path on zero object."
This build error has been around for a few weeks, both on local and prod deployments, presumably with little consequence..... but something is to blame.

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/runs/8128232532?check_suite_focus=true#step:5:56

[2022-09-01 21:09] reesericci commented on #307
It's probably worth just using a hosting provider like Netlify, CF workers/pages, or Vercel. The simplicity and featureset just unmatched imo.

[2022-09-02 00:06] gerbrent opened #376 "guest vs host - profile `type` and how people are categorized"
### Facts
Take Alex's [profile](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/content/people/alex.md). There he is listed as `type: host` in [this line](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/5dcf0bc9442eba765fc38f974cbb8b82414b172e/content/people/alex.md?plain=1#L11)

He currently has:
* a [/hosts/alex](https://www.jupiterbroadcasting.com/ho

[2022-09-02 00:57] gerbrent opened #377 "hosts page - incorrect layout after photo change"
Alex changed his profile photo in #373
This seems to have caused layout issues

![image](https://user-images.githubusercontent.com/7018928/188037073-02b3a664-89a6-45aa-9ec1-2d5c9a4ab3a1.png)

@ironicbadger can you tell us where you got the photo? I presume you copied it from some other online profile where the image has been shrunk.

My theory:
I presume given it's data size - 29 KB - and it's pix

[2022-09-02 12:34] reesericci commented on #331
https://discord.com/blog/add-the-discord-widget-to-your-site Discord has a first-party widget

[2022-09-02 14:06] dcowan-london commented on #357
https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/6698928166a7b027e2e84ee1aa5db7f7b53cdafa/config.toml#L202

[2022-09-02 15:34] ChrisLAS commented on #371
Linux Action News 265 has not made it to the new site yet.

https://linuxactionnews.com/256

[2022-09-02 16:23] ChrisLAS opened #381 "🚨 ⚠️ Matrix Federation Broken due to missing .well-known dirctory and contents. JB chat down 🚨 ⚠️"
Seems we broke Matrix federation when we switched over to the new site. Lurking in the file depths of our old site was a file and folder structure that verified our server to the Matrix federation.

Some more info here: https://matrix.org/docs/spec/server_server/r0.1.0.html#resolving-server-names

I've grabbed our old .well-known folder with its files. But I have NO idea how something like that ge

[2022-09-02 16:34] noblepayne commented on #381
Attempted to add our previous well-known delegation setup as a static asset.

[2022-09-02 16:49] ChrisLAS commented on #381
Quick fix with static assets did NOT work, re-opening this issue.

[2022-09-02 16:57] noblepayne commented on #381
Looks like it WAS working for the `www`  domain, but not the root. I've updated the cloudflare page rule that is responsible for that forwarding to pass through `/*`, and at least according the [federation tester](https://federationtester.matrix.org/#jupiterbroadcasting.com) looks like we are back in business.

[2022-09-02 16:57] #381 closed

[2022-09-02 17:18] elreydetoda commented on #381
@noblepayne , did you update it with `$1` like how I'd screenshot'ed in [this comment](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/358#issuecomment-1233341553)?

Just want to know so we can update this PR: https://github.com/JupiterBroadcasting/infra/pull/9

It'll make sure terraform doesn't wipe out the manual change in future runs :sweat_smile:

Also, we should integrat

[2022-09-02 17:54] elreydetoda commented on #371
Hey @ChrisLAS , till #366 is merged someone will have to navigate to here: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/actions/workflows/deploy-prod.yml and push the "Run workflow" button.

![image](https://user-images.githubusercontent.com/10230166/188210075-afba21c8-a0fb-4d5b-9504-9b0b80fbbc57.png)

Alternatively I've got a curl command here: https://github.com/JupiterBroadcas

[2022-09-02 18:35] #365 closed

[2022-09-02 18:43] DFireTech opened #384 "Feature Request - JB Blog?"
# New Stuff

Now that JB has a sweet, new site, maybe a blog that features stuff that doesn't make it into the shows? Could be/have:

* Community driven
* include some topics that may not make it into the shows
* Guest writers from the JB community

 - TheGoldenDragon

[2022-09-02 20:51] gerbrent commented on #371
Merging this functionality in #366 to be solved more elegantly with CastaBlasta publishing pipeline in the future.

[2022-09-02 20:51] #371 closed

[2022-09-02 22:36] gerbrent commented on #384
similar to... https://linuxunplugged.com/articles

[2022-09-02 22:43] CGBassPlayer commented on #329
Just updated the main issue post with a file of all the broken links

[2022-09-02 22:43] DFireTech commented on #384
Yes! I didn't even know that was a thing! Amazing.

[2022-09-02 23:26] gerbrent commented on #384
amazing! and quite outdated! ; )
The new website is a perfect place to consolidate all these otherwise hidden gems.

[2022-09-02 23:27] gerbrent commented on #357
great!

So..... what should we put there? ; )

[2022-09-02 23:32] gerbrent commented on #331
One question might be: Where would this be embedded?

/show/ssh ?
/community/discord ? <-- likely here...

and, also: is this functionality that we are thinking of integrating simply because it's possible, or because there's an actual need? I question whether folks would come to the website to login to their Discord, as opposed to more standard native app methods..

[2022-09-02 23:33] gerbrent commented on #331
answers part of it!

[2022-09-02 23:44] DFireTech commented on #384
And create new gems!

[2022-09-03 18:32] gerbrent opened #386 "Actions/Workflow security consideration - PR `on pull_request` workflows"
I am suspecting some potential security implications via Actions/Workflows and wondered about opening conversations around it.

There has recently been a Workflow added from a permissioned contributor from a submitted PR, in this case @elreydetoda  in PR #353 :

![image](https://user-images.githubusercontent.com/7018928/188282162-60d2b87e-31b9-4e6a-815c-c58b4976a230.png)

![image](https://user-ima

[2022-09-03 18:35] gerbrent commented on #386
I understand, too, that this is also a feature. hmmm....!

[2022-09-03 18:48] elreydetoda commented on #386
I found this interesting...

![image](https://user-images.githubusercontent.com/10230166/188284054-f98b3505-8e53-421c-9b9e-ea5e496e7e52.png)

Don't know what that means, but I'm imagining it ran under my account and displayed under yours because of the PR being opened under your account... :thinking: (no idea honestly)

I'm getting ready to make a PR against [this PR](https://github.com/JupiterBro

[2022-09-03 18:50] gerbrent commented on #386
@elreydetoda you are such a 💎 gem!

[2022-09-03 19:02] gerbrent commented on #308
ahhh...... so much better. Tested and approved!

![image](https://user-images.githubusercontent.com/7018928/188284615-8288a925-ddd4-4012-9ceb-d5b58283b281.png)

[2022-09-03 19:03] #308 closed

[2022-09-03 19:29] CGBassPlayer commented on #332
@gerbrent I think this issue should be fixed by PR #372

[2022-09-03 19:49] gerbrent commented on #349
Results!

Bare-metal:

[code]

[2022-09-03 19:57] gerbrent commented on #349
Docker results

[code]

[2022-09-03 19:59] gerbrent commented on #349
noting the above results are at-build-time, and not during browsing the built sites, which is my main issue here - very slow site browsing and pages seemingly need to be built in real time..

[2022-09-03 20:38] TeamLinux01 opened #387 "Feature Request - Up-to-date news information"
This is an idea from Office Hours 11. Chris mentioned that he would like to add some basic news information that could be updated on the website easily.

My suggestion would be to use Websockets to push that content to the page, that way it can be instantly changed on anyone whom has the page open without needing to refresh the page.

I don't know where or how the backend    information would be "

[2022-09-03 20:51] gerbrent commented on #332
good catch @CGBassPlayer !

[2022-09-03 20:51] #332 closed

[2022-09-04 06:30] gerbrent commented on #386
(I think I beat him to it....)

@elreydetoda wrote a nice blog post detailing some ideas around adding extra security to GH actions. It's a great read, and perhaps tangentially related:

https://blog.elreydetoda.site/github-action-security/

[2022-09-04 07:08] elreydetoda commented on #386
lol, yes @gerbrent you beat me to it 🤣

I was getting ready to link to it here when I just saw your comment :grin:

[2022-09-04 07:29] gerbrent commented on #285
https://choosealicense.com/ might be helful, and really good points made above. Thank you all!

[2022-09-04 11:53] CGBassPlayer opened #388 "Create a 404 page"
Currently there is no 404 page defined in the `404.html` and when a user hits a 404 they get an empty page with `404 page not found` text.

![Current 404 page](https://user-images.githubusercontent.com/34293941/188311898-ba36486c-26d1-4d13-a761-1cf2f4eb2e39.png)

Anyone have ideas for what the 404 page should look like?

[2022-09-04 12:41] CGBassPlayer opened #390 "Issue and/or PR Templates"
Something I think would be useful for people users new to contributing to open source would be templates for creating issues and maybe PRs. I don't think it needs to be anything extravagant, but something to just let them know what they should put in  when submitting an issue and possibly add some auto tagging.

Initial idea I am thinking is:
* Bug Report
  * What is the bug
  * What device (Phone

[2022-09-04 13:50] elreydetoda commented on #388
I think we should bring back the 404 from the old website!

![image_20220904094906.png](https://user-images.githubusercontent.com/10230166/188316940-0d856b78-6852-4dd2-81a3-0f52764e8b30.png)

[source](https://matrix.to/#/!rDlEtonuSythLzmxQL:jupiterbroadcasting.com/$_vXpm7imvRu30MveOKaDNZYj9g921bf2AvimogjVBb0?via=matrix.org&via=jupiterbroadcasting.com&via=0x6b.dev)

[2022-09-04 14:00] elreydetoda commented on #390
(I've had a bunch of these links saved for a while as "advanced" templating solutions, so just going to drop all the links I have here and hopefully it'll help)

While this probably isn't what we'd do, the @ansible-collections project has a bunch of files that we might be able to pull from: https://github.com/ansible-collections/.github

They also have all the other files we probably should have (

[2022-09-04 14:06] elreydetoda commented on #387
Very cool idea! Thank you for submitting the issue, and maybe we can eventually implement this 🥳

[2022-09-04 16:09] mralc opened #391 "https://www.jupiterbroadcasting.com/tag/podcasts/ results in a 404 page."
If you google Jupiter broadcasting podcasts (I did a private / InPrivate / Incognito mode too) the first google result URL returns

https://www.jupiterbroadcasting.com/tag/podcasts/ which results in a 404 page not found.

So could you put a 301 permanent redirect on the URL so it points to a vaild URL, so when google next reindex the sites it know that this URL no longer exists.

[2022-09-04 16:41] gerbrent commented on #388
YYYYEEEEEESSSSSS!

I *may* have downloaded the Unicorn before we switched everything over to Hugo ; )

[2022-09-04 16:44] CGBassPlayer commented on #388
I never used the old site so I never got to experience the unicorn and I LOVE it! I think that would make a fantastic 404 page. Almost makes you want to get a 404!

[2022-09-04 18:07] elreydetoda commented on #386
Also, I just found this other setting (though it might not help with this repo or very many at all IMO), but you can adjust the level of that "Approve and run" button to run on every PR from outside people (though I think the environments is a bit more elegant solution) or just on their first time (like mentioned before)

![image](https://user-images.githubusercontent.com/10230166/188327494-210b35

[2022-09-04 19:48] CGBassPlayer commented on #390
These are great examples showing things I didn't even know about GitHub issue templates! I'll definitely be looking into this

[2022-09-05 13:14] tjkrz commented on #357
I think I'd remove it, if there's nothing obvious to include.

[2022-09-05 15:31] #391 closed

[2022-09-05 15:36] gerbrent opened #394 "E2E Tests - Slow Builds"
E2E Testing takes about 2m45 to build the test environment, including a hugo build, vm (container?) build, and package download/install. I'm sure we can think of ways of not needing to build the vm on every single E2E call, especially considering we have limited Actions minutes per month..

Thoughts? ideas?

Sample run:
https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/runs/8192069861

[2022-09-05 15:47] gerbrent commented on #394
likely fixed by #353 🎉

[2022-09-05 23:53] noblepayne commented on #381
@elreydetoda

Saw your work on this, thank you!

Was thinking the same! :brain:

Yup!

Updated :+1:

[2022-09-06 04:11] gerbrent commented on #390
This is so great both of you! I'll have a look aswell but see no reason why we can't implement some of these ideas.

My first hesitation with the otherwise amazing yaml example would be the downside of assigning rather rigid structure to our Issues when we've been using them in otherwise quite flexible ways - i.e. to track conversations and ideas that aren't strictly "bugs" or "feature requests".

[2022-09-06 04:19] gerbrent commented on #388
I suppose the question becomes: Who wants to implement this? Should be fairly simple, and I can provide the high-res 404-nicorn when needed...

[2022-09-06 04:30] gerbrent commented on #388
....uploaded!

[static/images/backgrounds/404-unicorn.jpg](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/static/images/backgrounds/404-unicorn.jpg)

[2022-09-06 05:13] gerbrent commented on #376
potentially related:

note there exists a `/content/hosts` and a `/content/people` directory. Wondering why the mostly-empty `/content/hosts` exists.....
(should be a separate issue perhaps, if unrelated?)

[2022-09-06 05:24] gerbrent commented on #357
#395 temporarily hides the above placeholders, but more attention should be given on the overall footer design - since now there's a rather large gap in the centre ; )

[2022-09-06 10:47] CGBassPlayer commented on #390
Well you are in luck @gerbrent! There is an option to create a blank issue at the bottom that will take you right to the usual new issue page.
![Issue Selection](https://user-images.githubusercontent.com/34293941/188614667-9dd970a1-ef4d-4792-a482-ac6579dc4c4e.png)

I see these templates more as way to help new people figure out what they should put in a bug report or feature request rather than a

[2022-09-06 10:50] CGBassPlayer commented on #388
I could take care of this. What page(s) would be a good reference point to go off of when building this one?

[2022-09-06 14:21] gerbrent commented on #390
this is so great!

[2022-09-06 14:22] gerbrent commented on #388
likely one of the simple ones, like Boost or Membership. Also, thanks!!

[2022-09-06 14:32] elreydetoda commented on #394
So, I shaved off about an average of 30 seconds but I don't think I'll be able to make it any faster.

I [enabled buildkit](https://github.com/elreydetoda/jupiterbroadcasting.com/commit/4d632606c314b62e3be33c847be8b1774cc2815a) for docker builds, and with that change you can see all the time it takes for [each step of the docker build](https://github.com/elreydetoda/jupiterbroadcasting.com/runs/82

[2022-09-06 14:49] elreydetoda commented on #377
@ChanceM (guessing that's them, since same name in matrix) posted this:

my brief response (more later):

[2022-09-06 14:57] elreydetoda commented on #388
Also, hugo has a special template for 404 pages: https://gohugo.io/templates/404/

[2022-09-06 15:19] CGBassPlayer commented on #390
@elreydetoda markdown is only data rendered while filling out the form for giving instructions, thanks, or anything you need to convey that doesn't need to be read on the ticket after. When you use the `textarea`, it works just like a markdown area in a blank issue. You can upload images, make lists, and do all the other markdown things.

[2022-09-06 15:25] CGBassPlayer commented on #390
I thought the same thing at first as well. But once you click into it, you get the normal markdown view
![textarea](https://user-images.githubusercontent.com/34293941/188674384-cee832d8-fc1a-47d0-9b3c-26e0754693c7.png)

[2022-09-06 17:10] ChanceM commented on #377
Okay changing the type from host to people in the content/hosts/_index.md will make it render with the people template and adding the same for guests will do the same.

For the duplicate of a host as a guest we would need to duplicate the person but set the type to guest.

[2022-09-06 18:01] ChanceM commented on #377
@elreydetoda, @gerbrent  I have a working version in a [branch](https://github.com/ChanceM/jupiterbroadcasting.com/tree/bug/fix-hosts-layout). It would require some rework for those that are hosts and guests but it would limit the need to retype contact info twice.

[2022-09-07 04:34] elreydetoda commented on #377
Hey @ChanceM , I wasn't positive about this earlier but I was just able to test it out locally. It seems like you're trying to solve #376  and this issue with your branch.

While I'm all for trying to get the most results with a PR, I think in this instance we might want to split them up. #376 (just off the top of my head) will require at minimum [scraper](https://github.com/jupiterBroadcasting/sh

[2022-09-07 04:49] ChanceM commented on #377
Well part of those changes incorporating fixing it to use the correct template. Should that portion be incorporated in #376 or into a new issue?

[2022-09-07 05:17] elreydetoda commented on #377
yes, that should be in #376

closed with #397

[2022-09-07 05:17] #377 closed

[2022-09-07 16:23] gerbrent opened #398 "`Deploy to Prod` GH workflow - 5000+ lines of blank error?"
I'm seeing about 5000+ lines of blank errors in our [`Deploy to Production`](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/actions/workflows/deploy-prod.yml) GH action workflow. These don't seem to affect anything drastically or negatively, but.... what gives?

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/runs/8232673539?check_suite_focus=true#step:4:23

![image]

[2022-09-07 16:25] gerbrent commented on #398
![image](https://user-images.githubusercontent.com/7018928/188930413-90cc3b37-b262-4cda-ac46-499c7d93c7ff.png)

[2022-09-07 16:25] gerbrent commented on #398
![image](https://user-images.githubusercontent.com/7018928/188930560-442b24fc-9f5e-4311-b42b-6d620f011e25.png)

; )

[2022-09-07 16:38] gerbrent commented on #394
....All that for 3 seconds?!!!? ; )

Nice work @elreydetoda , as always.

[2022-09-07 17:07] gerbrent commented on #154
Note Archive menu item temporarily disabled: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/399

[2022-09-07 18:00] elreydetoda commented on #161
Should coder.show/matrix (or all shows) point to the jb.com/matrix (alias for /community/matrix)?

https://fountain.fm/clip/EaIeqlYp23W70CqTfUUt

[2022-09-08 02:20] CGBassPlayer opened #401 ""Resource not accessible by integration" in Pull Requests with e2e testing"
I have had 2 PRs (#389 and #400) and both fail with `Error: Resource not accessible by integration` on the tests with GitHub Actions. These are my PRs with the e2e testing implemented currently.

My only guess is it seems like permissions issue, but I am not totally sure as I am new to GitHub Actions and playwright. [Here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/runs/8239611

[2022-09-08 04:35] #375 closed

[2022-09-08 04:42] elreydetoda commented on #349
Ya, but what's happening (from my understanding) with the `hugo serve` command is that hugo is re-building each part of the site you're navigating to on the fly (from memory). So, if you're having slow build times during specific build parts then I'd imagine it'd cause issues while navigating the site as well.

That's interesting that it seems like you're baremetal build is slower, but you're sayi

[2022-09-08 12:13] CGBassPlayer commented on #390
So I am adding the the contributing checkbox for the templates. Is there any specific wording we want for this?

Also, do you guys think it would be good to have a development related template? Maybe to list the tools they are having an issue with and a normal summary to describe it? Kind of like this (most of this text is just stand in)
![dev issue template](https://user-images.githubusercontent.

[2022-09-08 12:48] CGBassPlayer opened #402 "Wiki icon looks like a bar code"
![icons](https://user-images.githubusercontent.com/34293941/189122962-60fead34-012d-467f-b291-936fce6006a0.png)

The [`fa-wikidata`](https://forkaweso.me/Fork-Awesome/icon/wikidata/) icon looks more like a [`fa-barcode`](https://forkaweso.me/Fork-Awesome/icon/barcode/) than something like a wiki.

I propose that it should either be [`fa-wikipedia-w`](https://forkaweso.me/Fork-Awesome/icon/wikipedi

[2022-09-08 12:55] Ronkn opened #403 "Request: add matrix to social media buttons on each shows webpage"
I noticed there are buttons for discord, Twitter, YouTube, etc, on each shows page. Perhaps it would be worth adding buttons for the associated matrix rooms to each shows web page as well?

Thanks

[2022-09-08 15:49] CGBassPlayer commented on #26
So I just found a tool that might be worth using if search is still something we are after. Its called [Pagefind](https://pagefind.app/) and it is a single binary that indexes the site after it is built. There is a video on the home page of their site showing how it works and a basic example.

Its also written in :tada: ***Rust*** :tada:)

[2022-09-08 16:24] gerbrent commented on #403
great idea! though there is value in linking to the greater community, since one can easily be oblivious to the other non-show offerings. Its a great discovery tool...

and I'm not convinced Matrix/Element does a good job of presenting these options..

[2022-09-08 16:28] gerbrent commented on #402
... make it so!

[2022-09-08 16:30] gerbrent commented on #390
yes, that looks helpful!

I'm gonna wager Docker gets submitted first ; )

[2022-09-08 16:31] gerbrent commented on #390
for specific wording: insert what you feel and we can always redact later..

[2022-09-08 16:47] #357 closed

[2022-09-08 16:49] elreydetoda commented on #26
That looks pretty awesome! It's nice that we could just bundle that in an artifact as well. It just comes with the new site build! 🥳

[2022-09-08 17:34] gerbrent commented on #66
going to close this seemingly completed issue, with #306 tracking future Subscription-related tasks.

[2022-09-08 17:34] #66 closed

[2022-09-08 17:36] gerbrent opened #404 "add Subscription (and Support) buttons to Show pages"
Subscription and Support/Membership buttons, assuming #346 is merged, should be added to Show pages (i.e. https://www.jupiterbroadcasting.com/show/coder-radio/)

Proposed Subscribe button in #346 :
![image](https://user-images.githubusercontent.com/7018928/189190009-6db022f8-0f94-4655-8b09-2879e07e1652.png)

[2022-09-08 17:43] gerbrent commented on #333
FYI, a natural evolution of this work, assuming @346 merges, would be https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/404

[2022-09-08 18:06] gerbrent opened #405 "Home - `|` separator appears on tabs/title bar despite not being needed/useful"
When on the home page, the `|` title separator appears despite not being needed/useful. It is, however, useful in other contexts.

The task: Show the `|` separator in page title only when needed.

![image](https://user-images.githubusercontent.com/7018928/189191295-7a2f7a91-5d54-477b-a2ec-06367939f66f.png)

Other page where it's useful:

![image](https://user-images.githubusercontent.com/7018928/1

[2022-09-08 18:17] gerbrent commented on #26
My big question - can results be sorted by date/recency? I see Pagefind has the concept of "date"

![image](https://user-images.githubusercontent.com/7018928/189196301-b0cc90ed-c208-4933-a690-524bc03e5396.png)

[2022-09-08 18:22] gerbrent commented on #26
https://pagefind.app/docs/multisite/

That can be very handy for the JB Archive (a distinct hugo instance)

[2022-09-08 18:50] gerbrent opened #408 "people thumbnail - misaligned on Show pages"
Quite possibly related to https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/377

On Show pages, Alex' thumbnail is currently smaller in vertical (and presumably horizontal) dimensions compared to other Hosts.

This could be due to his recent photo change to a small sub-optimal image size? See #377 for more discussion/investigation.

![image](https://user-images.githubuserconten

[2022-09-08 18:50] CGBassPlayer commented on #403
I am adding the matrix links for each show while I work on #402 if you want to throw me on this

[2022-09-08 18:50] gerbrent commented on #408
@ChanceM - interested in investigating this one too?

[2022-09-08 20:20] CGBassPlayer commented on #390
Is there any other ideas for templates we want before I mark this PR as ready?

[2022-09-08 21:43] gerbrent commented on #390
I wonder if a "Episode metadata has errors" template might be helpful?
To cover the case where a listener notices a dead link, a typo, and incorrectly tagged guest, etc. for a specific episode.

[2022-09-08 21:55] gerbrent commented on #349
that does seem strange, considering according to the metrics my bare-metal is over 2x slower at building?? That.... how could that be? Is there some magic in the docker process??! (well, there is, but you know what I mean).

I wonder then... odd.

[2022-09-08 21:56] #408 closed

[2022-09-08 21:57] gerbrent commented on #377
For future reference:

most of the images were scraped by the scraper from Fireside. The images thus were necessarily previously ingested by Fireside's process and likely made to conform to a specific standard.

Alex' photo is the first to be replaced independent of Fireside - he applied it here as a PR - and thus is the first case of integrating non-standard photos into our site here.

THAT is th

[2022-09-08 21:58] CGBassPlayer commented on #390
I like the idea. I can throw the show notes tag on those so we know it has to do with dead links. I'll add that now

[2022-09-08 23:18] gerbrent commented on #326
Good news: we can supply SVG of most of our assets, Rocket included! Will take a little work, but is certainly possible. see #219

[2022-09-09 01:28] #405 closed

[2022-09-09 01:57] gerbrent opened #412 "Extras - show titles missing details"
Take Brunch w Tim Canham as an example.

On jb..com it appears as `87: Tim Canham` however should actually be - as is found on Fireside - `Brunch With Brent: Tim Canham`

## Fireside:
https://extras.show/87

![image](https://user-images.githubusercontent.com/7018928/189255439-56b0116e-5e0d-41b5-acd2-1c489b55fefd.png)

## JB Episode page:
https://www.jupiterbroadcasting.com/show/jupiter-extras/87/

[2022-09-09 02:01] gerbrent commented on #412
may relate to PR #81, Issue #67

[2022-09-09 02:46] ChanceM commented on #412
The scraper splits on :

[code]

Simple check to see if there are numbers in the split or not would fix it.

[2022-09-09 04:10] gerbrent commented on #412
nice one!

[2022-09-09 04:10] gerbrent commented on #412
Would you be interested in implementing this one by @ChanceM ?

[2022-09-09 04:23] ChanceM commented on #412
@gerbrent have a regex prepared, I'm going to test against a subset of titles and then I'll make a pull request for review.

[2022-09-09 23:19] #402 closed

[2022-09-09 23:19] #403 closed

[2022-09-11 23:39] JR-git-hub opened #414 "Accessibility check"
Check website for accessibility, log issues for follow-up/fix.

There are probably more comprehensive and potentially open source tests that can be run automatically or principled manual testing could also be done with screen readers, etc.

Here is an example automated test that found some easy to fix and most common issues:

https://accessibleweb.com/website-accessibility-checker/?page_url=https%

[2022-09-12 00:18] ozcoder commented on #414
Also pa11y, Sa11y, WAVE, Axe, Accessibility Insights etc.
Maybe webhint too.

[2022-09-12 05:40] gerbrent commented on #414
https://accessibleweb.com/website-accessibility-checker/?page_url=https%3A%2F%2Fwww.jupiterbroadcasting.com

![image](https://user-images.githubusercontent.com/7018928/189581117-24c04929-c560-4886-94ed-6bbd6c1e23f0.png)

[2022-09-12 05:45] #333 closed

[2022-09-12 17:13] optimusgray opened #415 "JBTitles.com, LUP End Show Song"
Remove the "JBTitles.com" from the LUP end show song

[2022-09-12 17:16] optimusgray opened #416 "Jupiter Tube (Peer Tube images)"
Chris sets the live stock image currently, but stock image still has the "live" red box weeks after that show/steam is over.  Have Chris input two images.  One live and one offline recorded image.

[2022-09-12 18:55] MarcelRobitaille opened #417 "Missing spacing around pagination on home page"
To my eye, there should be more vertical spacing above and below the pagination on the homepage.

https://www.jupiterbroadcasting.com/
![image](https://user-images.githubusercontent.com/8503756/189732746-97151e61-23fc-4f7a-a769-1cea63b2d443.png)

Interestingly, there is spacing on a single show's page.

https://www.jupiterbroadcasting.com/show/coder-radio/
![image](https://user-images.githubuserco

[2022-09-12 19:00] ChrisLAS commented on #415
Or perhaps we update jbtiles.com to point to the Matrix room?

Hmm!

[2022-09-12 20:10] CGBassPlayer commented on #417
Looks like we missing some padding! Thanks for the bug report. I will knock this out quick

[2022-09-12 20:28] ChanceM commented on #54
I have a MVP of this that can either select from N number of recent episodes or N number of days back. Although we could remove the limit and list all sponsors. If we do limit by some factor I have it set to omit the show title if there are no sponsors found. Alternatively we could show a register interest link?

Jupiter.party is also listed as a sponsor in some episodes. I'm not sure if we would

[2022-09-13 16:02] ChanceM commented on #324
@TeamLinux01 can you check this now that #397 has been applied?

[2022-09-13 18:43] TeamLinux01 commented on #324
It seems to be fixed. Thank you all.

[2022-09-13 20:35] ChanceM commented on #324
@gerbrent this one can be closed.

[2022-09-13 23:26] CGBassPlayer commented on #414
So I was looking into this a little bit and the only one I am not sure how to resolve would be the links back to the homepage. The report says `Links must have discernible text`, but the relative path to the home page is just `/` and therefore can't have any text in the link. Anyone have any thoughts on this?

[2022-09-14 00:58] CGBassPlayer commented on #388
Just as update so far...

Here is the Desktop 404
![Desktop 404](https://user-images.githubusercontent.com/34293941/190034507-14dc988c-4823-4890-85f0-6d0089cf948f.png)

And here is the mobile
![Mobile 404](https://user-images.githubusercontent.com/34293941/190034646-dbd7074f-01f0-4872-ad3f-282252b0aace.png)

Pretty bare bones at the moment...
[code]
...but I am looking through the Bulma documentat

[2022-09-14 17:02] curiousdev opened #421 "mobile experience - submenu nodes not expanding"
Desktop Experience - works as expected
![image](https://user-images.githubusercontent.com/10109259/190217087-9ebf746c-71c0-4626-8852-df638a9c070c.png)

Unlike...
Mobile Experience - somethings amiss
![image](https://user-images.githubusercontent.com/10109259/190217360-fedd3107-c229-43d7-8278-a0a91dda4333.png)

The submenu item like RSS Feeds doesn't render. It requires right scrolling.
Also hover?

[2022-09-14 17:29] elreydetoda commented on #421
Thank you for submitting a GitHub issue about this 🥳

We actually already have [an issue](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/315) documenting this bug, and unfortunately we haven't been able to circle back around to it yet.

I'm going to close this issue so we can track this in one location, but because I'm reference the original issue we'll be able to look at yo

[2022-09-14 19:06] curiousdev commented on #421
@elreydetoda - Honestly, I also recommend deprecating hovering. That's not really viable for mobile and tablet users.

[2022-09-14 20:03] CGBassPlayer commented on #364
So looking at the video, it seems like menu stops scrolling when the menu item is "hovering" and is moving the website behind the menu.

Based on my experience with touchscreen things, they don't seem to like things that have a style change when you would hover over something with a mouse. It almost seems like when you touch it, it acts like a hover, then touch it again to go to the link. Of cours

[2022-09-15 12:09] #345 closed

[2022-09-15 22:42] #211 closed

[2022-09-16 04:51] #299 closed

[2022-09-16 05:57] ChanceM commented on #54
@elreydetoda Care to take a look this [branch](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/compare/main...ChanceM:jupiterbroadcasting.com:feature/automate-sponsors-page) and see if you have any feedback?

@gerbrent Probably need a JB decision for criteria for crawling / a method for designating active sponsors.

[2022-09-16 11:48] elreydetoda commented on #54
Sure, I'll try and look at it either tonight or sometime this weekend 😁

[2022-09-16 18:51] ChanceM commented on #333
I know there is a PR in process for this but just wanted to throw this out there for thought. What about providing the links directly in the page?

![image](https://user-images.githubusercontent.com/11327907/190710572-c430550f-ad72-4164-9f1e-45371925101a.png)

[2022-09-16 19:48] ChanceM commented on #388
I actually think this looks a bit cleaner and is an homage to the original while being nice and clean.

But for some reason (my 2yr old) this is what I [hear](https://www.youtube.com/watch?v=17o1OlroNSE ) when I see this.

[2022-09-16 23:47] mitchdowney commented on #338
@hack13 @gerbrent sorry for the delay, I'm 3 weeks behind on my Github notifications 😬

I'm going to talk to Gary our graphic designer about this. I'm not sure if we've created a rectangle "Listen on Podverse" image like this before. I'll get back as soon as we have / find one.

[2022-09-17 01:21] CGBassPlayer commented on #388
If we like it, I am fine with leaving it as is. Let me know what you guys think should be changed as well. I'm very open to suggestions!

[2022-09-17 20:14] gerbrent commented on #338
no problem @mitchdowney ! A low-ish priority for us, a nice-to-have.. (and fun excuse for our projects to keep interacting too!)

[2022-09-18 08:15] #417 closed

[2022-09-18 17:51] gerbrent commented on #349
🎉 Dev One !!

[code]

[2022-09-18 17:59] gerbrent commented on #349
X250 to compare (same build)

[code]

[2022-09-19 00:26] elreydetoda commented on #349
Wow! That's a huge difference! 😅🥳🚀

[2022-09-19 12:57] CGBassPlayer opened #426 "Markdown typo in Office Hours 12"
[Office Hours 12](https://www.jupiterbroadcasting.com/show/office-hours/12/) is missing the closing parenthesis on the "JB Live indicator" link

![image](https://user-images.githubusercontent.com/34293941/191016625-0729f94d-a439-41fb-b645-417bbf1b6837.png)

__Side Note__: this did teach us that longer links will not wrap and just run off the screen on mobile
![image](https://user-images.githubuser

[2022-09-19 19:59] SoundRisk commented on #219
I would like to help with this, how can I get started? I'm also new to GIT/GITHUB fyi. Thanks!

[2022-09-19 20:44] ChanceM commented on #426
Adding an html.unescape() resolves the conversion in html2text [here](https://github.com/JupiterBroadcasting/show-scraper/blob/5d1f9c53787ee59e16be6b98fba37ebc7a2846dd/scraper.py#L154) in the scraper.py:
[code]

[2022-09-20 01:39] elreydetoda commented on #426
So, this is actually something we've already got an issue open about (#221). We were waiting to hear back about if the bug that was submitted to html2text was going to fix the issue. @xPMo was the one who'd said they submitted a bug report upstream. Might want to follow up with that.

@ChanceM, what exactly is that function doing? I haven't looked at that function, but it sounds like (just from th

[2022-09-20 03:46] ChanceM commented on #426
It removes the escaped sequences like
```html &quot; &quot;``` with their text equivalents ".

[2022-09-20 11:27] gerbrent commented on #219
hey @SoundRisk ! Welcome!

Lets check in w @wilron to see of they still want to continue this work. Honestly, I'm likely the bottleneck here in providing files.. if that's the case, I can kick into gear!

[2022-09-20 11:42] gerbrent commented on #426
Actually, turns out its trabscribed just right, since we very much screwed this up on Fireside aswell:

Will fix in Fireside, which should translate over once the change gets scraped.

[2022-09-20 12:26] gerbrent commented on #388
Looks good to me! Love it.

[2022-09-20 13:56] gerbrent commented on #415
@optimusgray Can you describe more of what you mean by "LUP end show song" ?

[2022-09-22 18:47] gerbrent commented on #219
Yep, confirmed that @wilron is just waiting on my - I'm the bottle neck. Whoopsie!

[2022-09-23 03:25] wilron commented on #219
I'm happy to share the effort as well. It's up to you all on how you'd like
to proceed, but I'm happy to share the effort :-)

On Thu, Sep 22, 2022 at 11:47 AM Brent Gervais ***@***.***>
wrote:

[2022-09-24 12:36] ozcoder commented on #219
![rocket_orig](https://user-images.githubusercontent.com/102447/192098198-2d80a595-9c53-4b8f-8b4f-ae63d1382445.svg)

Found this rocket I created a while ago.
[code]

[2022-09-26 20:37] agbaraka commented on #414
Hi @CGBassPlayer.

I found the following solution from Stackoverflow.

https://stackoverflow.com/a/51715544/2813531

[2022-09-27 15:47] CGBassPlayer commented on #414
Thanks @agbaraka! I will look at this again later today

[2022-09-27 17:06] gerbrent commented on #328
@elreydetoda : closed because solved by #425?

[2022-09-27 17:28] elreydetoda commented on #328
Yes, @ChanceM 's #425 solved this by doing a query on each page to see if the liveStream id is present. Explained here: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/425#pullrequestreview-1121249814

[2022-09-27 17:30] #388 closed

[2022-09-27 17:47] elreydetoda commented on #328
Thinking about this again for a second, technically the #425 didn't "solve" every page loading the JS. It's just preventing the error from happening by checking if the expected embed element exists and only setting the `.src` attrib (which was causing the error) if it does.

So, I'd say it _technically_ patched the issue not solved 😅

[2022-09-27 20:21] elreydetoda commented on #286
Just going to start making a list of different tests we'll eventually need to implement, so I don't forget :upside_down_face:

- [ ] Episode layout (for each show) i.e. how there were two logos here: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/400#issuecomment-1259869759
- [ ] Test all pages formatting
  - [ ] 404 page: https://github.com/JupiterBroadcasting/jupiterbroadcas

[2022-09-27 20:30] gerbrent opened #430 "Episode Page - move Sponsors above Episode Links in mobile view"
### URL

everywhere! ; ) All episode pages in mobile view

### On what type of device(s) did you see this bug?

Phone

### On which browser(s) are you seeing the problem?

Firefox

### Other Browser

Firefox' Responsive Design Mode

### Summary

On the Episode pages, it would be preferably to have the Sponsors section above the Episode Links section.

related to #400

![image](https://user-images.

[2022-09-27 20:32] gerbrent commented on #430
@CGBassPlayer I know you were interested in this as a next step to #400. Wanna claim it?

[2022-09-27 20:34] CGBassPlayer commented on #430
Sure! I'll keep looking into this

On an unrelated note, how was the issue form?

[2022-09-27 21:06] gerbrent opened #432 "Testing `develop` branch workflow"
Testing part of the workflow for our (soon) eventual move to a [Gitflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow) workflow to protect main and offer - in the future - live full-production testing of the develop branch.

We'll see if I understand all of this well ; )

Steps for this test:
* [x] do a PR #431  to merge `main` -> `develop` to bring `develop` in syn

[2022-09-27 22:17] gerbrent commented on #432
: )

![image](https://user-images.githubusercontent.com/7018928/192647442-846539f0-c637-4892-9c31-30babb6969fb.png)

[2022-09-28 04:20] elreydetoda commented on #412
I didn't realize cross repo issues could close something like this...interesting...

So we still need to push all the titles with their corrected title names. These appear to be the affected shows: https://github.com/JupiterBroadcasting/show-scraper/pull/35#issuecomment-1246056641

[2022-09-28 16:17] gerbrent commented on #430
good catch!

I'm feeling like us using it it a good test.. so it was fine! I Didn't have any issues and the flow was just fine. 💯

[2022-09-28 16:27] gerbrent commented on #432
One gotcha:

The `develop` branch was auto-deleted on the merge to `main`,  since we have that set.

![image](https://user-images.githubusercontent.com/7018928/192834184-fe51913b-7f82-4b9a-910c-ea32554593cc.png)

[2022-09-28 16:45] CGBassPlayer commented on #390
I can look into this. I am not sure why there was a large gap. Very strange to me.

But I can see how the checkbox being a task can get annoying. Did we want to remove it or try changing to something else?

[2022-09-28 16:47] gerbrent commented on #390
On the submitted issue:
![image](https://user-images.githubusercontent.com/7018928/192841050-51f07cc1-5843-4544-b90e-9b20a46d4252.png)

On the issue template:
Notice there are THREE lines that suggest reading the Contributing Guidelines. Maybe a little superfluous...

![image](https://user-images.githubusercontent.com/7018928/192841655-8cecd000-4547-4e5e-8b68-9d260033a3e1.png)

[2022-09-28 17:18] elreydetoda commented on #432
Just a heads up, this could be prevented with branch protection rules. So while yes I did delete it by accident 😅, if we had branch protection rules on I wouldn't be able to. Only an admin might be able to, unless you required admins to adhere to the protection ( which I recommend you do enable this and unchecked that box when you need to force an action that's being blocked).

[2022-09-28 17:53] CGBassPlayer commented on #390
@gerbrent do you want the Contributing check removed completely? The bottom link will always be put there by GitHub so we don't necessarily need to put our own in the issue forms if we don't want it.

[2022-09-28 22:19] gerbrent commented on #167
https://ipfspodcasting.net/

[2022-09-28 22:31] TeamLinux01 commented on #167
That is awesome. That is one way JB can use iPFS

[2022-09-29 03:17] gerbrent commented on #390
will test that! nice catch..

[2022-09-29 06:39] elreydetoda commented on #386
I'd need to have someone help test it with me (on my fork), but if we set the "Require approval for all outside collaborators" I'm curious if the e2e tests will still run because it says "synchronized"? So, since it's under the PR submitter's account it would still auto run (which is the only thing that should probably auto run).

[2022-09-29 23:59] ozcoder commented on #328
I think a better way is to detect the page it is going to be included in, and not including it in pages it shouldn't be on.

[2022-09-30 12:31] ozcoder commented on #251
Like this?
[code]

[2022-09-30 14:40] ozcoder commented on #251
This almost works for sorting the links
[code]

[2022-09-30 22:38] zethra opened #437 "Contact form covered by footer"
### URL

https://www.jupiterbroadcasting.com/contact/

### On what type of device(s) did you see this bug?

Phone

### On which browser(s) are you seeing the problem?

Firefox

### Other Browser

_No response_

### Summary

If you submit the contect form without filling out all the feilds it shows an error. On mobile, the causes the bottom on the form, including the submit button to be covered by

[2022-10-01 05:33] elreydetoda commented on #437
Nice find @zethra !

Definitely something we should also create a test case for, once we figure out how to fix this, so we can make sure it doesn't happen again.

[2022-10-01 05:39] elreydetoda commented on #328
I'll actually re-open this since it's not fully remediated then. Just so we don't lose track of doing a "proper" fix for it.

[2022-10-01 05:49] elreydetoda commented on #54
Dang...sorry @ChanceM I thought I'd remember to do this (going through GH notifications and stumbled across it again), do you mind just doing a draft PR? I look at the PR area a lot more than I remember looking through issues 😅

[2022-10-01 05:56] elreydetoda commented on #333
Personally @ChanceM  I appreciate the efficiency of not navigating to a new page, but I don't know about the style...it seems a bit overbearing to me but that might just be the bright blue color.

I'm also not a designer so I'll leave the design things to @reesericci and @gerbrent  😅

[2022-10-01 05:58] #324 closed

[2022-10-01 06:00] #412 closed

[2022-10-01 06:11] elreydetoda opened #438 "Periodic matrix federation check"
_Originally posted by @noblepayne in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/381#issuecomment-1237531729_

I'm thinking we can just do a GH action or something to check this on a periodic basis. (Just creating this so we don't forget about it)

[2022-10-01 06:18] elreydetoda commented on #398
Looks like it's the marketplace action that [we're using](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/1ea70c453e09316d1f43d9a290e3735377f49518/.github/workflows/deploy-prod.yml#L36), they have an issue about it here: https://github.com/appleboy/ssh-action/issues/174

[2022-10-01 07:07] ChanceM commented on #328
I mean technically we could remove a few lines and copy the rest to another file but, then we would need to maintain the same code in two places, as the same query for the live show embed is used to mark the live menu item. I think this is a sane half measure to eliminate the error and either not maintain the code twice or add another file request to the pages.

[2022-10-01 07:11] ChanceM commented on #54
I can, I was going to wait for discussion from JB on the criteria for selecting the sponsors from the episodes and then refine it down to the preferred method.

[2022-10-01 11:24] ozcoder commented on #289
Or you could put something like
```<a href="{{ .Destination | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}{{ if strings.HasPrefix .Destination "http" }} target="_blank" rel="noopener"{{ end }}>{{ .Text | safeHTML }}</a>```
in **themes/jb/layouts/_default/_markup/render-link.html**
To get
```<a href="https://daringfireball.net/2019/06/the_talk_show_live_from_wwdc_2019" title="The Talk Show

[2022-10-01 14:08] ChanceM commented on #333
@elreydetoda 🤷‍♂️ I'm just going with the "brand" colors established.

[2022-10-01 14:51] reesericci commented on #333
I think having two buttons of the same weight right next to each other is kinda odd

[2022-10-01 15:11] ChanceM commented on #333
That's how it is currently I was just proposing a dropdown with the links to save having to load a new page.

[2022-10-03 03:49] paperdigits opened #439 "Gather requirements for RSS feed generation"
In #108 and also in the matrix chatroom, it's been mentioned that generating RSS feeds for the shows might be challenging.

We (mostly @ChrisLAS @noblepayne and @gerbrent) should gather the requirements for the RSS feeds here so the community can understand and help implement them.

[2022-10-03 23:16] ozcoder commented on #439
I'm not sure how to word this.
I would like the _download name_ to be human readable with a show name and episode number instead of a hexadecimal name Eg. ca9fee9b-c6fd-42b0-be2b-77bedcd3915f.mp3 = lup_478.mp3

But this might be hard to do with the current workflow of Jupiter Broadcasting.

[2022-10-04 00:04] paperdigits commented on #439
I would guess that file name is required by fireside.fm or fireside renames the file. Either way the filename isn't determined by the RSS feed, rather the file is named before the RSS feed is generated.

On October 3, 2022 4:16:34 PM PDT, ozcoder ***@***.***> wrote:

[2022-10-04 07:20] devotoare commented on #98
Community resolution on javascript packages not wanted, closing ticket.

[2022-10-04 07:20] #98 closed

[2022-10-04 14:09] CGBassPlayer opened #444 "Scraper only commits to main"
Currently the scraper only commits new episodes to `main` via the GitHub Action. I think we need the episodes to go into `develop` and `main`. I am drafting a [PR](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/443) and it would commit the 3 missing episodes to develop and I am not sure if this will cause issues when `develop` is merged into `main` in the future.

I am aware t

[2022-10-04 18:50] elreydetoda commented on #444
Ya...I noticed this last night with @gerbrent 's [PR](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/442). I hadn't been able to fix it yet but my plan was to try and do some type of GH action after the scrape to sync over the changes. But when thinking about it more this morning I realized it's a bit more complicated than that, because main could be missing some commits that

[2022-10-04 19:12] CGBassPlayer commented on #444
I was thinking the exact same thing @elreydetoda

Could we have auto-merges part of the GitHub action? I see [this](https://github.com/marketplace/actions/merge-pull-requests-automerge-action) action on the marketplace after a quick google search. and it got me thinking we could have the action scrape, create the PRs with an `automerge` label then immediately merge it.

I have no idea what our bra

[2022-10-04 20:27] ChanceM commented on #439
I started a python script to build the RSS feed, both for my own learning and for JB if they decide to go that way. Just thought I would add these here for reference to anyone interested in this topic.

**References:**
- [RSS 2.0 Specification](https://www.rssboard.org/rss-specification)
- [Apple Podcast RSS feed requirements](https://podcasters.apple.com/support/823-podcast-requirements)
- [RSS f

[2022-10-04 20:32] elreydetoda commented on #444
That was what I was thinking was potentially via GH action, but I hadn't been able to look for one yet.

I know we could definitely have an action trigger after another one finishes (unfortunately we can't say only if it successfully finishes, but just if it finishes) like here:

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/develop/.github/workflows/deploy-prod.yml#L14-L17

[2022-10-04 20:40] CGBassPlayer commented on #444
If we don't find a GitHub action that is still maintained or that isn't JS, maybe we can create our own?

I might look into this regardless because I've been thinking about learning GitHub Actions anyway. This would just give me a good excuse.

[2022-10-06 04:11] CGBassPlayer commented on #437
This also happens on the desktop if no data is filled out
![image](https://user-images.githubusercontent.com/34293941/194211192-03600d31-b2f1-4609-82fa-1fc2818a9d98.png)

This is due to the `iframe` that the contact page lives on being locked at 780px. and the errors making the content on the Wufoo form larger than that. I can look into this.
[code]
This one will be hard to test because playwright

[2022-10-06 16:58] gerbrent commented on #437
thanks for finding/reporting this @zethra , and thanks for tackling it @CGBassPlayer - 🎉

[2022-10-06 17:14] gerbrent commented on #54
re sponsor-is-active metric: a 3 month window seems like a very reasonable starting point.

Lets design these first implementations with the following logic:
* `active-sponsors` = active on any Episode of any Show within the last `3 months`
* would be great for this spec to be easily changeable via PR in the future.

[2022-10-06 20:38] gerbrent opened #448 "ChrisLAS Fountain referral link -> 404"
### URL

https://www.jupiterbroadcasting.com/show/self-hosted/79/

### Type(s) of Problems

- [ ] Typo
- [X] Broken Link
- [ ] Sponsor
- [ ] Other

### Summary

the link `[Find ChrisLAS on Fountain.FM](https://fountain.fm/refer/chrislas-e72160c3c5)` = 404

it is indeed the correct link from confirmed use in the past, the referral is just no longer valid.

voting to replace the referral link with a

[2022-10-07 03:24] gerbrent commented on #301
Whisper by OpenAI

Robust Speech Recognition via Large-Scale Weak Supervision

https://github.com/openai/whisper

[2022-10-07 15:38] gerbrent commented on #448
Also just occurred to me that the scraper will not necessarily grab all of these changes if done via Fireside, so we should decide what the best approach should be to affecting these kinds of changes to older-than-scraper-grabbing episodes.

I feel we've discussed this previously, and thus perhaps we should start a manual of sorts... a kind of JB Operations Best Practices (need a better name!)

##

[2022-10-07 15:42] gerbrent commented on #448
Also happy to decide that in this particular case, perhaps it isn't even worth changing any of these links - i.e. some things are ephemeral, and we need to be ok w that...

But! It's a great exercise to determine the future best course of action.

[2022-10-07 16:19] gerbrent commented on #415
@optimusgray ? ^

[2022-10-07 17:38] CGBassPlayer commented on #390
@gerbrent

Based on your concerns, are you thinking we should remove the contributing checkbox from the issue forms? We can put some text in that is only rendered while filling out the issue for them to review it.

[2022-10-07 23:36] gerbrent opened #450 "External links to open in new window/tab - Membership, Boost, Sponsors"
Many external links on the following pages open in the current tab/window but should open in a new tab/window:

* [ ] [Membership](https://www.jupiterbroadcasting.com/membership)
* [ ] [Sponsors](https://www.jupiterbroadcasting.com/sponsors)
* [ ] [Boost](https://www.jupiterbroadcasting.com/boost)
* [ ] Other? Should do an audit for other links on non-episode pages...

Anyone want to take this one

[2022-10-08 11:50] elreydetoda commented on #450
BTW, if you're new to markdown this is how you'd do it: https://stackoverflow.com/a/4425223

[2022-10-08 13:42] CGBassPlayer commented on #438
My curiosity is peaked and I have a couple questions about this:
* Would this action check the contents or just if the files exists?
* If the test fails, are their notifications set up or is that something we need to figure out?
* (A bit of a weird one) Would it make sense to make a python script in the `test` folder for the federation check and have an action call that script?

[2022-10-08 17:32] elreydetoda commented on #438
So, #353 already does the server/client checks (#383/#420) from the JB website side. It tries to [request the well-known file](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/bb5fe8d042ffc415e79857c1c60f7c31a5d2e2b5/test/e2e/test_infra_configs.py#L16), and then it'll check to make sure the it' received a [2xx response](https://github.com/JupiterBroadcasting/jupiterbroadcasting.

[2022-10-08 17:49] elreydetoda opened #453 "GH auto deleting branches (on jb.com's repo) after merge"
So the first time [this happened](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/433#issuecomment-1260151853) I thought "Maybe I just clicked the delete button on accident", but this time I'm positive I didn't click the delete button on #442.

I was going to click the delete button but it said I'd already deleted it and I didn't even get to see a delete button!

![image](https

[2022-10-08 23:03] #414 closed

[2022-10-09 00:15] gerbrent commented on #453
Confirming I've disabled `Automatically delete head branches` since, though it produces extra work to keep thing clean in the short term, it feels much safer until we can implement suitable Branch Protections.

[2022-10-09 00:15] #453 closed

[2022-10-09 01:45] #437 closed

[2022-10-09 21:42] reesericci opened #457 "JB & Hacktoberfest - Let's participate!"
It would be cool if JB would add the "hacktoberfest" tag to this repo so contributors can get credit for submitting PRs for [Hacktoberfest](https://hacktoberfest.com)!

[2022-10-11 01:40] gerbrent commented on #457
actions taken as suggested by https://hacktoberfest.com/participation/#maintainers

* `hacktoberfest` label created
* `hacktoberfest-accepted` label created and should be applied to any `hacktoberfest`-labeled issues/PRs

## Todo
* identify good hacktoberfest tickets to solve! - please feel free to recommend some that might fit and/or while you're working on a PR

[2022-10-11 01:47] CGBassPlayer commented on #457
I think anything issues that are a `good first issue` would be a good start. But I'll look through and see what would be good as well

[2022-10-11 01:50] gerbrent commented on #457
## Contributors
Here’s what you need to know to participate and complete Hacktoberfest:

* [ ] [Register](https://hacktoberfest.com/auth/) anytime between September 26 and October 31

* [ ] Pull requests can be made in any [GitHub](https://github.com/topics/hacktoberfest) or [GitLab](https://gitlab.com/explore/projects/topics/hacktoberfest) hosted project that’s participating in Hacktoberfest (loo

[2022-10-11 01:53] gerbrent commented on #265
closing, as this is complete

[2022-10-11 01:53] #265 closed

[2022-10-11 02:14] gerbrent commented on #7
closing since likely stale.

[2022-10-11 02:14] #7 closed

[2022-10-11 02:17] gerbrent commented on #262
closed by #144

[2022-10-11 02:19] gerbrent commented on #230
We should define which image this should be and replace the png so this functionality is restored.

Votes w emoji!:

[2022-10-11 02:20] gerbrent commented on #230
...JB logo w text?

![image](https://user-images.githubusercontent.com/7018928/194982604-a1a34225-80ee-4d51-907f-0ce6a9b13f7f.png)

[2022-10-11 02:21] gerbrent commented on #230
... JB logo w text and rocket?

![image](https://user-images.githubusercontent.com/7018928/194982650-dad3205e-3ba0-43df-9c11-5d3ef998539f.png)

[2022-10-11 02:31] elreydetoda commented on #457
All that research @gerbrent did will be awesome for every time hacktoberfest comes around!

Awesome work @gerbrent 🥳🚀

[2022-10-11 02:33] elreydetoda commented on #262
This actually is for this page: https://www.jupiterbroadcasting.com/people/

Since we're displaying hosts and guests it wasn't liking the custom pagination we had when doing 2 things to paginate.

[2022-10-11 02:47] gerbrent commented on #206
@Lord0fBytes still wanna work on this one?

[2022-10-11 02:52] gerbrent commented on #198
![image](https://user-images.githubusercontent.com/7018928/194986112-3d6e0044-681f-4407-b60f-9c022390a9a1.png)

Confirming this still needs attention!
Anyone want to work on the dynamic favicon switching™ ??

[2022-10-11 02:56] gerbrent commented on #62
closing as vague and mostly completed elsewhere.

[2022-10-11 02:56] #62 closed

[2022-10-11 02:58] gerbrent commented on #34
feature completed by #378

[2022-10-11 02:58] #34 closed

[2022-10-11 03:02] gerbrent commented on #41
feature completed by https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/378

[2022-10-11 03:02] #41 closed

[2022-10-11 04:11] gerbrent commented on #262
I just caught this too, and yet as usual you're very astute @elreydetoda !
Glad you're keeping my actions in check. THANKS!!!

[2022-10-11 04:21] gerbrent commented on #223
The changes in this issue seem to have been reverted. Worth investigating...

https://www.jupiterbroadcasting.com/people/

![image](https://user-images.githubusercontent.com/7018928/194996424-192c1c31-7dbc-425f-a8f8-faf040e04ffe.png)

[2022-10-11 05:59] gerbrent opened #458 "Add SSH discount codes to Sponsors page"
### Feature Description

There are a few stores around that feature discount codes for Self-Hosted listeners. It would be great to add these to the Sponsors page for listeners to refer to when needed, but only if they are still active.

It is my understanding that these links are still offering discounts to JB listeners, and are a little different than the typical sponsors. @ironicbadger can you w

[2022-10-11 21:06] gerbrent opened #459 "Episode - browser page title to include show name"
### Feature Description

On Episode pages, the browser tab/window title does not include the Show name, only the Episode name in the form `Episode Name | Jupiter Broadcasting`

Would be more desirable to have the Show name and Episode number included aswell, such as:

`Episode Name` | `Show Name` `Episode number` | `Jupiter Broadcasting`

^ is the same formatting found on Episode cards throughout

[2022-10-11 21:45] #390 closed

[2022-10-11 21:47] #404 closed

[2022-10-11 21:54] gerbrent commented on #116
What even is this file used for?

I can see from the git blame that it's been there a [long time](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blame/551e71a20d01b5fa9c8b87fd7d66dbc7613c116e/themes/jb/layouts/episode/single.html#L2) (relatively) and I wonder if it's a relic from the previous embedded web player?

Can anyone clarify if this is even needed? Would avoid needing #445

[2022-10-12 15:04] gerbrent commented on #450
Wonderful @prestonw ! Please create a PR to our repo with these commits and we'll be happy to review/integrate them.

[2022-10-12 19:53] CGBassPlayer commented on #116
So just poking around, I can see that there is a commented out line on the episode page calling a video player for the episode page (I assume leftover from the MVP)

[code]
[code]
Given that we do not want to have video on the site anymore. I think it would be safe to remove the `video-js` and video player partial from the site entirely. Unless there is someone can give any reason why we should ke

[2022-10-13 00:43] CGBassPlayer commented on #356
This would be a good one for someone looking to get involved. My guess is that we can add a margin to the bottom of the navbar when it is on the mobile view. A good place to start looking into that would be [here](https://bulma.io/documentation/helpers/spacing-helpers/).

[2022-10-15 03:19] duckunix commented on #136
Hello, all.
I have the  template code for this worked out.  I basically cloned ../themes/jb/layouts/partials/shows/links.html to ../themes/jb/layouts/partials/episode/links.html.  Example:
![2022-10-14_22-14](https://user-images.githubusercontent.com/60646/195966515-5914b822-b6f6-4299-b710-7a76921859ab.png)

The change in the episode files is simple, but I am not sure where to add it.  Example:
[c

[2022-10-15 13:46] CGBassPlayer commented on #136
So the shows links end up in the [here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/develop/content/show/linux-unplugged/_index.md) and this translates to all the shows.

Someone who knows Hugo better than I can help you out, but I can provide a direction of how to tackle this.

### Email, Twitter, and YouTube
All of these links are found in the in the [links](https://githu

[2022-10-15 15:58] duckunix commented on #136
Found that which is where I cribbed thing from

Yeah, I know some hugo, but not enough to pull vars from a different section. :(

Good thought....let me see what I can figure out.

[2022-10-15 16:21] CGBassPlayer commented on #136
@elreydetoda might be able to chime in with some wisdom on how to implement this idea as well

[2022-10-16 02:08] komish commented on #459
Hi folks!

Heard you were looking to participate in Hacktoberfest - thanks for doing that. I usually participate every year but had to miss last year. Looking to get back into it this year if my limited time allows for it. I'll grab this issue. PR to follow shortly. Happy to make any necessary changes.

[2022-10-16 13:08] elreydetoda commented on #439
Convo with @ChrisLAS in matrix:
- [Start of convo](https://matrix.to/#/!rDlEtonuSythLzmxQL:jupiterbroadcasting.com/$EzGj1kPRCBjn6BDxSEGBHU-RcYKQUWp0bBep_dM1Wec?via=matrix.org&via=jupiterbroadcasting.com&via=linuxdelta.com)
- Specifically [this MD file](https://github.com/Podcastindex-org/podcast-namespace/blob/main/podcasting2.0.md) under what @ChanceM already listed for the podcast-namespace
- Me

[2022-10-16 13:17] elreydetoda commented on #136
Sorry, I was away from my computer yesterday. I'll try and take a look at this today 🙂

Thanks @duckunix , for taking this issue on!

[2022-10-16 14:40] elreydetoda commented on #136
This was some really awesome feedback @CGBassPlayer :partying_face: , I was on mobile before so I could appreciate the comprehensiveness of your comment before :sweat_smile:.

Even though you might not know how to do it, you've got the right thought pattern on how to keep things more [DRY](https://en.wikipedia.org/wiki/Don%27t_repeat_yourself) and re-using all the content that's already available

[2022-10-17 18:13] genebean commented on #198
Y'all might find this helpful both for checking and for building all the right files via a link on their front page (I use this for my sites) https://realfavicongenerator.net/favicon_checker?protocol=https&site=www.jupiterbroadcasting.com%2F

[2022-10-18 01:11] #245 closed

[2022-10-18 12:07] takov751 opened #465 "Geocatching details on site"
### Feature Description

@gerbrent my idea is to use as you thought GitHub just in somewhat different way . My idea is to create issue here or on an empty repo called geocaching . So all the activity in issue would be separated . Then create issues on that repo for every geocaching location in a template manner. So that JB listenesers could add their own as well. And moderator specifically to thes

[2022-10-23 15:40] #319 closed

[2022-10-23 16:21] #394 closed

[2022-10-23 16:37] CGBassPlayer commented on #465
So I think using issue to keep tracking of geocaches would be need to be a repo separate from the website itself.

My idea of this would be that open issues could be the geocaches are that out in the wild and they would close once they are found. I am not sure that using GitHub issues is the best way to handle something like this, but I am definitely open to using it.

Looking for others thoughts

[2022-10-23 17:45] takov751 commented on #465
And if the geocache treasure box refilled with stuff open issue once more

[2022-10-23 19:07] CGBassPlayer commented on #438
So my current plan is

* Have a periodic mark to flag all tests that would run on a schedule rather than on a PR
[code]

* Mimic the E2E action, but add the necessary arguments to prevent periodic tests not to be run during e2e tests and vice versa
    * E2E
[code]
    * Periodic
[code]
Only real difference at this point is that I am not saving screenshots (didn't think it would really matter for

[2022-10-23 19:31] CGBassPlayer commented on #444
@elreydetoda I see you are trying repo-sync. I was looking at that action as well. Have you had any luck with it?

[2022-10-23 19:46] CGBassPlayer commented on #315
So I figured out what is going on with this. It is indeed rendering, but the rendering is happening is off to the right of the screen.
![image](https://user-images.githubusercontent.com/34293941/197414433-bb47c44f-4cb3-43fa-9a8c-883a9f0de105.png)

In the browser mobile view click on the `RSS Feeds`, you can then you can scroll to the right and see them. I'm not sure if we can
just update the CSS t

[2022-10-25 12:25] elreydetoda opened #473 "thanks @ChanceM ! Great questions!"
_Originally posted by @gerbrent in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/451#issuecomment-1288135268_

[2022-10-25 12:38] elreydetoda opened #474 "Sponsors Page Enhancements"
![image](https://user-images.githubusercontent.com/10230166/194727211-e20e9517-af00-4fbf-83b5-c436567568df.png)

_Originally posted by @elreydetoda in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/451#pullrequestreview-1135262770_

[2022-10-25 12:42] #54 closed

[2022-10-28 22:31] TeamLinux01 opened #476 "jupiterbroadcasting.net expired SSL Certificate"
### URL

https://jupiterbroadcasting.net

### On what type of device(s) did you see this bug?

Phone, Desktop

### On which browser(s) are you seeing the problem?

Firefox, Chrome, Microsoft Edge

### Other Browser

Vivaldi

### Summary

The SSL certificate for jupiterbroadcasting.net expired on Oct 20, 2022.

[2022-10-28 22:33] TeamLinux01 commented on #476
May I suggest that the .net site do a redirect to https://jupiterboardcasting.com, that way it doesn't require a certificate at all?

[2022-10-28 22:52] CGBassPlayer commented on #476
I've used this URL before the expiration and it did redirect to the jb.com. Not really sure what is happening on the backend for redirecting

[2022-10-29 11:56] pagdot commented on #476
It does. At least if you use some kind of HTML or HTTP(S) based forwarding (3.g. [HTTP 301 Moved permanently(https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/301)) because you still need to establish a HTTPS connection. Pure HTTP forwarding would be possible, afaik most web browsers prefer HTTPS and may even warn with HTTP

[2022-10-29 12:33] gerbrent commented on #476
Adding @stefanso since he is the domain owner..

[2022-10-29 13:14] #459 closed

[2022-10-29 13:32] gerbrent commented on #465
This is a pretty good implementation of my hardly-at-all-pondered idea!
I like it...

The only other alternative I can think of is to use a PR and submission method, but perhaps carries complexity for no reason.

[2022-10-29 13:49] gerbrent opened #477 "LUP 480 - Geocache info missing from Links"
### URL

https://www.jupiterbroadcasting.com/show/linux-unplugged/480/

### Type(s) of Problems

Other

### Summary

The Washington Pass geocache is discussed in Housekeeping of LUP 480, but no link or info to the coordinates is provided in the show notes, as was customary.

    + 48.52576° N, 120.64774° W
    + Washington Pass Overlook - North Cascades Highway

  see also #465 for collecting all

[2022-10-29 14:04] gerbrent commented on #465
OK, here we go for the alternative:

We could track the geocaches with hugo-esque files, mostly w the metadata:

[code]

[2022-10-29 17:25] CGBassPlayer commented on #465
Love the idea of doing it the Hugo way. I ideas to build on @gerbrent’s idea of Hugo objects. As well as concerns.

### Video and Audio
Git does not handle binary files like videos and audio recordings well and could balloon the repo to a very large size, I would say even with [Git LFS](https://git-lfs.github.com/) (which would a another setup step if we decided implement it I believe. I haven’t u

[2022-10-30 01:37] gerbrent commented on #465
I love how reasonable you always are @CGBassPlayer - so appreciated!

And yep... judging by the amount of activity on the caches so far (one found, another almost found but no luck, another visited but not searched for..) I'm also not convinced this idea of geocaching has long legs.

Wouldn't want to build something (surely amazing, if all of everyone's collaborative contributions so far are any i

[2022-10-30 01:38] gerbrent commented on #465
timeline/array of objects sounds like what I was picturing!

[2022-10-30 02:49] takov751 commented on #465
I was really thinking to create a permanent drop-off geocatch in mid-west, North Wales in UK. with some swag. However I have to say this will be rarely active. Nevertheless, that only means easier to maintain

You could it's rarely used, but I would say that means it's easier to maintain in the long run, at still deliver useful feature in case there would be a more permanent geocatch treasure drop

[2022-10-30 03:33] CGBassPlayer commented on #465
@gerbrent
Is there a particular Matrix room that would be a good place to poll the community about the idea of geocaching? I know feedback in the shows has been pretty sparse so I’m wondering Matrix would be a better place to find out.

@takov751

I actually disagree with you there. It’s not so much that it’s easier to maintain, it’s more the issues related to it trickle in slower, meaning bugs wo

[2022-10-30 04:00] takov751 commented on #465
You are absolutely right about that. I was not thinking that ahead.

[2022-10-30 05:33] FlakM commented on #26
Hello all! Have you considered https://www.meilisearch.com/ it's also an open source project with a valid source  of income (they have recently received 15M round o founding). It is very easy to deploy and used LMDB and rust underneath. I'd be more than happy to write backend RSS watcher and some mockups for front end.
As for costs times are crazy but I think I can commit to covering a year of run

[2022-11-01 13:21] gerbrent commented on #26
oh wow, very generous @FlakM !!!

I'll be curious to hear what others think of MeiliSearch - def worth considering!

[2022-11-01 13:27] gerbrent commented on #465
First, @takov751 definitely place the geocache and let us know about it! Would be very happy to include the drop in LUP.

[2022-11-01 18:13] timlepes commented on #109
I notice that the branding for Office Hours is starkly different than all the other shows on the website.  Predominantly red background as opposed to the dark grey/black of the other show tiles.  Also, no corner badge.  Is this issue an appropriate place to bring this up?  Or should I open a separate issue?  I think that when Office Hours gets re-named, the branding should include background and s

[2022-11-02 07:52] FlakM commented on #26
I've been recently reviewing alternatives for more traditional ELK stack and hosted options for my employer. Meilisearch has come up on this week in rust so I have also looked into it. Here are some reasons why I think it would be a good fit here:

- It uses a very solid backing technologies - ie [LMDB](https://docs.meilisearch.com/learn/advanced/storage.html#lmdb) which has been designed as a emb

[2022-11-02 15:26] elreydetoda opened #480 "Automated building & publishing of website containers"
Merging this as Part A, with Part B involving some JB/ @ironicbadger involvement to handle deployment functionality. We will also need to sign up to quay.io in that process, so definitely more JB Action Required.

Onward!

_Originally posted by @gerbrent in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/353#issuecomment-1288147918_

[2022-11-02 15:28] elreydetoda commented on #401
Reopening this, because it's technically not "fixed" just patched for now.

[2022-11-02 15:31] elreydetoda commented on #257
Reopening since this isn't working properly on this repo (even though it [worked on mine](https://github.com/elreydetoda/jupiterbroadcasting.com/pull/19#issuecomment-1272554896) :sweat_smile: )

[2022-11-02 20:04] #476 closed

[2022-11-03 11:01] FlakM commented on #301
Hello yall! I've been looking into #26 and wanted to test the search using the transcription. I wanted to post my findings here.

I've previously worked with deep speech from Mozilla but I've found out that the project has been [deprecated](https://github.com/RustAudio/deepspeech-rs/issues/48). Currently, the go to solution seems to be [Coqui STT](https://github.com/coqui-ai/STT). I've managed to

[2022-11-03 15:04] elreydetoda commented on #438
Yep, that sounds perfect :partying_face:

Reviewing your PR now :grin:

[2022-11-03 15:39] squirrellyDave opened #481 "Include link to notes.jupiterbroadcasting.com"
### Feature Description

It would be great if there was a link from the homepage to the [JB Notes Site](https://notes.jupiterbroadcasting.com/) I think that's a really powerful tool that many in the community don't use, because we forget about it or forget the link to it.  (It's a VERY complex link)  so having a link right here would likely make it more usable by the community.

### Reference to F

[2022-11-03 17:26] #438 closed

[2022-11-04 05:49] Huckleberrynoun opened #482 "welcome page zoomed in"
### URL

_No response_

### Type(s) of Problems

Other

### Summary

web design aesthetics personal opinion
welcome page is too zoomed in both on mobile and desktop.
here's an image from a 20.5 inch iMac:
![Screen Shot 2022-11-03 at 7 39 15 AM](https://user-images.githubusercontent.com/117382683/199891687-450fa64f-6a83-410d-b894-9eda35764494.png)

I imagine the idea is to serve up the shows with o

[2022-11-06 21:24] FlakM commented on #301
Over the weekend I've added vad splitting and instructions on how to run [the inference](https://github.com/FlakM/jupiter-search#running-inference-of-some-audio). I've also created couple of issues in the repository if someone wants to help.

The biggest [problem](https://github.com/FlakM/jupiter-search/issues/2) now is building a dedicated language model (scorer) more suited to the domain. If you

[2022-11-07 12:26] kd2flz commented on #259
Does this merit a new page, aka jupiterbroadcasting.com/contribute?

[2022-11-08 17:47] gerbrent commented on #259
I was initially thinking it would like in CONTRIBUTE.MD... esp since it's a narrow set of the audience that would benefit from this information, i.e. not everyone who visits the website. If you're interested in our preferred git workflow, then chances are extremely high you're already dabbling in the code or here on GH.

[2022-11-08 17:50] kd2flz commented on #259
I can probably pick away at this in my spare time... Unfortunately not a ton of that right now, but I do have a few spare moments here and there 😆

[2022-11-08 17:53] gerbrent commented on #259
Amazing @kd2flz ! Any and all contributions of any size are always welcomed...

[2022-11-08 18:16] gerbrent commented on #301
These transcriptions are impressively accurate! Nice work! We'll see what we can do to drum up a little more interest in helping here.... very promising!!

[2022-11-08 18:36] gerbrent commented on #301
Just to clarify, sounds like if using Whisper we won't need  to tackle the arduous task of "building a dedicated language model" - that sounds like great news!

Correct??
From what I can tell, even the base transcription is impressively accurate!

[2022-11-09 08:10] pagdot commented on #301
Just wow on the medium model. If we could add speaker diarization to it, it would be pretty great. This could even be done by a different model and merged afterwards. Maybe a take a look at it in close the future :)

[2022-11-09 21:43] FlakM commented on #301
@gerbrent @pagdot precisely! I've got to admit that I was left speechless by the transcription quality (pan intended).

I have even more good news! I've managed to compile the code on my wife's m1 mac and it is actually super quick! Just 12s for 60s of audio using a medium model. With some corners cut I'm pretty close to preparing a full-fledged solution.

Do you have any idea how would you like t

[2022-11-11 00:56] TeamLinux01 commented on #465
I had the idea that each geocache could have a unique token ID and a QR code could be printed that is a URL with that token filled in.

If a web page could be built that shows which geocaches are out there and not been found, then if someone scans the QR, they could easily claim that geocache.

[2022-11-11 18:21] wilron commented on #219
Sorry, I'm going to un-assign myself on this one as I haven't been able to make any progress without the files to convert. I'll look around for another issue to contribute to.

[2022-11-11 18:22] CGBassPlayer commented on #219
No worries @wilron! Thank you for the efforts you have provided

[2022-11-11 21:31] SoundRisk commented on #219
@gerbrent can we get some files, please?

[2022-11-12 17:11] gerbrent commented on #219
oh yes, I am by far the worst.

partly: best way to share files that can be organized, protected, yet high usability?

maybe git annex or git-lfs?

anyone have any experience here w these?

[2022-11-12 17:11] gerbrent commented on #219
also: sorry @wilron ! Its not you, its me ; )

[2022-11-12 17:13] gerbrent commented on #301
that is a great question, worthy of much thought and intention.

I believe @noblepayne might be a great resource here.

let us get back to you..

[2022-11-12 17:15] gerbrent commented on #465
now that is a fabulous idea @TeamLinux01 . hmm!

[2022-11-13 06:13] reesericci commented on #219
@gerbrent git-lfs could work!, or possibly like a figma with everything on it

[2022-11-13 17:31] CGBassPlayer commented on #444
So looking into this a little bit, by first draft at an idea is to update the scrape action to have a few extra steps

[code]

So basically the scrape would do the following:
1. Commit into a branch called scraping
2. Create 2 PRs to merge this branch into main and develop with a label (currently set to scraper)
3. Merge PRs with with the scraper label

Looking for some feedback on this approach.

[2022-11-13 17:48] gerbrent opened #485 "Contact - submit button hidden on missing field"
From a LUP listener, and will likely need more investigation:

[2022-11-13 19:20] pagdot commented on #301
@FlakM Have to give it a try. I could imagine using a second framework for speaker diarisation. And merging the results similar to how I've done it in my first experiment. Finding time and motivation to work on it isn't that easy right now for me. There are a few ideas I'd like to implement if I work on it again :)

[2022-11-13 19:25] pagdot commented on #301
@FlakM Have to give it a try. I could imagine using a [second framework for speaker diarisation](https://github.com/openai/whisper/discussions/104). And [merging the results](https://gist.github.com/lmmx/0970a01295e12531f6a3f0ac5537e0b8) similar to how I've done it in my first experiment. Finding time and motivation to work on it isn't that easy right now for me :(

[2022-11-13 20:17] FlakM commented on #301
@pagdot this sounds like a great plan. Also no pressure on the timeline, It is a perfectly separated feature :+1: Working without motivation and free time sucks... Take good care of yourself! :four_leaf_clover:

[2022-11-13 20:41] pagdot commented on #301
@FlakM I'm fine :) Just a combination of work a few hobbies and spending time having fun with friends takes most of my time and energy right now :) I'm just a bit drained in the remaining spare time. Thanks for caring about my wellbeing :heart: I'm doing good, just not easy right now investing time and energy here too.

By working as a software developer, I often prioritize non dev work in my spar

[2022-11-13 21:14] FlakM commented on #301
That's good to hear, you never know on the Internet.

[2022-11-13 21:49] CGBassPlayer commented on #485
Looks like the makers of the context form updated to use more native buttons and file pickers. This screenshot is from my iPhone X.

![contact form on iPhone X](https://user-images.githubusercontent.com/34293941/201545988-6aba5be1-655a-4176-844d-c3e322bcd215.png)

I was planning on figuring out how to add more browsers and/or resolutions with playwright after I finished my test expansion PR.

I wi

[2022-11-14 13:54] pagdot commented on #301
Returning to the topic. Just found a very interesting conversation for whisper [describing and discussing how to combine whisper with pyannotate.audio](https://github.com/openai/whisper/discussions/264). I'll try to get it working in the evening. I probably will do this in python using a script or a notebook on collab

@FlakM With your continued contributions and research you've really helped me t

[2022-11-14 21:11] gerbrent commented on #444
good idea!

One worry would be auto-merges of `scraper` labelled PRs, since anyone could presumably tag a non-moderated PR and thus have it get merged on the next scrape without approval/knowledge. Could be an issue..

[2022-11-14 21:12] gerbrent commented on #444
then again, I think only mods can label issues, but still a consideration.

[2022-11-14 21:21] CGBassPlayer commented on #444
I am only using scraper as an example. We can reserve a label just for this action if we wanted to.

You are correct. I was only able to edit labels after getting triage permissions.

[2022-11-15 05:57] elreydetoda commented on #465
This has been some awesome discussion, I've actually created a GH discussion to try and consolidate all these great ideas (and hopefully others) into one location. GH discussions also has a "voting" feature by allowing you to up-vote individual suggestions, so that should help with the "polling" side of things.

So, @takov751 or anyone else on this issue would you mind submitting the consolidated

[2022-11-15 21:35] FlakM commented on #301
@pagdot you can find the output that `jupiter-search` is currently able to generate (tiny model on laptop)
[BlueIsTheNewRedCoderRadio331.log](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/files/10016352/BlueIsTheNewRedCoderRadio331.log).

Please review if you think that I should add something. Otherwise, I'll be working on the weekend to run the whole back catalog on some beefy ma

[2022-11-15 23:29] gerbrent commented on #301
[code]

Roberta Broadcasting ; )

[2022-11-15 23:30] gerbrent commented on #301
Does it make any sense @FlakM to run the base/medium quality on the back catalogue? And if so, can we help provide some Linode goodness for the task?

[2022-11-16 11:33] pagdot commented on #301
Just gave a sample Collab Notebook containing whisper (medium.en model) and pyannotate.audio a try and adapted it: <https://colab.research.google.com/drive/1WoStXlztP3Lv0jQy5w-zupK2VtlKvXuZ?usp=sharing>

I've uploaded the result to <https://pag.one/jb/coderRadio331.html> for everyone to take a look :)

It seems to have issues with jar jar and with chris and mikes speech overlapping or almost overl

[2022-11-17 01:42] SoundRisk commented on #219
@gerbrent git-lfs is good by me also!

[2022-11-18 22:00] FlakM commented on #301
@pagdot this looks very cool. Did I understand correctly, the model is not able to classify specific speakers using some kind of transfer learning and downstream task tuning. So we have no way to map classes (`speaker_1`/`speaker_2`) to the hosts without manual intervention. And the classes can be different on each inference (probably chronological)?
Followup question, how comfortable are you with

[2022-11-21 08:01] pagdot commented on #301
@FlakM Would expect there to be a way to detect speakers across multiple inferences, just didn't invest time yet to find out how it would work. I haven't worked with PyTorch on my own yet. I've tried working with machine learning/deep learning before. I'm able to copy paste code pieces, but not interested or any good in doing real work myself. I have a hard time grasping it and prefer to just use