[2022-03-30 03:09] gerbrent opened #1 "Core Contributor/Membership/SSH SRE: not listed on JB.com"
* Core Contributor/Membership/SSH SRE:
    * listed on LUP.com, SSH.show, coder.show :+1:
    * Not on JB.com, and named differently on different sites.

[2022-03-30 03:19] gerbrent opened #2 "describe Podcasting 2.0 v4v, boosts process on website(s)"
we do not describe this process anywhere, save for in the show(s).

[2022-03-30 03:20] gerbrent opened #3 "Network Membership @ jupiter.party not listed on JB.com"
Network Membership @ Jupiter.party:
* [x] not listed on JB.com or LUP.com, or anywhere else.

[2022-03-30 03:21] gerbrent opened #4 "Garage Sale/Swag not listed on show websites (listed on JB.com)"

[2022-03-30 03:22] gerbrent opened #5 "Patreon listed only on LAN.com, nowhere else"
Patreon:
    * listed on LAN.com, nowhere else.

[2022-03-30 03:23] gerbrent opened #6 "Sponsorship requests - must contact via email, no sponsorship links anywhere."

[2022-03-30 03:46] gerbrent opened #7 "jblive.fm not playing live stream of LUP (Coder?) when live on air/streaming"
* jblive.fm not playing live stream of LUP (Coder?) when live on air/streaming
   * first noticed 2022-03-27
* could affect Coder live streaming aswell?
* could affect live streams done at other scheduled times

[2022-04-26 19:27] reclaimingmytime commented on #6
You still have http://jupiterbroadcasting.com/sponsor, you can link that somewhere 😉

[2022-04-26 19:28] reclaimingmytime commented on #5
Again, you can just link to https://www.jupiterbroadcasting.com/support-us/ 😉

[2022-04-29 00:48] brianeray opened #9 "Mumble info on JB.com"
Similar to [matrix/issues/3](https://github.com/JupiterBroadcasting/matrix/issues/3), it would be handy to have a Mumble quickstart link a la the [one on LUP](https://linuxunplugged.com/mumble).

Background: I recently went straight to the jblive page to start Sunday's Linux Unplugged and from there get Mumble coordinates to join for the first time.

There are IRC coordinates on that page, but I c

[2022-04-29 16:25] brentstewart opened #10 "Hugo"
You mentioned in "Office Hours" that you were considering website options and that Hugo was on the list.  Let me recommend Hugo.

I had a brief period of involuntary unemployment at the start of the pandemic and started a blog to keep myself busy and keep my name in the conversation.  I settled on using Hugo after watching Mike Dane's excellent intro (https://www.youtube.com/watch?v=qtIqKaDlqXo) a

[2022-04-29 19:43] derikatwork opened #11 "Have you looked at Odoo?"
Hi Chris,

I was curious if you have considered Odoo (odoo.com) to bring a majority of your back-end business and CMS tooling under a single platform. It is able to be self-hosted or they will host it as well. I think their subscriptions module may be what you are looking for as far as separating out members' feeds and free feeds, etc.

[2022-05-04 18:19] murphym18 commented on #10
Thank you for your post and blog post, I enjoyed reading it. I've been looking into Hugo for a personal site too. Your thoughts about it are helpful. I'd also add that it's fun and easy to build Hugo from source. I made an arm build last week and it works great. I like how flexible it is.

As for deployment, I was thinking of deploying to [Cloud Flare Pages](https://pages.cloudflare.com/). It has

[2022-05-07 22:01] JR-git-hub opened #12 "Consider Ghost CMS"
Ghost CMS was "made for content creators by content creators".  It can be self hosted or SaaS.

They attempt to help creators monitize their work and perhaps have some features JB would utilize well.  They probably don't support SATs but maybe JB can make that case and perhaps Ghost would be interested in a partnership.

Ghost.org

[2022-06-08 22:58] gerbrent opened #13 "Matrix info update - change instructions to Matrix.org server accounts"
https://linuxunplugged.com/matrixinfo currently lists signon instructions for accounts under the JB Matrix server, which are now disabled. Should migrate the instructions toward Matrix.org signups.

[2022-06-08 22:59] #12 closed

[2022-06-08 23:00] gerbrent commented on #12
Thanks!

Ghost is actively discussed here, along w the other options: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/discussions/8

[2022-06-08 23:01] gerbrent commented on #10
Converting into a discussion, alongside the other wonderful website options here: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/discussions/8

[2022-06-08 23:02] gerbrent commented on #11
great! Converting to a discussion alongside the rest of the great ideas over at https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/discussions/8

[2022-07-02 15:52] TeamLinux01 opened #16 "IPv6 compatibility - jupiterbroadcasting.com does not have IPv6 compatibility"
It seems that there are no AAAA name records for IPv6. Please serve the website on IPv6 as well as IPv4.

https://dnschecker.org/ipv6-compatibility-checker.php was used to quickly check compatibility.

[2022-07-04 07:19] gerbrent opened #17 "jupiter.party: typo in content body"
https://www.jupiter.party/

"As a thank you [WE} are making ad-free versions of each of our shows available to you. "

[2022-07-05 01:01] gerbrent opened #18 "hugo theming - not rendering Markdown headers, lists in text body"
Currently markdown formatting in body of `index.md` appears to render html correctly (lists, headers, links).

However, no formatting is applied despite the code.

This could be a theming issue.

Can we *please* add basic formatting to the theming to facilitate page content editing? Currently text appears as an unformatted blob.

### To Reproduce:
edit the "Archive" `index.md` with formatting as b

[2022-07-05 01:03] gerbrent opened #19 "Make shorthand for Shows in hugo directories consistent w JB internal shorthands"
naming convention for Shows should be consistent, either:

### JB shorthand:
* coder
* extras
* lan or LAN
* lup or LUP
* office
* ssh or SSH

### lower-kebab-case:
(likely the better choice)
* coder-radio
* extras
* linux-action-news
* linux-unplugged
* office-hours
* self-hosted

### currently - a mix of naming conventions
/content/coderradio
/content/extras
../linux-action-news
../linuxun
../of

[2022-07-05 01:03] gerbrent opened #20 "media player: Consider Podverse embedded player"
Consider using the [Podverse](https://podverse.fm) embedded player to enable/facilitate Podcasting 2.0 features such as boosts/v4v, clips, chapters, etc.

demo: https://podverse.fm/embed/player-demo

code: https://github.com/podverse/podverse-web/pull/820/files

### Value-4-value

[2022-07-05 01:04] gerbrent opened #21 "Setup StorageBox"
start with 1TB and than scale up

[2022-07-05 01:16] gerbrent opened #22 "Extract missing content from archive.org"
shows like Beer is tasty missing a lot of videos due to blip.tv shut down.
Extract those from archive.org

[2022-07-05 01:17] #21 closed

[2022-07-05 01:19] gerbrent opened #23 "Save multimedia content to backup storage"
A task to save *all* JB media related to shows, present and back-catalogue, to a single JB-controlled storage as the source-of-truth from this point forward.

Currently files are dispersed on various services, some missing, some on archive.org (#22) ...

Basically anything that's referred to by the current WP site that we don't want to loose access to before it vanishes.
Seeing the current WP as a

[2022-07-05 01:21] gerbrent opened #24 "Community section"
* [x] Integrate Community "section"

May include:
* [x] Matrix Server info and connection tutorial -  #13
* [x] Mumble Server info and connection tutorial - #9
* [x] Telegram Group link - #63
* [x] SSH Discord
* meetup.com ?
* more?

Grouping all the above into a  submenu might be helpful for community members, while reducing the # of menu items. I envision  a page dedicated to each of the above t

[2022-07-05 01:23] gerbrent opened #25 "Blog"
integrate/migrate Blog, as seen at https://linuxunplugged.com/articles

[2022-07-05 01:26] gerbrent opened #26 "Search"
figure out a good way to integrate search. Clientside like Lunr.js will probably not perform due to index size.

@theZMC recommends:

[2022-07-05 01:26] gerbrent opened #27 "Pagination"
use paginator... basically on each listing page :D

[2022-07-05 01:27] gerbrent opened #28 "Write better docs"
I think we should start using the Wiki, because there a many different things to document:

* How to contribute
* Development information
* Editor information

[2022-07-05 01:27] gerbrent opened #29 "Archetype definitions"
Once the Frontmatter for episodes is figured out, create archtypes for episodes

[2022-07-05 01:28] gerbrent opened #30 "API with JSON Output"
make all content also available via JSON

[2022-07-05 08:50] StefanS-O commented on #25
I discussed this with @gerbrent and it is not needed right now.

[2022-07-05 08:50] #25 closed

[2022-07-05 18:19] gerbrent commented on #17
reopened, as the above PR was accidentally applied to this issues.

This issue is specifically describing an typing error on Jupiter.party, which is outside the scope of the Hugo project (maybe we need a new issue tracker for third-perty sites.........)

[2022-07-05 19:57] reesericci opened #33 "Header is too large"
The header on the top of the page is too large. I want to see the episodes right away, not a giant logo and a low-contrast subtitle.

Here's a mockup of what it would look like with a smaller header:

![image](https://user-images.githubusercontent.com/19589006/177406175-df48ee85-afcd-4531-9269-033e6b7e4aa1.png)

[2022-07-05 20:28] reesericci opened #34 "On-air alert mockup"
I made a mockup for what a large item at the top of the page would look like to advertise a currently-live show:

![image](https://user-images.githubusercontent.com/19589006/177410609-17f12d03-673e-4048-bb1e-82cc715c36f5.png)

--reese

[2022-07-05 20:38] reesericci commented on #34
This could tie into Jbot to update the site whenever !start_show is called

[2022-07-05 21:25] gerbrent commented on #34
great all around!

Maybe then JBot would need some attention...................

[2022-07-05 21:42] StefanS-O commented on #18
@gerbrent i did it for the archiv page, for the show overview i want to build a navigation like structure.

[2022-07-05 21:55] StefanS-O commented on #33
Yeah true, i am currently working on the HTML / SASS files to make it look nicer. I already made the header smaller and started a new branch to make the whole template look nicer.

[2022-07-05 22:22] reesericci commented on #34
There's still some work to be done on it, but it's a good start

[2022-07-05 23:30] StefanS-O opened #36 "Integrate V4V aka Boosts"
Just a placeholder, needs more detail and investigation

https://github.com/podverse/webln-v4v

[2022-07-06 00:53] reesericci commented on #33
Perfect!

[2022-07-06 04:05] gerbrent opened #40 "Memberships: explore Memberful API"
https://memberful.com/help/custom-development-and-api/memberful-api/

@reesericci:

[2022-07-06 04:06] reesericci commented on #40
Maybe a custom sign-up form directly from the website would be cool

[2022-07-06 04:35] gerbrent opened #41 "On-air alert functionality (w JBot! sorta...)"
@reesericci:

from jbot (basically can I use netlify functions/cf workers)

[2022-07-06 14:45] #33 closed

[2022-07-07 01:53] reesericci commented on #41
I got a basic deno script working that stores a JSON object that looks like this in redis:
[code]
then makes it accessible from a GET request (e.g. when the page loads) and allows POST/DELETE requests with a JWT signed with an RSA key pair to update that object

I'm unsure if it's a good idea to set up a system to notify clients, people viewing the website or possibly a background service worker,

[2022-07-07 01:59] reesericci commented on #41
Serverless function gist: https://gist.github.com/reesericci/2875f2049993c0fea7b67abf1eb1984a

[2022-07-07 06:14] gerbrent commented on #19
Realizing now that accurately, Extras is actually/officially "Jupiter Extras", thus for kebab consistency:

* add todo to change "extras" slug to "jupiter-extras"

(encountered as I was using a ref in some content/text to the show following our naming convention, and hugo threw an error.)

[2022-07-07 07:36] gerbrent opened #46 "hugo WARN: no layout file for "webplayer" for kind "page""
solve hugo runtime WARN:

[2022-07-07 08:23] gerbrent opened #47 "Nav Menu: Enable opening of URL menu item as a new tab or window."
Enable opening of URL menu item - for example, https://jupitergarage.com - as a new tab or window, similar to HTML behaviour `<a href="https://jupitergarage.com" target="_blank">`

A possible quick "hack", since Hugo doesn't seem to have this feature yet:
* https://gist.github.com/dudil/edf2b1838c7cc5f1131a3777dbc662a9?permalink_comment_id=3795765#gistcomment-3795765

Hugo issue tickets discussing

[2022-07-07 09:25] gerbrent commented on #46
![image](https://user-images.githubusercontent.com/7018928/177740312-c370d376-4a45-482f-833f-788e027292fc.png)

[2022-07-07 19:25] StefanS-O commented on #19
@kbondarev would you als rename the existing folder in the Hugo repo in that step?

[2022-07-07 20:36] gerbrent opened #49 "Choose avatars"
Oh and I guess these two directories could be removed (nothing references the files there anymore):
- `static/images/guests/`
- `static/images/hosts/`

I left them because I thought maybe those avatars are more preferable for some of the hosts than the one's the scraper pulled from the Fireside websites. If so, just overwrite the images in `static/images/people` (there's two version of each avatar

[2022-07-07 21:17] gerbrent commented on #1
Need to complete the listed text/content with more specifics.

[2022-07-07 21:27] #4 closed

[2022-07-07 21:29] gerbrent commented on #5
for reasons I'm not going to expand on here, we have challenges w Patreon that need solving, and are not simple. So... for now, not pushing Patreon, and the Memberships accomplish similar benefits for all.

[2022-07-07 21:29] #5 closed

[2022-07-07 21:33] gerbrent opened #50 "Choose a license"
For reference, currently

Wes:

[2022-07-07 21:53] reclaimingmytime commented on #50
You are also using _CC Attribution + Noncommercial + ShareAlike (BY-NC-SA)_ on [Office Hours](https://www.officehours.hair/) and _CC Attribution + NonCommercial (BY-NC)_ on [Linux Unplugged](https://linuxunplugged.com/)

[2022-07-07 21:57] kbondarev commented on #19
@StefanS-O yep, I plan to rename the Hugo folder and anywhere it's referenced, as well as, the show-scraper stuff.

I'll make 2 PR in both repos (scraper and huge site) - I think they should be merged at the same time. I link them here in this issue when both ready to merge.

[2022-07-07 22:26] kbondarev commented on #19
So these two should be merged at the same time into their respective repos:

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/51

https://github.com/JupiterBroadcasting/show-scraper/pull/7

(I know that I have permissions to merge, but I'll leave that to @StefanS-O as the original maintainer of this repo :smile: )

[2022-07-07 22:41] gerbrent commented on #50
....so we are! Hmm... thanks.
Might need to look at this more holistically

[2022-07-07 22:52] #19 closed

[2022-07-07 22:52] gerbrent commented on #19
never a bad thing to have several pairs of eyes ; )

[2022-07-07 22:54] StefanS-O commented on #19
@kbondarev looks good to me!

[2022-07-08 08:52] gerbrent opened #54 "Sponsors - automate Sponsors page content from recent episode sponsors"
Curious if we could automate the creation/updating of text in the Sponsors page, pulling information on sponsors from /content automatically.

`current sponsors` = a recent time frame, something like "sponsors of a show published in the last 3 months"... need to make a decision there on specifics.

[2022-07-08 10:09] #1 closed

[2022-07-08 10:33] gerbrent commented on #2
partially completed, just need more refinement.

[2022-07-08 18:35] reclaimingmytime opened #58 "Calendar - embeded with the now unmaintained timezone detection library jstz"
Not sure if it's already in the works, but a dedicated calendar page similar to https://www.jupiterbroadcasting.com/release-calendar/ that adjusts to the user's time zone would be great.

Currently, the site is using a Google Calendar embed with the now unmaintained timezone detection library [jstz](https://github.com/iansinnott/jstz), so maybe we can find/build a more up-to-date self-hosted alter

[2022-07-08 19:30] gerbrent opened #59 "Calendar - add to menu"
https://jupiterbroadcasting.net/calendar/

[2022-07-08 19:32] gerbrent commented on #58
good one!

so far we have: https://jupiterbroadcasting.net/calendar/ which so far mimics the current behaviour, though I'll leave the library specifics to those more all-knowing there.

[2022-07-08 19:32] gerbrent commented on #58
also, thanks: we need to add it to the menu! #59

[2022-07-08 21:11] gerbrent opened #60 "Up Time status for JB services - Hugo, Matrix, Mumble, etc"
We currently have https://status.jupiterbroadcasting.com/ (Uptime Kuma) but needs to track alot more in the JB arsenal:

* Hugo site
* Matrix server
* Mumble server
* ...more?

[2022-07-08 21:57] reclaimingmytime commented on #58
Vanilla JavaScript supports timezone detection as well, so we might not even need an external library. https://stackoverflow.com/a/44935836

[2022-07-08 22:06] reclaimingmytime opened #61 "Calendar - typo: has the iCalendar standard, not RSS"
Just a small detail on the terminology.

https://jupiterbroadcasting.net/calendar/ says the following:

and provides a link to a `.ics` file. This standard is [iCalendar](https://en.wikipedia.org/wiki/ICalendar), not RSS.

[2022-07-08 22:19] gerbrent commented on #60
Uptime Kuma also has support for status messages, for example:

![image](https://user-images.githubusercontent.com/7018928/178077199-0ff77c31-738b-49f7-975d-60b73d2340b7.png)

[2022-07-08 22:26] gerbrent opened #62 "add links to JB GitHub repo, social media..."
... perhaps in footer.

[2022-07-08 22:39] kbondarev commented on #62
I think it might be a good idea to add a bunch of social media icons with links like Instagram, telegram, matrix, GitHub, YouTube, etc.

Footer is a good idea, but also maybe somewhere at the top on the front page or the community page

[2022-07-08 22:45] gerbrent opened #63 "Community page - add Telegram Group link"
requires #24

[2022-07-08 22:56] gerbrent opened #64 "Jupiter.tube Peer Tube - add link"
Link to [Jupiter.tube](https://jupiter.tube/)/Peer Tube instance somewhere.

[2022-07-09 05:15] lodenrogue commented on #61
I can give this a shot

[2022-07-09 05:20] lodenrogue commented on #61
PR: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/65

This seems to be the only place with that wording

[2022-07-09 20:48] gerbrent opened #66 "add subscribe links - rss, spotify, stitcher, etc"
currently, two different styles:
* soft grey buttons on every episode
* a specific "subscribe" page w branded icons

Not sure which will be more appropriate.

![image](https://user-images.githubusercontent.com/7018928/178120120-a37b113a-905c-49c1-b72c-46a7e18bff33.png)

## Todos
* [x] #337
* [ ] create a main jb.com/subscribe page
* [x] #334
* [ ] #340

[2022-07-09 20:55] #61 closed

[2022-07-09 20:56] gerbrent commented on #61
thanks for your help @lodenrogue !

[2022-07-09 21:13] gerbrent opened #67 "LAN - "Episode Name | Show Name EP#" title formatting incorrect on card"
* LAN cards feature title repeating as `Show Name EP# | Show Name EP#`.
* Other shows have a distinct Episode Name as `"Episode Name | Show Name EP#" `
* LAN does not follow this unique episode naming convention in addition to it's EP#, thus the repetition.

Would be cleaner visually to only list `Show Name EP#` once on LAN cards.

![image](https://user-images.githubusercontent.com/7018928/1781226

[2022-07-09 21:27] gerbrent opened #68 "Menu - hiding behaviour: hide menu items less agressively"
Would be nice to adjust the menu hiding behaviour.

My experience:

## Full Screen:
Easy navigation, single click to get anywhere.

![image](https://user-images.githubusercontent.com/7018928/178122927-7f0d6981-8f56-45d8-a246-522dc6867d13.png)

## Half-Screen:
i.e. half of 1920x1080
Menu vanishes into hamburger despite plenty of real estate for *some* menu items.

![image](https://user-images.githu

[2022-07-10 01:31] kbondarev commented on #67
So this is an interesting one and could be solved in different ways that would mean different things.

LAN technically follows the same patterns as all the other episodes, like you wrote:
“Episode Name | Show Name EP#”

The issue is that for LAN, the episodes are named like this: “Linux Action News Ep#”

Hence the duplication. It’s a lot weird and confusing in case of LAN.

Possible Solutions:
1)

[2022-07-10 02:44] gerbrent commented on #67
Option 3: @kbondarev can you elaborate/clarify?

## Question 1:
So you're proposing, if I understand:
* remove the `| Show Name` part of `Episode Name | Show Name EP#`  = `Episode Name EP#`

Thus each episode of LAN would then looks like "Linux Action News 247 247" ? I'm sure that's not what you mean, but just = `Episode Name` ie. "Linux Action News 247"

## Question 2:
And where in code would thi

[2022-07-10 02:53] gerbrent opened #69 "scraper - make all episode.md filenames 4 digits, i.e. 0246.md"
Currently, files are sorted unnaturally (at least on GH, may be sorted differently locally depending on OS/file browser..), i.e. `248.md` before `25.md`

![image](https://user-images.githubusercontent.com/7018928/178129238-fdf9c97e-d790-43dd-9a8d-f111eaf77d8a.png)

This creates some long-term human discomfort in finding files within a directory. We typically think "the latest show is at the bottom

[2022-07-10 03:02] gerbrent opened #70 "Consider Plausible - open source website analytics"
[Plausible: Open source Google Analytics alternative | Plausible Analytics](https://plausible.io/open-source-website-analytics)

First Question: Do we even want/need analytics?

[2022-07-10 07:12] kbondarev commented on #69
100% agree with your rant :)
I wish file names would be treated differently for sorting by the OS if the prefix is just a number. That why you'd never have to pad it with zeros.

My initial reason for not padding the files with zeros, or putting the episode titles there, was for making the URL for the episodes simple.
But Hugo is awesome and I guess I cloud make it all work.

Leaving this here for

[2022-07-10 07:36] gerbrent opened #71 "tags on Episode pages not dark mode"
![image](https://user-images.githubusercontent.com/7018928/178135651-c891c700-28ba-483a-909d-2a7df06a6efc.png)

[2022-07-10 08:38] gerbrent opened #72 "scraper - possible non-identical guest/host pages from various shows?"
Curious how we're dealing with merging potentially inconsistent guest or host data (description, links, photos, etc) when scraping across shows, since we are attempting to merge guest/host profiles into a single source-of-truth/entry here in hugo.

I ask since I'm in the process of creating an inconsistency on Fireside ; )

[2022-07-10 12:42] Webtron18 commented on #67
I forked the directory and have been trying to get a test site up to test my idea, but...

**Idea**:
We could add a conditional to the episode/preview that looks for duplicate title/show ep naming. I am not sure if Hugo can do this but I was trying to test it. Basically something like below (this is pseudo code since I am still learning).

in `themes/jb/layouts/partials/episode/preview.html`

[cod

[2022-07-10 14:13] kbondarev opened #73 "Move bluma css dir into libs dir"
Bluma is a third party library and probably it would be a good idea to place all it's files inside the `libs` dir to indicate that it's files shouldn't be edited:
`themes/jb/assets/css/libs/bluma`

[2022-07-10 15:22] kbondarev commented on #72
So there's no merging of any kind. I tried to implemented it as simply as possible (and now examining it I understand it wasn't ideal and actually a little messy).

Basically each host/guest is uniquely identified by their `username` which is extracted from the URL to their page, i.e. `https://coder.show/hosts/michael` -> means username is `michael`. The avatar photo will come from the first occur

[2022-07-10 15:27] kbondarev commented on #72
I'm going to do something to maybe save all the different versions of the data and images, and then we will have to merge them manually.

[2022-07-10 16:08] Lord0fBytes commented on #67
OK, great. I was able to get the test site up and running on my server and played around with the design. I think I figured out the code to do what you want. This is what it looks like for me with the new conditional.
(I cant get the CS to load properly, but this is what the bare content looks like)
<img width="699" alt="Screen Shot 2022-07-10 at 11 58 50 AM" src="https://user-images.githubusercon

[2022-07-10 17:13] kbondarev commented on #72
@gerbrent See PR draft #75

The scraper grabbed the host/guest from the first occurrence it saw and saved it as `username.json`. Then any time it found the same username in a different show with **different data** it saved another json file as `__username_SHOW.json`

*In terms of the avatar, I just left to to save the image that's on the first show it found that person*

Here are all the additiona

[2022-07-10 18:00] kbondarev commented on #67
Right, I guess I didn't think it through completely. What if we change the format to be like this: "EP#: Episode Name". That way it would look a little better for LAN. For example: "247: Linux Action News 247".

The theme html template files.

---

In any case, @Lord0fBytes solution works and is pretty simple. Maybe I over-complicated things :smile:

[2022-07-10 18:20] Lord0fBytes commented on #67
It happens to all of us @kbondarev 😄
I figured that way too if they have a one off show with no special title it will still work and isn't hard coded for LAN.

[2022-07-10 19:07] #73 closed

[2022-07-10 19:10] StefanS-O opened #77 "Template: episode preview, wrong width without summary text"
![Bildschirmfoto 2022-07-10 um 21 08 58](https://user-images.githubusercontent.com/1253938/178158649-61fc21b5-98f7-44f7-a4f4-a07e1f03eeb5.png)

[2022-07-10 19:11] #77 closed

[2022-07-10 19:13] StefanS-O commented on #67
@Lord0fBytes solution was good. merged it, closing it now :)

[2022-07-10 19:13] #67 closed

[2022-07-10 19:43] StefanS-O commented on #64
I want to make also the footer menu usable, they will work the same as the main menu.

[2022-07-10 21:00] StefanS-O commented on #62
I think we should create it as the normal navigation in the config, so you can manage it there.
This also makes it easier to modify for the sub pages. we can have as many menus as we want and where to display them is decided in the template and can easily be moved.

[2022-07-10 21:28] StefanS-O commented on #47
you can now use the `identifier` in the config to specify if it should open in a new window.
If you use `ext-` as a prefix it will open in a new page. I did it for the Garage Sale:

`
[[Menu.Main]]
    name = "Garage Sale"
    identifier = "ext-garage-sale"
    url = "https://www.jupitergarage.com/"
    weight =60
`

[2022-07-11 02:24] Lord0fBytes commented on #71
@gerbrent How does this look for the coloring?
I used the variable color of `$grey-darker` for the background color. Something still seems off but I think it's the blue and that particular shade.

<img width="997" alt="Screen Shot 2022-07-10 at 10 20 09 PM" src="https://user-images.githubusercontent.com/7501413/178176921-15db67af-ad3a-4186-9676-9b7350dfff38.png">

[2022-07-11 23:04] gerbrent opened #82 "contributing.md - share project guidelines for how we work"
We've been receiving some great questions form folks just starting to join us in this project, and I feel they might be worth collecting at least in the form of an FAQ.

I'm happy to collect them w recommendations from you all.

[2022-07-11 23:08] gerbrent commented on #71
so much better! And your instinct is correct: that blue text is still problematic but this is great progress. I don't think the "I'm a link!" blue colour is necessary here, since it's rather intuitive that these are clickable items.

So, best case: this or close dark-gray shading, with more legible text (even white)

[2022-07-11 23:15] gerbrent commented on #66
I love the idea of a consistently placed "Subscribe" link in the menu or even prominent on the page itself.

The options:

A: a unique `Subscribe` page for each sub-site/show i.e.: https://jupiterbroadcasting.net/show/coder-radio/subscribe

B: all subsites include a `Subscribe` link (in menu or body) that leads to the same page - i.e. jb . net/subscribe - that clearly outlines the options for show

[2022-07-11 23:20] #59 closed

[2022-07-11 23:27] gerbrent opened #83 "scraper - latest Extras missing show artwork"
artwork missing on both main page card and episode page. Other episodes are ok.

![image](https://user-images.githubusercontent.com/7018928/178375064-3e17ab0b-4df5-4303-bf3e-c59b4b608e91.png)

![image](https://user-images.githubusercontent.com/7018928/178375132-7789e365-1a50-49c7-a308-98b139b51da9.png)

![image](https://user-images.githubusercontent.com/7018928/178375232-66ce6fb7-2efa-4be9-8de7-f5

[2022-07-11 23:31] gerbrent opened #84 "navigation - from an Episode page, no link to Show page"
I.e. if viewing an Episode page (https://jupiterbroadcasting.net/show/linux-unplugged/466/) one cannot click to navigate up one level to the Show page (https://jupiterbroadcasting.net/show/linux-unplugged/)

[2022-07-11 23:36] gerbrent commented on #60
it makes sense to use what we already have, however would need to bring in @ironicbadger for consult.

[2022-07-11 23:37] gerbrent commented on #47
amazing hack! Still can't believe this isn't built in...

Well done!

[2022-07-11 23:37] #47 closed

[2022-07-11 23:41] gerbrent commented on #27
NICE!!! And the pagination is SO responsive/quick, really impressive.

Stretch goal: add this to the Home page aswell, since so far only applied to Show pages.

[2022-07-11 23:41] gerbrent commented on #27
Reopening ticket for improvement.

[2022-07-11 23:44] gerbrent commented on #67
agree all around - love this solution. Well done all!

@kbondarev I like to think you and I were partly responsible for providing inspiration ; )

[2022-07-11 23:48] gerbrent commented on #72
nice work, added to my list.

[2022-07-11 23:49] gerbrent commented on #72
Hmm.... also looks like my bio is outdated ; )

[2022-07-11 23:54] gerbrent commented on #58
@reclaimingmytime Do you feel comfortable trying to sort this out?

[2022-07-12 00:07] #69 closed

[2022-07-12 00:12] gerbrent commented on #62
Great idea, since we should note: every Show has unique social media (ie. twitter profiles) thus simple modifications on a per-show basis is great.

[2022-07-12 00:26] gerbrent commented on #83
Odd.

Now it seems the entire Extras Show page is missing the artwork, but seemingly nothing changed?

Just me?

![image](https://user-images.githubusercontent.com/7018928/178380662-8f76ac03-d985-4bb3-8513-5ea3b85793b0.png)

[2022-07-12 00:28] gerbrent commented on #83
perhaps related to change in #85?

[2022-07-12 00:33] gerbrent opened #86 "hosts - complete current hosts for each show, some hosts missing"
most shows have an incomplete list of hosts presented on Show page at present.

For example (not exhaustive list):
* LUP - missing Brent
* Coder - missing Wes (was the host in the back catalogue)
* Extras - missing many hosts

Could be best to refer to current JB website/subsites for correct hosts.
Or, better..... can we automate based on hosts scraped?

input @kiro? @StefanS-O ?

[2022-07-12 00:38] gerbrent opened #87 "hosts listing on Show pages - improve layout"
The current vertical stacking of multiple hosts seems to be an inefficient use of precious screen real estate.

Propose to stack hosts from left-to-right, until window border is reached, then create a new row as needed.

Not sure how easy this is......

![image](https://user-images.githubusercontent.com/7018928/178381849-1014d57c-3f4e-49ae-9b38-83714730e64c.png)

NOTE: ignore the lack of artwork i

[2022-07-12 00:41] kbondarev commented on #83
Oh shoot, I made a mess. I'll fix it right now.

[2022-07-12 00:50] gerbrent opened #88 "menu - list Guests page in menu"
Currently no way to access a list of guests via navigation.

There is access to https://jupiterbroadcasting.net/guests/ if you know the URL.

[2022-07-12 00:53] gerbrent opened #89 "Hosts, Guests pages - list profiles"
Currently the [Hosts](https://jupiterbroadcasting.net/hosts), [Guests](https://jupiterbroadcasting.net/guests/) pages do not list any profiles.

can potentially borrow code snippets from Show pages for inspiration.

Also, we may want to keep #91 in mind in the implementation here.

[2022-07-12 00:58] kbondarev commented on #83
It's kinda related to #76, I forgot to rename the header image and new episodes had different references to it. But also in #85 I changed all files to add the "slug" and change "episode_padded" params to have 4 digits, but for extras it also changed all the references to the header_image.

[2022-07-12 00:59] #83 closed

[2022-07-12 00:59] kd2flz commented on #66
I like option A. Curious what other people think.
________________________________
From: Brent Gervais ***@***.***>
Sent: Monday, July 11, 2022 19:16
To: JupiterBroadcasting/jupiterbroadcasting.com
Cc: David Rhoads; Comment
Subject: Re: [JupiterBroadcasting/jupiterbroadcasting.com] add subscribe links - rss, spotify, stitcher, etc (Issue #66)

I love the idea of a consistently placed "Subscribe" l

[2022-07-12 00:59] gerbrent opened #91 "Hosts, Guests - different list pages for JB Home, Shows"
We likely require for both Hosts and Guests of shows:

* [x] JB Home menu to present link to i.e. https://jupiterbroadcasting.net/hosts for ALL Hosts and i.e. https://jupiterbroadcasting.net/guests for ALL Guests on the entire network.
* [ ] Show menu to present link to i.e. Show/hosts to present all hosts of this Show only. url could be https://jupiterbroadcasting.net/show/coder-radio/hosts
* [ ]

[2022-07-12 01:03] reclaimingmytime commented on #58
@gerbrent I don't think I have the necessary permissions to assign myself to this issue, but I can take a look at it ;)

@StefanS-O I see you [imported the calendar page](https://github.com/reclaimingmytime/jupiterbroadcasting.com/blob/3e39a04feba002c11009ce260629b3acec4cea46/themes/jb/layouts/calendar/single.html) in commit 3e39a04feba002c11009ce260629b3acec4cea46, but you didn't include the Java

[2022-07-12 01:04] gerbrent opened #92 "Hosts, Guests - implement filtering on listing page"
Could be useful to present a simple filter on large Hosts, Guest listing pages.

could potentially relate to #26

[2022-07-12 01:07] gerbrent commented on #66
If so, we would need a strategy for the All Shows feeds too.

[2022-07-12 01:10] Lord0fBytes commented on #71
I dont have permissions to assign this to myself, so I'll just comment that I am working on finishing this up.
I should have a PR ready by tomorrow.

[2022-07-12 01:22] kbondarev commented on #30
See previous discussion about this [here](https://github.com/StefanS-O/jupiterbroadcasting-hugo-mvp/issues/4)

[2022-07-12 03:13] kbondarev commented on #20
Podverse developer Mitch, made this proposal on Matrix ([link to thread](https://matrix.to/#/!rDlEtonuSythLzmxQL:jupiterbroadcasting.com/$y8pw_bj_RV3BZwTmnMQtf_kUxRcU8IEiwOP0239Rc8Y?via=jupiterbroadcasting.com&via=matrix.org&via=0x6b.dev)):

[2022-07-12 03:29] kbondarev opened #93 "Add episode `guid` front matter param to all episode"
This would be required to pass as a URL param to the podverse player (see #20)

Need to modify the scraper to make it add a `guid` param to the episode's front matter json and then add the changes to all the episode files.

The scraper already looks at the fireside json api format of each show (e.g. coder.show/json), the `guid` could be grabbed from there. It is the `id` param of each episode in `

[2022-07-12 04:40] kbondarev commented on #86
It seems that for the show page (e.g. [lup](https://jupiterbroadcasting.net/show/linux-unplugged/)) it takes the hosts data from the `_index.md` file
My first instict was to, I agree with @gerbrent  and  automatically aggregate all the hosts that are listed in the episode files.

But then I realized the proper way to look at it is this:
- `hosts` in the _index.md are the **current hosts of the sho

[2022-07-12 04:46] kbondarev commented on #86
LUP has "retired hosts" section: https://linuxunplugged.com/hosts

[2022-07-12 04:53] kbondarev commented on #86
I mentioned Noah, and looked around a little and realized that he's not in LUP hosts/guests at all. For example, he does host episode but not defined as one: https://linuxunplugged.com/112
We do have him on LAN as a guest: https://linuxactionnews.com/guests/kernellinux

Makes me think that maybe there are a lot of past episode that didn't define hosts/guests properly. Probably a separate issue tho

[2022-07-12 05:44] gerbrent commented on #86
all of this is well thought-out and super valid points.

I love your idea of `Current Hosts` and `Past Hosts` - makes alot more sense from a weekly listener standpoint who might now be familiar w the back catalogue or the last decade of JB history.

[2022-07-12 05:46] gerbrent commented on #86
Another option - let's call it the `Seperate Page Option`:

* Current hosts are featured top right of the Show page.
* Past hosts are featured in a subsection of the Show/Hosts page of each Show aswell as the JB/Hosts

To be clear - this problem does not exist for Guests as all guests are "past guests" at time of publish ; )

[2022-07-12 05:52] gerbrent commented on #86
definitely an issue of past infrastructure/processes, but a very low priority issue......

[2022-07-12 06:54] gerbrent opened #94 "Host/Guest profile pages - improve layout"
The individual Host or Guest page can use some layout/design work.

For instance, https://jupiterbroadcasting.net/hosts/chris/ :

![image](https://user-images.githubusercontent.com/7018928/178427181-19e3a257-b5fa-4a20-a593-01e214222d9d.png)

this section could use a little tasteful touch - i.e. remove the green, improve the text layout, present the social/website links in each person's metadata.

[2022-07-12 06:59] gerbrent opened #95 "Host/Guest profile pages - "Shows with [Person]" icons vary wildly in size"
## A Host / Guest with multiple Show appearances:

![image](https://user-images.githubusercontent.com/7018928/178427779-a4b6c260-d2ab-400c-b43a-8a997101f30c.png)

## A Host / Guest with few Show appearances:

![image](https://user-images.githubusercontent.com/7018928/178427895-7d47745c-d2a5-45a9-a86c-7b9180798cf8.png)

[2022-07-12 09:04] StefanS-O commented on #93
But how about the future? We need to generate an ID in Hugo.
I suggest something like this: `{{ md5 .Permalink }} ` which outputs this: `0afbeb4e1e28bf94e7e21af72bf90f11 `, no?
So when we have no GUID from source (like Fireside / Wordpress), we fall back on generating our own?

[2022-07-12 09:13] StefanS-O commented on #27
Alright, i think the ticket was closed because i wrote fixes #27 in the commit message :)

[2022-07-12 10:41] StefanS-O commented on #58
@reclaimingmytime no just didn't know. I just copied the iframe code and that was it.
I could also integrate it like this: https://stackoverflow.com/questions/31821974/support-user-time-zone-in-embedded-google-calendar

[2022-07-12 10:50] reclaimingmytime commented on #58
@StefanS-O All right. The stackoverflow link you sent uses _jstz_, which is no longer maintained.

I already have the code written using https://stackoverflow.com/questions/9772955/how-can-i-get-the-timezone-name-in-javascript/44935836#44935836 to auto-detect the timezone. I just wanted to make sure there wasn't a reason against implementing that feature.

I can create a pull request once it's rea

[2022-07-12 10:51] StefanS-O commented on #58
Yeah fine with me, did you understand how to add custom JS?

[2022-07-12 10:52] reclaimingmytime commented on #58
Currently it's just a `<script>` tag on the page, should I included it in the `main.js` file or somewhere else?

[2022-07-12 10:53] StefanS-O commented on #58
Maybe finish it up and then i will have a look :)

[2022-07-12 10:56] StefanS-O commented on #66
I will look into it

[2022-07-12 10:57] StefanS-O commented on #46
I think those should only be generated for kind episode

[2022-07-12 11:06] StefanS-O commented on #58
Yep, it is ok to do it this way, because it is only needed on this page template. Otherwise it would have made sense to integrate it in the global JS.

[2022-07-12 11:14] reclaimingmytime commented on #58
@StefanS-O Right, also, the extra JavaScript might slow down the loading time on every other page where it's not needed. Thanks!

[2022-07-12 11:14] #58 closed

[2022-07-12 11:18] StefanS-O commented on #27
I added pagination to the homepage, arranged it a bit better

[2022-07-12 11:19] kbondarev commented on #93
Yes. In the future would have to make our own.

md5 of the permalink would be fine, since it encapsulates the show and episode number in it.

[2022-07-12 11:26] kbondarev commented on #93
Hmm maybe md5 is not correct actually.

this is the guid doc for the podcast (the whole show, not specific episode. I couldn’t find the one for the item - the episode, but I imagine it’s similar):
https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md#guid

So it looks like it needs to be a UUIDv5

[2022-07-12 11:35] kbondarev commented on #93
More info on UUIDv5 on this [page](https://www.sohamkamani.com/uuid-versions-explained/)

I think the “namespace” should be the uuid of the whole show and the “input string” just the episode number as an int.

[2022-07-12 12:01] StefanS-O commented on #93
I am just not sure if we can generate it using Hugo, that would suck.

[2022-07-12 12:30] kbondarev commented on #93
Is there a way to use go dependencies (third-party libs) during build?
I found this: https://github.com/google/uuid

Or any ideas connecting something external for this? For example, I could super quickly bang a little python thing that would generate this, it could be a REST API or a CLI tool, or whatever. The question is if it could be somehow integrated with hugo/frontmatter

[2022-07-12 13:09] kbondarev commented on #93
I think when we move aways from
Fireside we should keep the same
GUID for all the past shows. And generate only the new ones ourselves.

As I understand  guid of the episode is important for the podcast apps. That’s how they know for example if that episode was played already or not. If we change the old ones, it might mess things up for ppl.

[2022-07-12 13:18] kbondarev commented on #87
Since we use bulma for CSS stuff we should strive to implement things like that with it.

I think in this case  either “tiles” or “levels” should be used. I’m not that familiar with bulma, so not exactly sure what’s the difference there.

https://bulma.io/documentation/layout/

[2022-07-12 13:22] kbondarev commented on #82
Maybe add that the frontend framework used is bulma and we should strive to use the CSS classes, components, etc. from there when possible rather than making custom CSS solutions

https://bulma.io/documentation/

[2022-07-12 15:44] mitchdowney commented on #93
@kbondarev yes to your point, guids allow podcast apps to know which <item> should be treated as the same <item> in the future, even if much of the other information for that <item> changes over time. Without a GUID, the next best "unique identifier" we have is in the enclosure URL, but that can change over time for the same episode.

One quick note...Podverse currently does not parse the <podcast

[2022-07-12 18:57] devotoare opened #98 "Add NPM Packages"
Coming from Matrix chat:
https://matrix.to/#/!rDlEtonuSythLzmxQL:jupiterbroadcasting.com/$hrgebFSiNmiX3_PQ8YysoG7VbHM7mrOSDTog3cVIN1Y?via=matrix.org&via=jupiterbroadcasting.com&via=0x6b.dev

Identified need to add package.json with yarn/npm for package management. Hugo should be able to integrate via esbuild according to this: https://gohugo.io/hugo-pipes/js#include-dependencies-in-packagejson--no

[2022-07-13 06:47] devotoare commented on #98
Conversation continued: unsure if this is needed at this time or if manual third party package management fits more with the Hugo paradigm.

[2022-07-14 17:29] gerbrent opened #102 "Podverse - load an enclosure url feature"
related to #93
Also feel free to edit title to be more accurate.

Tracking and discussion of [mitchdowney](https://github.com/mitchdowney)'s collaborations on the Podverse embedded player for our specific feature request to enable local files to be loaded into the Podverse player, as opposed to from the Podverse directory.

...which is amazing! Thanks Podverse!

Relevant conversation snippets:

[2022-07-14 17:30] gerbrent commented on #102
@kbondarev wrote:

As far as I understand, the way to use the player right now is to embed it using an iframe with a src that has a [podverse.fm](http://podverse.fm/) link that include a unique ID to the episode (e.g. https://podverse.fm/embed/player?episodeId=kilYJsW3A)

That would mean that the episode has already been published into the RSS feed and picked up by podverse. However, as I understa

[2022-07-14 17:31] gerbrent commented on #102
@mitchdowney wrote:

1. Create the JP page for the episode.

2. Paste the Podverse embed code, and pass in URL param overrides for podcast title, enclosure url, episode title, episode pub date, and possibly an episode GUID, so it can render with that information immediately.

2b) We would need to disable the on-click "open episode in Podverse" behaviors while the embed is using the overridden meth

[2022-07-14 17:32] gerbrent commented on #102
@mitchdowny went away for 4+hrs / a long night, then shared:

this turned into a much bigger feature to think about than I expected when I realized if we let anyone pass in episode info overrides to the player, then anyone could load whatever they want through [podverse.fm](http://podverse.fm/), including premium/private feeds or pirate feeds 😳

To work around this, I added an embedApprovedMediaUr

[2022-07-14 17:33] gerbrent commented on #102
So.... we need feedback! Lets give this a try and provide feedback for Mitch.

[2022-07-14 17:51] gerbrent commented on #94
...NICE!!!!! Well done @Dedpy, and thanks for jumping right in!

[2022-07-14 17:52] gerbrent commented on #82
... make it so @kbondarev !
I don't have the technical chops to write that cohesively, so will need to come from someone with more insight.

[2022-07-14 17:58] gerbrent commented on #82
see [/CONTRIBUTING.md](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/CONTRIBUTING.md)

(also, any GH shortcodes to reference repo files? )

[2022-07-14 20:00] Lord0fBytes commented on #88
I am working on this issue currently.

[2022-07-14 21:24] kbondarev commented on #102
I will have some free time later today and I’ll try to set it up.

[2022-07-14 21:26] kbondarev commented on #82
I will do this over the weekend :)

[2022-07-14 23:07] Lord0fBytes commented on #88
I just realized this was resolved in PR #100
While working on this I was looking at a slightly different way of doing it. @gerbrent What do you think about the menu having child items?

![Screen Shot 2022-07-14 at 7 04 58 PM](https://user-images.githubusercontent.com/7501413/179115904-cba8c569-afb0-49b0-b3e6-7d11e14829ec.png)

People might not be the right wording, but it was a test. We could do t

[2022-07-15 00:11] Lord0fBytes commented on #60
Are you looking to have this embedded on the website somewhere?

[2022-07-15 01:42] kbondarev commented on #82
@gerbrent Regards to shortcuts for file referencing, I don’t know any. In an issue I’d do the same as you did.
But inside markdown files you can use relative paths in the link

[2022-07-15 02:14] Lord0fBytes commented on #68
I started looking into this a little. It looks like the nav menu we are using ([Bulma Navbar](https://bulma.io/documentation/components/navbar)) doesn't have a clean way of truncating the links like you are requesting. From what I understand there are two layouts for this Navbar; Desktop and Mobile. Basically what is happening is when you shrink the width of the browser to a certain point it goes

[2022-07-15 02:36] timlepes opened #104 "PeerTube instance (https://jupiter.tube) needs branding"
There seems to be no branding on the JupiterTube site.

Steps to reproduce:
1. Use web browser of choice (obv. Firefox) and navigate to "https://jupiter.tube" website.

Expected result:
1. Beautiful JB-branded favicon and front page logo, of course!
2. Rapt admiration for the finely tailored website.
3. Boundless joy..!

Actual result:
1. JupiterTube displays the stock PeerTube favicon and logo im

[2022-07-15 02:46] timlepes commented on #104
Oh Noes!    Did not see that you have a separate project for tracking jupiter.tube.  I'll close this and reopen over there.....

[2022-07-15 02:46] #104 closed

[2022-07-15 05:40] kbondarev commented on #93
@mitchdowney, I appreciate a lot your quick fix and I appologize for the late feedback. It's been a busy week.

I implmented everything as you describe it and it works :smile: :fire:
However, there are a few rough edges/pain points:

1) The player ends up rendering in the  ["show-all-episodes" mode](https://podverse.fm/embed/player?podcastId=g40Um-HP1&episodeGuid=92ab2f36-1fef-4cbc-8cec-87b245161c

[2022-07-15 05:51] kbondarev commented on #102
(oops :fearful:  I originally posted this in the wrong issue )

@mitchdowney, I appreciate a lot your quick fix and I appologize for the late feedback. It's been a busy week.

I implmented everything as you describe it and it works :smile: :fire:
However, there are a few rough edges/pain points:

1) The player ends up rendering in the  ["show-all-episodes" mode](https://podverse.fm/embed/player?po

[2022-07-15 05:52] kbondarev commented on #20
Closing since pretty much a duplicate of #102

[2022-07-15 05:52] #20 closed

[2022-07-15 06:45] kbondarev commented on #46
I searched around the web for those warning messages and that lead me to the config.toml file and [this hugo doc page about output formats](https://gohugo.io/templates/output-formats/).

Changing these lines at the bottom of config.toml by deleting bunch of stuff stops the warnings:

@StefanS-O, can help confirm my guessings here:
- The "json" output for `page` would make basically a JSON API for

[2022-07-15 06:48] kbondarev commented on #36
I will look into this over the weekend and experiment a little

[2022-07-15 07:02] kbondarev opened #106 "Make the media part of the episode pages look better (suggestions)"
Let's put some ideas here about how to improve the design of the episode pages.

---

I'm thinking of using these [tabs](https://bulma.io/documentation/components/tabs/) to split the various podcast formats.

Something like this (not sure about the labels, would be great to hear ideas):

| **Podverse Player** |  **PeerTube** (recorded live stream) | **YouTube**  |  **Direct Download Links** (video

[2022-07-15 07:19] kbondarev commented on #106
Here's a list of all the components I can think of that ideally will be on the screen:

- Title
- Embedded Players
  - Audio - Podverse (or something else?)
  - Video - YouTube
  - Video - PeerTube (?)
- About episode
- Sponsors
- Membership/Support Show
- Boost form
- Some metadata info
- Hosts + Guests
- Links to subscribe + Direct downloads
- Tags
- Show links

Maybe change the layout to be som

[2022-07-15 07:32] kbondarev commented on #102
Also I guess the rest of the shows would need the same permissions. Here are the Podverse IDs:

- ~linux-unplugged `g40Um-HP1` (done)~
- coder-radio: `ZXd_1Ojd9`
- jupiter-extras: `0vaTwihG1R`
- linux-action-news: `haAiVbD1N9`
- office-hours: `GLuztlxs0`
- self-hosted: `nUl1ZCL76`

[2022-07-15 20:02] kbondarev commented on #68
@Lord0fBytes, I have no idea if this would actually be helpful at all or not, but Bulma has [these helper classes](https://bulma.io/documentation/helpers/visibility-helpers/) to deal with different screen width.

[2022-07-15 22:39] mitchdowney commented on #102
@kbondarev sorry about the full-view bug in the episode only player. I just deployed a fix that should hopefully fix it for you. Now the full-view button should _only_ appear when the `showAllEpisodes=true` param is passed.

If you need more custom events passed from the iframe, we can do that, although it sounds like it would have just been for a workaround in this case. We should fix the root is

[2022-07-16 00:23] Lord0fBytes commented on #68
@kbondarev While that doesn't quite look like it will work the way we want; ironically it took me to somewhere where I did find some helpful information... the site's source code ;-P.
Look like it can be done with some fairly simple (may regret saying that) javascripting that checks the width of the screen and hides elements.

[2022-07-16 04:30] kbondarev commented on #102
I didn't know about he URL limit, you learn something new everyday :))

Regards to CORS it's basically the browser clients that block it based on headers returned by the server. There's away to tell the browser to trust requests coming from different domain than the server by setting up this header:

[code]

Here's some more info on it specific to Next.js: https://vercel.com/support/articles/how-t

[2022-07-16 04:51] kbondarev commented on #68
@Lord0fBytes, no javascript required. These things are handled with CSS media queries. Or in this case just a single SASS variable to set for bulma, check the PR #107

Solution inspired by [this stackoverflow answer](https://stackoverflow.com/a/55654301)

[2022-07-16 14:31] Lord0fBytes commented on #68
So this looks like it just adjusts the breakpoint toggle, but that still only makes it either desktop layout or mobile layout.
I was trying to make it dynamically change the menu based on the width of the page.
Here is a sample I mocked up to demonstrate what I was trying to accomplish.
This is what I thought @gerbrent was originally looking for.

Hopefully you can see from the gif that as the win

[2022-07-16 18:04] gerbrent opened #108 "RSS feed generation, workflow, pipeline"
The BIG question: how will the RSS feed generation pipeline function, in a best-case scenario?

from devotoare:

Not sure if Hugo can do that... I assume given that it can do JSON, it can.

[2022-07-16 18:07] gerbrent opened #109 "style/branding guidelines for JB"
@reesericci asks:

[2022-07-16 18:45] gerbrent commented on #88
ahh, sorry I didn't catch that sooner. Still catching up here from quite the week.. (of travels)

I think a sub-menu us certainly an option for likely less-used pages such as "People", as you suggest. I'm hesitant to use it *too* often, however in your example above it's perfectly suited and a nice way to reduce the number of menu items. Nice!

[2022-07-16 18:46] gerbrent commented on #88
And agree 100% - would be a great option for the "Shows" menu item. Yes please!

[2022-07-16 18:51] gerbrent commented on #88
Also noting the white submenu colour - but I'm sure you noticed that already..... ; )

[2022-07-16 18:57] gerbrent commented on #68
Neat!

I think it's worth investigating possible solutions, and I was hopefully just inspiring some creativity around this problem. Seems to have worked ; )

The unfortunate reality is that we will likely have *many* menu items, so a consistent, reliable method to make them user-friendly is the goal here. Open to all suggestions and opinions, certainly not just mine.

[2022-07-16 19:13] gerbrent commented on #60
Well..... we weren't until you suggested it! Hmm... that might be nice, actually. Thoughts? Simple to integrate?

I would still call this low priority... a nice-to-have but can be implemented after the essential go-live deadline of late August.

[2022-07-16 19:16] #27 closed

[2022-07-16 20:08] noblepayne commented on #54
Motivation is perhaps something like:

[2022-07-16 20:10] noblepayne commented on #54
Perhaps we need some notion of "active" (or perhaps the reverse, "expired") sponsors and campaigns?

Alternatively perhaps just showing the sponsors from the most recent episode from each show would be a decent MVP version?

[2022-07-16 20:24] noblepayne commented on #60
A link to it somewhere might be sufficient for the short term.

[2022-07-16 20:34] noblepayne commented on #60
Looks like current site is configured [here](https://github.com/selfhostedshow/infra/blob/master/ansible/group_vars/status.yaml).

[2022-07-16 21:08] kbondarev commented on #68
There’s also an options of having drop downs.
Maybe we should make “shows” drop down with a list of shows. Kinda like the current JB site. What do you think?

[2022-07-16 22:47] gerbrent commented on #68
great idea, and see #88 for same (this topic should really be a separate ticket..)

[2022-07-16 22:54] Lord0fBytes commented on #88
Yup lol. It was just a demo to explain what was in my head 😁

[2022-07-16 22:56] Lord0fBytes commented on #68
Ya I am working on the drop downs in 88. I was planning on doing 'Shows' and 'People'

[2022-07-17 01:22] Lord0fBytes commented on #106
Was playing around with this a little bit. Had a concept design for something to put focus on the embedded audioplayer.
Also re-arranged some text to put it at the top with more importance.

<img width="1057" alt="Screen Shot 2022-07-16 at 9 22 22 PM" src="https://user-images.githubusercontent.com/7501413/179380025-e88947e9-e40c-4c3b-8e83-e6b502526aef.png">

[2022-07-17 02:16] kbondarev commented on #106
@Lord0fBytes: Looks great so far! Much better than before.
 I was about to work on it tomorrow but I guess I’ll leave this to you and focus on other things :))

Regarding the player, take a look at this PR, we are most likely gonna switch to Podverse player:
#105

[2022-07-17 03:02] kbondarev commented on #108
Here's my understanding of the future publishing process. I'm not entirely sure whether that's the plan or not, so please correct my if I'm wrong:
- the Hugo markdown files for all show episodes are source of truth. Meaning when a new episode is about to be published, such file would be created manually and all the variables in it would be set (maybe latter on via a front matter plugin on vs code

[2022-07-17 11:48] Lord0fBytes commented on #106
Ya I was just trying out one design. I feel like there are a lot of way to go with this since it's pretty big.
Hoped to spark creativity with it.

I like the fireside post you put above for inspiration.

I was making myself familiar with the podverse player for when the PR gets pushed.

Ultimately this is will be more of a Chris/Brent/Wes decisions since it's their site 😅

[2022-07-17 13:38] StefanS-O commented on #108
We do generate RSS / Podcatcher compatible feeds already:

All Shows: https://jupiterbroadcasting.net/show/index.xml
Specific shows, e.g. Coder Radio: https://jupiterbroadcasting.net/show/coder-radio/index.xml

The template file for this is here: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/themes/jb/layouts/section/list.rss.xml

[2022-07-17 13:41] #64 closed

[2022-07-17 13:41] #95 closed

[2022-07-17 13:44] #68 closed

[2022-07-17 13:48] #89 closed

[2022-07-17 14:02] StefanS-O commented on #102
So the changes on our end are merged and deployed, for Linux unplugged it is working, all other shows are broken at the moment.

[2022-07-17 17:55] elreydetoda commented on #16
To help fix this, since JB already [uses cloudflare for their DNS](https://mxtoolbox.com/SuperTool.aspx?action=whois%3ajupiterbroadcasting.com&run=toolpage), maybe it should be considered to use more features of Cloudflare (i.e. their [IPv6 compatibility gateway](https://www.cloudflare.com/ipv6/)).  This'll help with the IPv6 issue (for both .net + .com) and not require any extra work on the backe

[2022-07-17 18:18] elreydetoda commented on #92
Ya, I don't know if there has been any matrix discussion about this, but with using hugo (or any type of dynamic modification of the website (i.e. filtering people, which'll modify what's being displayed to the user)) you'll have to use JavaScript to do this.

So, if you just want to implement #26 that's normally more straight forward (IMO) if you want to keep things as static as possible.

The ot

[2022-07-17 19:10] elreydetoda commented on #92
Actually found out that pagination [isn't possible](https://discourse.gohugo.io/t/filtering-data-in-json-using-where/35287/2) with the current way we are doing people (everyone being in a json file), because the range we're doing is getting represented as a map of maps... :disappointed:

![image](https://user-images.githubusercontent.com/10230166/179421154-e4cb4462-ec60-47fe-b24f-eb53db31f7f9.png)

[2022-07-17 20:26] kbondarev commented on #92
I think adding a small pure JavaScript script for filtering would be a good solution.

---

@elreydetoda, I don't think there anything wrong with the way people are defined and represented right now.
Any data-structure (map of maps in this case) could be manipulated to become any other structure you require. I'm not entirely sure I understand the problem you described.

[2022-07-17 20:45] kbondarev commented on #108
I didn't even know we had that already implemented. That's great!

I think we do need to modify the template a little to include a bunch of those new tags from [Podcastingindex 2.0 namespace](https://github.com/Podcastindex-org/podcast-namespace/blob/main/docs/1.0.md)

---

This might need to be a separate issue, but somewhat related here:
[Live items](https://github.com/Podcastindex-org/podcast-n

[2022-07-17 20:47] kbondarev commented on #93
Closed by #105

[2022-07-17 20:47] #93 closed

[2022-07-17 22:10] elreydetoda commented on #92
I'm making an issue for it, and will probably have it finished by tonight (want it to be comprehensive for why I want to change things up), but just got done with a call with a family member and am getting groceries before it gets too late 😅.

So, I'll try and finish it up tonight whenever I get back on again.

[2022-07-18 00:30] kbondarev commented on #102
There was an issue with the approved list of URL on the Podverse side.
@mitchdowney set it all up and now it works for all the shows.

[2022-07-18 00:30] #102 closed

[2022-07-18 04:47] elreydetoda opened #110 "Redo the `data/` folder to pages"
So, I meant to do this before with @StefanS-O's MVP repo, but didn't get to it before everything migrated (sorry :sweat:, life happened ([reference](https://matrix.to/#/!rDlEtonuSythLzmxQL:jupiterbroadcasting.com/$8noW3K5gYRKkcVykVswo8IDv5umzqFQw9z76rjqjWYA?via=matrix.org&via=jupiterbroadcasting.com&via=0x6b.dev))). Also, sorry for it being such a long issue, I just wanted to make it as comprehens

[2022-07-18 04:51] elreydetoda commented on #92
alright @kbondarev, it's a lengthy one but I'm trying to be as clear as possible as to why I think it's worth migrating to using more hugo native pages instead of json: https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/110

[2022-07-18 05:43] elreydetoda commented on #26
If zinc is used (from my understanding) it looks like it'll need to be implemented on the server side (at least for the server which holds all the references to the objects/records).

Also, of note it appears that zinc is still in beta ([src](https://docs.zincsearch.com/#project-status)):

ZincSearch is in Pre GA (General Availability) and will be marked as production ready at v1.0.0 .

So, it's p

[2022-07-18 05:46] elreydetoda commented on #29
If we implement #110, then instead of defining archetype definitions, we could hook the project up to a headless CMS and update/add episodes that way. If you'd like an example just let me know, I can point you to 2 just off the top of my head. :slightly_smiling_face:  (didn't want to mention them if this isn't the appropriate issue)

[2022-07-18 05:50] elreydetoda commented on #23
Is this in reference to something like an s3 bucket for website assets?

[2022-07-18 06:01] kbondarev commented on #36
I started work on this in #112
Needs some feedback on the items under todo there. Most important question is this:

One of the inputs for the form is a JSON which is equivalent to the `<podcast:value>` tag in the RSS (example below). Where should it be defined as it has slightly different implications then. Should it be for each episode, or for each show? Or maybe both and using the value in the e

[2022-07-18 06:05] kbondarev commented on #23
I believe it is regarding the podcast files (mainly mp3, but there are other formats as well).

As for the destination goal? s3 or something else - I don't know.

[2022-07-18 06:28] kbondarev commented on #110
That is all very cool and interesting :)

It's fine, I always try very hard to use least amount of words in text. Sometimes it doesn't work.

---

I sort of understand that having the people defined under `/content` (and maybe even sponsors) will result in more advantage. But does the front-matter part has to be in YAML, my understanding was that Hugo doesn't care whether it's YAML, JSON, or TOML.

[2022-07-18 06:39] kbondarev commented on #82
@gerbrent

Ended up putting this one to the last on my list today and it's a little too late now. This will be the next thing I'll tackle.

[2022-07-18 14:40] elreydetoda commented on #110
Ya, I guess you're right it technically could be any of those 3... 🤔

Ya, it definitely does feel weird in my head as well 😅 We will at least have to move all the files and swap a .md extension for the .json one. So, that's why I was figuring we could just make things more easily human readable as well. I guess it doesn't have to be though.

Ya, probably... 😞

I could try and do an MVP of what tha

[2022-07-18 15:20] kbondarev commented on #110
The scraper code is a little bit messy :see_no_evil:. Most of the work was done one manic night when I grabbed the original code from the self-hosted show-notes repo, and started playing around with it. There's a lot there that could be done "cleaner".

The one good thing I did I use Pydantic a little. Those data objects for Person and Episode could be easily dumped as YAML instead if that's what

[2022-07-18 16:47] gerbrent commented on #110
All the above is fascinating, nice insights!

I agree completely there - don't spend time till we decide this is a great trajectory.

[2022-07-18 16:55] gerbrent commented on #23
oh sorry all, this was added early in the project as a placeholder. Updating the initial comment w more details...

[2022-07-18 18:10] #71 closed

[2022-07-18 18:13] StefanS-O commented on #23
@kbondarev i want to put everything in a minio bucket in a structured manner. Minio is self hosted S3, i can hit you up with write access keys :D

[2022-07-18 18:13] #88 closed

[2022-07-18 18:18] kbondarev commented on #23
@kbondarev Oh cool!

I wonder whether using Linode's S3 Object Storage (Linode - because I assume that's where the site would be hosted) might have some advantages over a self-hosted solution, like CDN capabilities and less things to manage?

[2022-07-18 18:21] kbondarev commented on #109
im am unsure if the layer between is needed with the jb_vars and not directly configure the Bulma default vars

Same, most likely it would be a combo of a little bit of both.

[2022-07-18 19:27] elreydetoda commented on #23
No problem, I was just looking at the 1.0 milestone issues and saw this in there with no comment so I was curious 😁

[2022-07-18 23:43] brianeray commented on #9
That is close to what I was thinking. My description above should have been a little more specific.

The [LIVE!](https://www.jupiterbroadcasting.com/1030/jblive/) page could include a section with the same quick start information as the [LUP LUG Mumble Server Info](https://linuxunplugged.com/mumble) page:

Which of course ends with the link out to the detailed guide.

[2022-07-19 02:29] elreydetoda opened #116 "vjs.zencdn.net blocked by pihole"
Just wanted to give a heads up that I use a [pi-hole](https://pi-hole.net) at home, and I'm pretty sure I use [this list of block lists](https://v.firebog.net/hosts/lists.php) (the Non-crossed lists group), and that domain (vjs.zencdn.net) was getting blocked (from [here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/551e71a20d01b5fa9c8b87fd7d66dbc7613c116e/themes/jb/layouts/

[2022-07-19 02:37] Lord0fBytes commented on #106
I think we should get @ChrisLAS / @noblepayne / @gerbrent involved in this discussion. kbondarev  brought up the idea of improving the layout of the episode pages. I thought it would be fun to help out with this.
I wasn't sure if your intention was to drive people to the YouTube videos with it being the biggest and central part of the old site.
I figured since we were working on a nice snazzy new

[2022-07-19 06:27] elreydetoda commented on #91
So, is the first listed task done, since they're listed under people in the menu?

![image](https://user-images.githubusercontent.com/10230166/179672034-9fb8918c-8b91-4169-acc2-0e6a7d7bb812.png)

So, a quick hacky way would be to leverage the logic of [this code](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/551e71a20d01b5fa9c8b87fd7d66dbc7613c116e/themes/jb/layouts/_default/

[2022-07-19 07:53] reesericci commented on #109
While a set of CSS vars are helpful for the website it doesn't encompass everything needed to comprise a complete set of branding guidelines.

[2022-07-19 08:08] reesericci opened #122 "jblive.tv - embeded jupiter.tube"
JB has been really pushing the use of JupiterTube and with JB switching away from Wordpress, JupiterTube should become the live stream embed on the new website instead of the ol' jblive.tv RTMP server.

[2022-07-19 11:26] elreydetoda commented on #41
I know I'm not Stefan, but from my observation of the infrastructure there isn't. If you just do an nslookup on the website domain:

[code]

And a `whois` on the returned IP address, you'll see that it's an IP address controlled by hetzner.com (which is a hosting company similar to Linode).

If they use more of cloudflare (reasons mentioned [here](https://github.com/JupiterBroadcasting/jupiterbroa

[2022-07-19 11:39] elreydetoda commented on #41
Also, I know I haven't really commented on this issue before, and am definitely not very familiar with redis, but if you're looking for a KV store is there a reason for not using a hosted service like this: https://www.cloudflare.com/products/workers-kv/

I've never used it before, but just thinking of ways to lighten the amount of services that JB'll have to run initially to get the website up an

[2022-07-19 13:39] Lord0fBytes commented on #24
Might also be easy enough now to add it to the footer that Stefan created. Looks like some work was already done there.

[2022-07-19 14:34] reesericci commented on #41
CF KV is an excellent solution, I just didn't want to use it if JB wasn't going to utilize CF workers for deploying this.

[2022-07-19 15:18] elreydetoda commented on #24
Ya, I was initially thinking that as well, and we can probably put all the links there still.

From my interpretation of this though, it sounds like that they want a page so they can put helpful information (notes/video walk-through) on how to connect next to the platform (i.e. mumble & element) as well as the links.

[2022-07-19 15:20] elreydetoda commented on #41
Ya, IIRC CF works run their own version of a node runtime, right? (Only heard about it on podcasts)

[2022-07-19 15:23] elreydetoda commented on #63
Probably, but it doesn't hurt (from a community perspective) to still have it displayed. Similar to how the self-hosted show has their discord, for people that don't want to join matrix or enjoy discord more, it gets people interested in the network with the least amount of friction by just being able to hop in and chat.

[2022-07-19 15:31] ChrisLAS commented on #108
What Brent said. But I figured I'd share a bit more background with you all. I'm going to try and talk about this in Office Hours 8 a bit for those of you who want more info/context than I can put in text, but I wanted to post our current plans for RSS generation.

RSS feed generation for the podcasts is actually a bit more complicated that it might look at first pass.

Each show has quite a few f

[2022-07-19 15:52] reesericci commented on #41
for realtime updates Cloudflare's Pub/Sub: https://developers.cloudflare.com/pub-sub/ could possibly work instead of self-hosting a pub/sub solution.

[2022-07-19 15:53] reesericci commented on #63
But it also fragments the community into seperate "channels" of discourse.

[2022-07-19 15:58] reesericci commented on #41
As it turns out, redis has a builtin Pub/Sub function: https://redis.io/docs/manual/pubsub/

[2022-07-19 16:12] gerbrent commented on #24
good ideas both of you!

I was going to tackle this one, considering it's well suited to my skillset and the bulk of the work is rewording the processes in the issues listed above.

And yes, I was thinking grouping all the above into a single page might be helpful. but.... thanks to you both am now reconsidering the approach ; )

[2022-07-19 16:14] elreydetoda commented on #108
Ya...wow...while really informative (thank you for the background (I love hearing this type of info, because it helps drive the technical solution) 😁) , that's a lot 😅

There's a couple ( or maybe only one) that I can think of off hand, but I'll post it after I finish work today (to let the info percolate and validate I'm understanding things properly).

About this part (note for myself):

[2022-07-19 16:47] gerbrent commented on #91
@kbondarev - can you have a look and opinion on this approach?

[2022-07-19 16:58] gerbrent commented on #106
I would say our intention is to keep listeners on our site, and NOT drive them to YT. This was an old requirement of the WP site, and any way to keep listeners on JB sites is better for everyone..

A few suggestions so far:

* [x] Link to the Show page should be obvious
* [ ] sponsors/memberships should be near the top - currently at the very bottom of the page
* [ ] tags are far less important th

[2022-07-19 17:13] gerbrent opened #124 "bug tracking for third party sites - define workflow for audience-submitted bug reports"
make it clear for audience members where to make suggestions for content corrections or bug reports, even for third party sites (Twitch, Memberful, etc.)

* could be a link in the footer or menu

[2022-07-19 17:15] gerbrent commented on #86
sure! great suggestion. I will Make It So™.

[2022-07-19 17:19] gerbrent opened #125 "hosts - past/retired hosts list to be completed, listed on Hosts page"
see #86 for additional context and strategy

Current hosts to be made accurate for 1.0 Milestone, past/archived/retired hosts can be added later.

[2022-07-19 17:56] #84 closed

[2022-07-19 18:22] elreydetoda commented on #41
Ya, I was mainly asking if you knew the runtime that they use, not trying to say deno is node 🙃

[2022-07-19 18:26] elreydetoda commented on #41
Cool! So redis could be used for local dev and Cloudflare could be used for prod?

I wouldn't start working on modifing it (unless you want to) until you get a JB person's (or others via proxy (@StefanS-O or someone similar) ) opinion which solution they'd like more. (Self-hosting redis, cloudflare KV or Pub/Sub, etc...)

It's honestly up to them for whatever is easiest to implement/maintain + wha

[2022-07-19 18:29] elreydetoda commented on #24
Awesome, thank you for updating and adding more context 😁

I'll try and work on it tonight, and I'll post here again if I don't get around to it after work 🙃

[2022-07-19 18:32] elreydetoda commented on #24
Just off the top of my head I could imagine it could be below all the JB network wide comms (maybe grouping them per show if there is more than one), and then also listed on the show specific page as well.
How does that sound?

[2022-07-19 18:34] kbondarev commented on #106
@Lord0fBytes great work with the mock-ups!
Would you be able to also add the V4V form somewhere in those. You can run this #112 branch/PR to see how it looks like at the moment.

@gerbrent regards to the episode number/title, do you mean this format: “456: Show Title Here” or something else?

[2022-07-19 18:40] elreydetoda commented on #124
Is there a preferred place for this now?

I'd think matrix might be too much of a barrier for drive by corrections (i.e. someone wanting to correct a spelling error on Twitch). Maybe a form that sends an email or a form that pushes/posts to matrix somehow?

[2022-07-19 18:50] elreydetoda commented on #108
So, @gerbrent meta question for this issue...should this issue still be a 1.0 task?

Should we create another issue for 1.0 saying point to fireside for the RSS feeds, or keep it all here?

[2022-07-19 21:23] gerbrent commented on #108
good point, it was in the milestone for decision making, lets make a new issue for the implementation.

[2022-07-19 21:24] #108 closed

[2022-07-19 21:28] gerbrent opened #126 "RSS feed references - point to Fireside feeds"
in response to decisions in #108

links to show feeds throughout the site should link to Fireside-appropriate feeds, i.e. the current rss feeds in use via Fireside will persist through the JB.com 1.0 Milestone.

@StefanS-O 's work on custom hugo-generated RSS feeds should be captured somehow for future use if possible.

[2022-07-19 23:41] Lord0fBytes commented on #106
Awesome, thanks for that great feedback and direction.
@kbondarev I will definitely add that to the mockups as well. I am in agreement @gerbrent is the title:

`Too Nixy for My Shirt | LINUX Unplugged 465` (for shows with episode titles and
`Linux Action News 249` (for shows without episode titles)

If it is, is the JB standard is not to break that up? Just making sure I get clarification on this.

[2022-07-20 01:18] kbondarev commented on #91
@elreydetoda It's an interesting approach, however I'm not sure if it's what desired. The result of these symlinks is that the `show-name/hosts` URL path brings you to another "show-page" that doesn't have the episodes.
I think @gerbrent meant that it will be a page like this (same layout): https://jupiterbroadcasting.net/hosts/ but with the hosts there filtered to the specific show.

[2022-07-20 01:31] kbondarev commented on #91
@elreydetoda oh I took a second look. I think I misunderstood what you meant at first.
So the symlinks would be there to only make hugo create those URLs, but then you'll have some logic in the theme files that looks at the path and would display something. Is that correct?

I'm don't know much about Hugo. But it does not seem a "Hugo" way to do it... Like you said "hacky". But I mean - if it work

[2022-07-20 02:39] elreydetoda commented on #91
Ya, so the `show-name/hosts` isn't a symlink it's actually a folder (so it can use the default list.html page), and the symlink is just linking the _index.md file inside that to the one above it. Here is an image of what tree shows (just to kind of help visualize it):

![image](https://user-images.githubusercontent.com/10230166/179883773-54d1f8cb-fee7-4636-8e35-b29921e5a022.png)

So, the symlink i

[2022-07-20 03:46] kbondarev commented on #82
@gerbrent see #127  (sometimes I feel like I'm sending a [Wuphf](https://www.youtube.com/watch?v=pCTOZYPodyk) when I reference the issue in the PR and the PR in the issue)

- I cleaned up the doc a little. Kept the same Q&A format, but removed the quotes and made some bullet point answers instead. I think it a little more visually appealing and easier to follow.
- Added some emojis (wimpy kinda ma

[2022-07-20 04:04] elreydetoda opened #128 "Not loading all Bulma stuff?"
I've never used bulma before, but I saw the convention (similar to bootstrap) about a [12 column system](https://bulma.io/documentation/columns/sizes/#12-columns-system). So, I went to specify `is-10` but it doesn't seem like that's been loaded :thinking:

![image](https://user-images.githubusercontent.com/10230166/179894218-7fbabb78-dc4a-4c4d-85d9-09511496c998.png)

I know I had to enable the bre

[2022-07-20 14:24] kbondarev commented on #128
I noticed it as well... My guess is that, @StefanS-O wanted to not include things that aren't used.
@StefanS-O can you confirm? Maybe we should add everything, I don't think the whole lib is that heavy. Even if some componets/elements aren't in use - it wouldn't affect things much.

[2022-07-20 14:30] gerbrent commented on #106
## re Title
Yes indeed to you both:

- [ ] whatever is explicitly scraped or placed in the metadata should never be replaced
- [ ] the title format should be consistent throughout all shows across the site. except in special circumstances (i.e. LAN)
- [ ] the title format `EP#: EpisodeName` is very "JB standard", with the whole `EP#: EpisodeName | ShowName` being a good compromise.
- [ ] the bread

[2022-07-20 14:39] kbondarev commented on #106
@gerbrent Good idea!
It seems like this issue could be broken down into smaller individual tasks/issues - which we could start opening based on the "discussion.

[2022-07-20 14:41] gerbrent opened #131 "episode page - remove video player, prioritize embedded player"
The video player embed is an artifact of the old WP site needing this workaround to embed media.

Since we have wonderful embedded player choices, the video player is no longer needed and we should prioritize the embedded player.

Reasoning:
* the embedded player presents many more features - chapters, speed changes, etc.
* the video here is not the highlight of the episodes ATM, audio production

[2022-07-20 14:46] kbondarev commented on #126
I think simplest way is maybe to add some NGINX redirect rules. Something like this:

[code]

[2022-07-20 14:55] #126 closed

[2022-07-20 14:58] gerbrent commented on #82
👍🏻

I'm just going to place this here.... https://gitmoji.dev/

Regarding the Q & A format - that was born out of purse laziness, haste, and conversation capture, but if we feel it's a nice approachable format I'm all for it.

[2022-07-20 15:03] elreydetoda commented on #126
So, I left all the code and files that @StefanS-O had created before, and just commented it out. For example:
- [this](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/2607d878bc97fa7ee98727bd124dc829a62ea093/themes/jb/layouts/section/list.rss.xml) is the file which Stefan used to generate all the feed
  - I just am telling hugo to not do that type of build anymore, with [this l

[2022-07-20 15:04] gerbrent commented on #82
Feedback on the content and layout changes:

Dear @kbondarev - I think I love you.
SUUUUUPER amazing additions and editing. Way better than I was envisioning/could have done myself. We are better for having you here!

[2022-07-20 15:05] elreydetoda commented on #126
So, I think that could probably work for if someone does `/rss` on a show (which would be really cool :grin: IMO), but this issue is for the all shows feed (from my understanding and looking at Stefan's RSS implementation) which is hosted on JB.com now.

[2022-07-20 15:08] #82 closed

[2022-07-20 15:27] elreydetoda commented on #91
Awesome, thank you for the feedback @kbondarev! Ya, I was looking at the wrong page for what I was basing it off of :sweat_smile:, so this feedback really helps :bow: :slightly_smiling_face:

[2022-07-20 15:27] StefanS-O commented on #128
I really don't know why i did remove those, readded everything!

[2022-07-20 15:27] #128 closed

[2022-07-20 15:34] gerbrent commented on #3
Would someone be willing to do some simple content editing?
Likely a great first issue for someone looking to get involved.

* [ ] move the " Network Membership". "Show Memberships" and "Gift Memberships" sections to be ABOVE the "Special Features" list.
* [ ] remove the internal links to the shows - the blue/link colour is distracting....... or, perhaps it might look fine? Opinions?

Reasons:
If

[2022-07-20 17:28] Lord0fBytes commented on #106
Awesome. Great feedback on the title stuff. I will clean up my code and get a WIP PR submitted hopefully tonight so we can have at least a skeleton of the new look. That way if people want to jump into work on individual parts they can.

[2022-07-20 23:13] kbondarev commented on #36
@gerbrent any feedback on this?

Also should it be part of Milestone 1.0?

[2022-07-20 23:23] reesericci commented on #122
JBot could (and arguably should) take the role of starting up the stream. That way the endpoint would always know where the stream is located to embed on the site.

[2022-07-20 23:25] reesericci commented on #109
@gerbrent Should I go ahead and create a new copy of those style guides and update them to remove LA branding etc?

[2022-07-20 23:26] reesericci commented on #49
Maybe just tie into something like [libravatar](https://libravatar.org) to allow hosts to easily update their profile and automatically populate one with just an email?

[2022-07-21 11:40] StefanS-O commented on #41
I will start looking into this after launch, this is not a milestone 1 issue and also needs decissions from @ChrisLAS where this should be hosted.

[2022-07-21 11:58] kbondarev commented on #131
Closed by #133

[2022-07-21 11:58] #131 closed

[2022-07-21 12:03] reesericci commented on #66
Why not just link to the podcast index?

[2022-07-21 12:04] kbondarev opened #135 "“Notch” Color on iOS"
On iOS (tested in safari) the site looks like this:

![3B1E43EA-CE5E-4002-8E64-634E18EFFE1C](https://user-images.githubusercontent.com/7744333/180208930-69e83d8b-b0da-4515-b614-a8cf31876830.png)

Would be nice if the browser will render that very area (thats where the speaker/camera notch is) the same color as the navbar.

[2022-07-21 12:08] reesericci opened #136 "Add feedback button to episode and show pages"
There should be an easy button to "send feedback" about the episode to the JB team, like on fireside.

[2022-07-21 12:35] Lord0fBytes commented on #106
Task List
- [x] Link to the Show page should be obvious
- [x]  sponsors/memberships should be near the top - currently at the very bottom of the page
- [x]  tags are far less important than the description. Fireside gets this wrong... - Moved to the right side column
- [x]  a list of hosts and guests for the episode is important, list near the top
- [x]  title should follow the exact formatting se

[2022-07-21 13:27] Lord0fBytes opened #137 "Show Pages: Improve Layout/Design (suggestions)"
Like the Episode page issue I think it would be great to have a 'parent' issue for the Show Page. Here we can discuss and track update to the Show Page.

Tasks/Issues:

- [ ] #87
- [ ] #86
- [ ] #66
- [ ] Cleanup links under description
- [ ] Are the show cards to large?

[2022-07-21 16:04] elreydetoda commented on #49
That's really cool @reesericci ! I didn't know something like that existed, I've always seen gravatar used (which I think is owned by WordPress).

Just a quick glance though, we might want to consider using their OpenID instead of their email. I personally don't like sharing my email places (spammers, nefarious people, etc...), so if they just provide the OpenID instead I'd imagine it's less of a

[2022-07-21 16:24] gerbrent opened #138 "Show page - Direct Downloads - links are to current page, not mp3/Youtube, etc"
![image](https://user-images.githubusercontent.com/7018928/180264598-afd54408-adba-4555-a647-12a8a2998f6e.png)

The links to various "Direct Downloads" point to the current page/episode when they should point to their respective downloads.

Current code being rendered:
`Direct Download: [MP3](https://jupiterbroadcasting.net/show/linux-unplugged/465/) | [Video](https://jupiterbroadcasting.net/show/

[2022-07-21 16:36] gerbrent commented on #136
nice suggestion!

[2022-07-21 16:46] gerbrent opened #139 "Contact page - we need one! Or.... many?"
We need a Contact page!

Historically we have had a contact form/page for JB.com, and one on each of the Show websites.

With the current all-shows-in-one site, it could be possible to have a single Contact page that allows for a Show selection - i.e. I want to send feedback to LUP, or to SSH, or to the JB Network generally, or a sponsorship request.

So:

* [ ] create a Contact page with link in

[2022-07-21 17:03] gerbrent opened #140 "Podverse embedded player issues - can someone file bugs/coordinate?"
A few issues with the Podverse embedded player that need some love and should be coordinated w Podverse via their GH:

(I'm only not doing it because of lack of time, not lack of interest!)

## issue 1 - About link
"About" link drastically changes the player layout, doesn't offer an about page
![podverse bug - about](https://user-images.githubusercontent.com/7018928/180271088-d438d770-da93-4573-9a

[2022-07-21 17:10] gerbrent opened #141 "Podverse + Fireside players - low quality audio?"
While playing a LUP episode via Podverse embedded player via [Episode 465](https://jupiterbroadcasting.net/show/linux-unplugged/465/), the audio has many low-quality compression artifacts. See timestamp 7:16-7:40 for several artifact examples.

artifacts seem to follow conversational pauses/silence.

The questions to find the culprit:
* Where does Podverse pull the episode?
* If a local file (as d

[2022-07-21 17:24] gerbrent opened #142 "https://www.jupiterbroadcasting.net = Coder Radio MVP"
Just a quick observation:

browsing to https://www.jupiterbroadcasting.net/ instead of https://jupiterbroadcasting.net/ leads to the Coder MVP (not the current JB.net website)

note the "www"

[2022-07-21 17:34] gerbrent opened #143 "Host pages - inconsistent photo, description layout"
Firstly - the Hosts pages are SOOOOOO much better! Thank you!!

There is an inconsistency between photo cropping and description placement (along w a number of minor related items)

For instance, compare the Hosts pages for Wes, Chris, Brent:

On an Episode page - looks great! ✅
![image](https://user-images.githubusercontent.com/7018928/180277071-db902339-0800-44ba-b361-4a41c06d5047.png)

Chris
![

[2022-07-21 17:48] gerbrent commented on #86
An observation to help craft a solution here, possibly an automated one?
Using Brent as an example here, but surely applies to all profiles of Hosts/Guests

Observing that Brent...:
* ✅  listed as a host in Episodes pages - for instance, [LUP 467](https://jupiterbroadcasting.net/show/linux-unplugged/467/)
* ❌ *not* listed as a host at /LUP/hosts
* ❌ does *not* have LUP listed in the "Shows with Br

[2022-07-21 17:56] #28 closed

[2022-07-21 18:11] gerbrent opened #144 "pagination - add to Host, Guest pages"
Pagination would be helpful for People Profiles.

For example:
* [hosts/alex](https://jupiterbroadcasting.net/hosts/alex/)
* [guests/alex](https://jupiterbroadcasting.net/guests/alex/)

Pagination should be added to:
* [ ] Host profile pages
* [ ] Guest profile pages

[2022-07-21 18:14] gerbrent commented on #94
New todo!

* [ ] Make changes to Hosts pages apply to Guest pages

For example, see differences:
* [hosts/alex](https://jupiterbroadcasting.net/hosts/alex/)
* [guests/alex](https://jupiterbroadcasting.net/guests/alex/)

[2022-07-21 18:20] gerbrent opened #145 "Hosts/Guests pages - make layout identical"
* [ ] Apply changes made previously to Hosts page design/layout apply to Guest pages

For example, see differences:
* [hosts/alex](https://jupiterbroadcasting.net/hosts/alex/)
* [guests/alex](https://jupiterbroadcasting.net/guests/alex/)

### hosts/alex
![image](https://user-images.githubusercontent.com/7018928/180285054-c4dfe85f-467d-4195-a57c-476b31769985.png)

### guests/alex
![image](https://u

[2022-07-21 18:21] gerbrent commented on #145
@elreydetoda , @[Dedpy](https://github.com/Dedpy) ... interested in working on this one?

[2022-07-21 18:22] #94 closed

[2022-07-21 18:30] gerbrent opened #146 "People menu item - links to current page"
Behavior of the `People` menu item is to link to the current page.

#### Current behavior:
* links to the current page.

#### Desired behavior:
* link nowhere? Thoughts?

![people menu - wrong link](https://user-images.githubusercontent.com/7018928/180287250-3b20bf62-2a3d-4478-be73-583f68c6c504.gif)

[2022-07-21 18:36] gerbrent opened #147 "Hosts/Guests Profile images not clickable...sometimes."
Profile images for all Hosts, Guests throughout the site are not clickable/links, only their Name on the cards are clickable/links.

This applies in various locations:
* [ ] [JB Hosts page](https://jupiterbroadcasting.net/hosts/)
* [ ] Episode pages - e.g. [Coder475](https://jupiterbroadcasting.net/show/coder-radio/475/), [LUP467](https://jupiterbroadcasting.net/show/linux-unplugged/467/), et. al

[2022-07-21 19:01] reesericci commented on #3
It might make more sense to remove jupiter.party as a seperate site and instead have a page on the main JB.com site directing to memberful.

[2022-07-21 19:32] gerbrent commented on #3
well, it *is* helpful to be able to refer to "Jupiter.Party" on air, and we've sorta branded the network memberships as such at this point. ....Join the Party!™

[2022-07-21 19:37] gerbrent commented on #3
OOOHHHH... I see what you're saying now.

I take it back: GREAT idea.

Jupiter.Party is hosted independently, and features a few links as redirects to Memberful.
Instead it should link directly here, to our Memberships page. Got it!

Will make a ticket for it.

I'll make a new issue out of the above comment I added aswell - this current issue is..... vague and of a simpler time ; )

[2022-07-21 19:39] gerbrent opened #148 "Memberships page - content reorganization"
Would someone be willing to do some simple content editing?
Likely a great first issue for someone looking to get involved.

* [x] move the " Network Membership". "Show Memberships" and "Gift Memberships" sections to be ABOVE the "Special Features" list.
* [x] remove the internal links to the shows - the blue/link colour is distracting....... or, perhaps it might look fine? Opinions?

Reasons:
If

[2022-07-21 19:43] gerbrent opened #149 "Jupiter.party - remove current site, redirect to Memberships page"
Currently Jupiter.Party is hosted independently, and features a page with a few links as redirects to Memberful.
Instead it could redirect here, to our Memberships page.

It is helpful to be able to refer to "Jupiter.Party" on air, and we've sorta branded the network memberships as such at this point. ....Join the Party!™ - thus removing the URL isn't really a suitable option.

[2022-07-21 19:45] #3 closed

[2022-07-21 20:22] kbondarev commented on #86
I think this is the logic by which this operate at the moment:

- **Is person a host a specific episode?**
  - Is answered by the `hosts` param in each episode markdown file
  - Makes these true:

- **Is person a current host of a show?**
  - Is answered by the `hosts` param in `_index.md` files of each show
  - :point_up_2: In your case, @gerbrent, your username is missing in `_index.md` of LUP.

[2022-07-21 20:36] kbondarev commented on #86
This PR fixes it by modifying the `hosts` params in each `index.md`

If you want this logic to be implemented:

rather than how things work right now (described above) - then it requires some actual coding, not just changing the content.

---

I think we the way things work right now, maybe the title "Shows with Brent Gervais" should be rather be "Brent Gervais is hosting these shows" or something

[2022-07-21 20:38] kbondarev commented on #138
Not related to the scraper.

The template just has empty links: `<a src="">`
It's a quick fix - I'll fix this later today, unless someone beats me to it :rocket:

[2022-07-21 20:44] kbondarev commented on #138
To be clear: I unassigned myself to open this for someone else to do (I don't have much time today). But I'll probably fix it tomorrow if it's not done by them.

The solution:
- Use the parameters in the episode markdown file to set the `src` attributes of the link
- There are more than just these 3 options (there's also ogg file sometimes and different video files)
- :exclamation: All of these pa

[2022-07-21 21:02] kbondarev commented on #139
There's also a technical question here: what will be the backend to send these emails?
The generated Hugo site is static.

Here are some ideas:
-  Use some third-party services like mentioned [here](https://discourse.gohugo.io/t/is-it-possible-to-add-a-contact-form-to-a-site/1550)
- Make a minimal backend script (python :snake: ?) that would send emails to specific inboxes via SMTP
- [ ] Need to a

[2022-07-21 21:13] gerbrent commented on #139
great points, and seemingly the first apparent downside to Hugo we've come across so far. Hmm!

[2022-07-21 21:21] gerbrent commented on #86
I think the way you implemented it here - i.e. explicitly - is mighty fine for now.
Needing to intentionally change the listed hosts of a show is an acceptable implementation, and we can discuss the use case of a guest host at a later time.

[2022-07-21 21:37] elreydetoda commented on #145
Sure @gerbrent , I can take this one.

[2022-07-21 22:03] #86 closed

[2022-07-21 22:23] gerbrent commented on #66
Sending visitors away to perform what should be an essential function for our listeners - i.e. subscribing to the podcast(s) - shouldn't take them OFF our website. That feels like bad UX to me.. and as a new-to-JB listener might be a little odd.

That being said, most of us probably use podcast indexes of some sort via apps to browse available podcasts anyhow, but... worth placing currency in the

[2022-07-21 22:32] gerbrent commented on #124
a form is a great idea.

to be clear, I feel Matrix is a distinctly BAD option for this workflow, esp since it would get buried.

a bug report here on GH might be acceptable - already bug reporting workflow deeply ingrained, requires *some* barrier-to-entry which can be a good thing for quality, and could fit into our present development workflow.

[2022-07-21 23:04] gerbrent commented on #109
I LOVED seeing these Podverse changes today... wonderful colours (🇨🇦 ) indeed ; )

[2022-07-21 23:06] gerbrent commented on #109
That would be amazing!
And... also the current branding shims - the rocket instead of LA logo.. - are good-for-now implementations. If you spot any inconsistencies or opportunities please let us know!

Also: THANK YOU @reesericci !

[2022-07-21 23:10] gerbrent commented on #122
To ask so much of JBot is to rely on the unknown and fragile... she is unmaintained and frankly quite old. BUT... what you are suggesting is certainly a welcomed improvement. Anything we can do to make some of our Live processes automated AND super reliable are helpful...

But I would suggest you don't work on that pipeline 'till we can get some buy-in from the likes of @noblepayne and @ChrisLAS,

[2022-07-21 23:24] gerbrent commented on #36
this sounds like a great approach. I think I'll loop in @ChrisLAS for more on this one...

[2022-07-21 23:28] gerbrent commented on #36
I think part of my questions become:

* If these splits are presumably defined elsewhere with more authority - Podcast Index? - shouldn't we scrape those on a per-show and/or per-episode basis?

[2022-07-21 23:36] noblepayne commented on #36
Looks like the spec suggests that things at the item level are to override the channel settings:

[2022-07-21 23:41] Lord0fBytes commented on #91
Since you are working with host cards I should let you know in my upcoming PR there will be a new file called `small-readmore.html` which is the same as `small.html`, but it trucates the bio and adds a 'Read More' link to the host page.
Shouldn't effect anything you are doing, but it might help to clean up the bios.

[2022-07-21 23:45] gerbrent commented on #36
Sounds like the ideal end goal would be to have these splits defined in the RSS feed eventually, but for now the Podcast Index is a good source-of-truth for splits.

[2022-07-21 23:47] ChrisLAS commented on #36
Per episode is my strong preference because it allows us to do splits with guests, or a project we mention, or even a specific listener for that episode.

As far as source of truth ideally before the end of the year we'll be specifying the splits directly in our RSS feed with per-episode split set in there. This gives us the broadest compatibility with podcast apps, and accommodates people directl

[2022-07-21 23:58] gerbrent commented on #36
My personal opinion: I don't think it should be part of JB.com 1.0 Milestone. This is a perfect example of a feature not currently in the JB WP site, and a nice-to-have, yet would take away precious resources from other essential tasks that are a hard requirement for the deadline.

[2022-07-22 00:11] gerbrent commented on #138
that tag was bait 🎣 to get your thoughts in here ; ) (although in retrospect, knowing your dedication, probably not needed...)

[2022-07-22 00:19] gerbrent commented on #140
@kbondarev - you're amazing, thanks! And well done! 💯 🔥 🥇 🎉

[2022-07-22 00:29] gerbrent opened #152 "Show artwork - some pixelated, fuzzy, not ideally scaled"
Some of the Show artwork isn't optimally crisp. There is some artifacting from compression, some fuzzyness, lack of sharpness.

See here: https://jupiterbroadcasting.net/show/

To my eye.......

...seems great:
* [x] Extras
* [x] Office Hours

...needs work:
* [ ] LUP
* [ ] LAN
* [ ] Coder
* [ ] Self-Hosted?

![image](https://user-images.githubusercontent.com/7018928/180336738-2674628b-5f66-469e-8

[2022-07-22 00:40] gerbrent opened #153 "Show descriptions - incorrect, outdated, need updating"
Some of the show descriptions need updating.
See them here: https://jupiterbroadcasting.net/show/

Reference descriptions should from the shows' current individual websites i.e. Fireside pages:
(also todo list:)

* [ ] [LINUX Unplugged](https://linuxunplugged.com/)
* [ ] [Self-Hosted](https://selfhosted.show/)
* [ ] [Coder Radio](https://coder.show/)
* [ ] [Linux Action News](https://linuxactionne

[2022-07-22 01:18] gerbrent opened #154 "Archive - populate with archived shows"
This is a big one, but essential for our 1.0 Milestone

FOr all shows listed on [jupiterbroadcasting.com's](https://www.jupiterbroadcasting.com/) Archive sub-menu:
* [ ] scrape show metadata: title, description, hosts, etc.
* [ ] create sub-menu items for each Show
* [ ] create Show page w all episodes listed (w pagination)
* [ ] implement Show host/guest pages - but NOT NECESSARILY also listed in

[2022-07-22 01:25] gerbrent opened #155 "Home Page logo - starry-sky background not needed........"
The galactic background to the Home Page's JB logo doesn't need to exist.
If anything, it makes the JB Logo and subtext difficult to read.

Would be happy to see some mockups of alternatives. Simpler is better. Possibly just.... no background would suffice.

![image](https://user-images.githubusercontent.com/7018928/180341708-90253854-131a-4b9b-b868-9c42caf46b11.png)

[2022-07-22 03:43] gerbrent commented on #154
Here's another helpful way Wes and I have been exploring the scope of this item:

* The archive *could* potentially be added after the 1.0 Milestone, but ultimate must be added within a reasonable time-frame.
* At this point, the scraping can potentially be simplified to obtaining a "map" of the known items and their relationships/pointers to external sources. i.e. We only need to capture that whi

[2022-07-22 03:44] kbondarev commented on #36
Thanks!! This is all very helpful, and clarifies the greater vision.

@gerbrent you’re right, main goal of 1.0 is to move away from scale engine. This does fall in there.
We will deal with this after.
Implementing it in incremental steps as @ChrisLAS suggested: (1) read data from podcastindex first, (2) then make JB as the source.

[2022-07-22 03:44] elreydetoda commented on #139
Ya, I've used this service in the past, but they have payment tiers and with how much you all get feedback it might end up costing :sweat_smile: https://formspree.io

@kbondarev, how would you get the script to run with nginx?

An alternative to a backend script would be similar to @reesericci's other issue (#41), where we could do some type of backend processing via a serverless/edge function tha

[2022-07-22 03:45] gerbrent commented on #154
Realizing I said the following on the very first line of this ticket, but than am now challenging that concept in the above comment. Happy to keep challenging it!

[2022-07-22 03:56] elreydetoda commented on #26
Meta: BTW, @gerbrent  you might want to add a "JB - action needed" tag to this issue since it's discussing cost of running an extra service on a server specifically for search, and if that's something they want to contemplate (because that'll be another service to maintain).

[2022-07-22 03:57] kbondarev commented on #139
Use nginx to proxy a specific URL location to a different port (possibly even host) where the backend-script/app will run on.

For example: POST requests to `/contact-form/send` are proxies to `localhost:5000` where the script listens at for a POST request.

Then the html form will be: `<form action="contact-form/send">...`

[2022-07-22 04:05] kbondarev commented on #139
The AWS thing you posted is pretty much how it would work with a script that would send mail via any SMTP server (even using gmail).

It would have one API point it listens to. Accepts form data:
- Subject
- name
- email of the sender
- message
- and I guess context (basically which show it relates to. Based on this we send it to different inboxes or add extra label in the subject line for filteri

[2022-07-22 06:11] elreydetoda commented on #141
So, it's pulling the media from here:
https://media.fireside.fm/file/fireside-audio/podcasts/audio/f/f31a453c-fa15-491f-8618-3f71f1d565e5/episodes/c/c9010224-e034-4b0e-8e86-92bdad797319/c9010224-e034-4b0e-8e86-92bdad797319.mp3

which is the same audio file from fireside... :thinking:
https://media.fireside.fm/file/fireside-audio/podcasts/audio/f/f31a453c-fa15-491f-8618-3f71f1d565e5/episodes/c/c901

[2022-07-22 08:58] StefanS-O commented on #155
I have removed the background image

[2022-07-22 08:58] #155 closed

[2022-07-22 09:05] StefanS-O commented on #110
We should do this, because it would also make pagination work on host /gues sites.
Hugo can't paginate data structures.

[2022-07-22 09:06] StefanS-O commented on #144
This issue is blocked by #110

[2022-07-22 09:13] StefanS-O commented on #142
I forgot to add www.jupiterbroadcasting.net to nginx, fixed it

[2022-07-22 09:13] #142 closed

[2022-07-22 11:37] elreydetoda commented on #110
Alright, sounds good. I'll try and start working on this as soon as I can.

🙂

Thank you @StefanS-O , @gerbrent , and @kbondarev for taking the time to read this and consider the options 🙂

[2022-07-22 11:47] kbondarev commented on #139
I WAS thinking of doing it in using FastAPI 😉
I ❤️ FastAPI as well! (and all everything developed by tiangolo tbh!!)

[2022-07-22 13:34] elreydetoda commented on #139
Ya, I love it as well! I used it to create a pretty basic RSS feed merger for all of my podcasts which then get placed in an S3 bucket.  I expose it over my internal network and provision it with aws creds in a docker container, and an able to just hit it with curl + a cron every 12 hours to update all my podcast to one feed 😁 (almost like the all shows feed but for more than just JB shows)

Here

[2022-07-22 13:40] TeamLinux01 commented on #16
I just want to see more things that use IPv6 so that one day we can get away from IPv4. As long as it doesn't get forgotten about, I can wait. 😁

[2022-07-22 14:54] harriseldon commented on #153
I would like to work on this. I forked the repository and made changes to the _index.md file for Linux Action News and Office Hours. I will check the rest then create my pull request. I also joined the Matrix chat and I will ask other questions there.

[2022-07-22 15:24] gerbrent commented on #141
Confirming that this is a problem on Fireside aswell, so not related to Podverse.

See here on Fireside: https://linuxunplugged.com/465?t=430

[2022-07-22 16:13] gerbrent opened #157 ""Jupiter Broadcasting" Host - useful?, broken link, which episodes?"
There is a host listing for "Jupiter Broadcasting" in [Hosts[(https://jupiterbroadcasting.net/hosts/) however it is unclear why this is useful, which shows link to this as a host, and why it's profile page is broken.

It's profile links here: https://jupiterbroadcasting.net/hosts/default - which is a 404

Could this have been a placeholder during MVP stages of the site?

We should:
* [ ] identify

[2022-07-22 16:28] gerbrent opened #158 "guests - some listed multiple times w different stubs"
Some [Guests](https://jupiterbroadcasting.net/guests/) are listed multiple times, due perhaps to different stubs used in various Fireside listings.

Examples:

* Danielle Foré
   * https://jupiterbroadcasting.net/guests/dani
   * https://jupiterbroadcasting.net/guests/daniellefore

* Drew DeVore
   * https://jupiterbroadcasting.net/guests/drewdevore
   * https://jupiterbroadcasting.net/guests/drew

[2022-07-22 16:52] gerbrent commented on #158
Could relate to https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/72#issuecomment-1179765579 and thus #75

[2022-07-22 17:29] gerbrent opened #159 ""Support Show" button design on Episode pages - needs change"
The bright green colour of the "Support $SHOW" button on Episode pages does not match any of the rest of the site's colour scheme, and frankly I find a little hard to read the white-on-green text (could be my need for new glasses...)

Open to exploration of different options.

Also opening a conversation about the placement of said button:
Would placing the button in the hosts/sponsors section, i.

[2022-07-22 17:43] gerbrent opened #160 ""Support Show" button on Episode pages - links to wrong membership"
An audit of the "Support $SHOW" button on Episode pages reveals some incorrect linking to membership pages.

* [ ] [Office Hours](https://jupiterbroadcasting.net/show/office-hours/8/): `Support Office Hours` ->  [Coder QA Membership](https://jupitersignal.memberful.com/checkout?plan=53334)
   * [ ] should be `Support Office Hours` -> [Network Membership](https://jupitersignal.memberful.com/checkou

[2022-07-22 17:44] gerbrent commented on #160
Assigning myself, since.... some JB decisions to be made, and simple to implement.

[2022-07-22 18:10] gerbrent opened #161 "URL links - DNS to hugo pages?"
On publish date of Milestone 1.0, I would like to discuss (mostly internally at JB) what behaviour should be expected by our domain names.

URLs are often referenced in the shows, and wonder if they should be redirected:

## Current common URLs used in shows (not exhaustive):
* [coder.show/475](https://coder.show/475) - redirects to Fireside episode
* [coder.show/contact](https://coder.show/contac

[2022-07-22 18:15] gerbrent opened #162 "All Shows feeds - include in hugo site"
We need a place to link to the All Shows feeds

* [All Shows Feed - Audio](http://feeds2.feedburner.com/JupiterBroadcasting)
* [All Shows Feed - Video](http://feeds2.feedburner.com/AllJupiterVideos)

related to #66

[2022-07-22 18:25] gerbrent opened #163 "LIVE! page"
the LIVE! page on jb .com needs to be recreated here in Hugo

* [x] embedded Twitch ( consider https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/122)
* [x] embedded IRC
* [x] RTMP, etc stream links
* [x] menu item for LIVE! page
* [x] #233
* [x] #208

[2022-07-22 18:31] StefanS-O commented on #163
I already kind of started something, with this config: `config.jblive.toml` that get's deployed here: https://jb-live.codefighters.net/

[2022-07-22 18:43] drewofdoom commented on #141
Hey, y'all. Quick update on this. Just had a listen to the sample and went back to the original FLACs to check it out. This episode is a bit older, so I don't still have the source files and my project from Studio One - I usually only keep 1-2 older projects at a time.

I do hear some MP3 artifacting, but that's pretty normal. Not going to get rid of that all the way. Such is life with a lossy for

[2022-07-22 18:54] CGBassPlayer commented on #148
Hi @gerbrent. I can work on this to dip my toe into contributing to my podcast network of choice (love all the shows, been listening since sometime in 2020)

I agree that the blue links feels distracting. But I wonder if instead of removing the internal links, could we update the CSS to make links similar to the footer? I haven't looked through too much of the new site yet to see how the blue link

[2022-07-22 19:37] #141 closed

[2022-07-22 21:21] gerbrent commented on #148
love the idea!

If you're willing, you could open a new issue and propose your site-wide change to the link colour if that feels the direction to head, which... I fully support.

[2022-07-22 22:20] CGBassPlayer commented on #148
Sure thing. I'll open an issue for the links and put in a pull request for the reorganized membership page

[2022-07-22 22:22] CGBassPlayer opened #164 "New color for links"
Brought up in issue #148, the blue color for links can feel distracting where there a good amount on a page. I am thinking we could copy the color scheme that is used in the footer section (light grey / white) for a more stealthy look. Any thoughts on this?

[2022-07-22 22:40] harriseldon commented on #153
Created pull request https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/166

[2022-07-22 22:41] TeamLinux01 opened #167 "IPFS (InterPlanetary File System) deployment"
Use IPFS to host a version of the website and podcast files.

https://en.wikipedia.org/wiki/InterPlanetary_File_System

[2022-07-22 22:52] gerbrent commented on #167
great idea! tagging this w 'low priority' not because it isn't a good exploration, but simply because it's not essential for the JB 1.0 Milestone.

[2022-07-22 23:16] TeamLinux01 opened #168 "Add the ability to support this project through the Lightning Network (Boosting)"
To show how other Open Source projects could be supported via the Lightning Network,  this could be implemented on this project.
https://lightning.network/

[2022-07-22 23:34] gerbrent commented on #168
Yeeeees.
Again, future-but-hopefully-soon feature!

[2022-07-23 01:15] TeamLinux01 opened #169 "Light/Dark Theme, selectable and/or autoselected"
Have a light and dark theme for the website, preferable that it would select the theme based on what the OS theme is set to.

There could also be a setting to select which theme is set.

[2022-07-23 06:33] trev-dev commented on #159
You could use some CSS and convert the image into a button that you may click to "support the show." Or, simpler yet, Just make it a fairly obvious clickable link somewhere on the left-hand side either below the title, date or synopsis.

I know you want your CTA to be pretty loud, but I agree, giant neon green is a bit too loud.

[2022-07-23 06:36] trev-dev commented on #139
Going with the simplicity of SSG sites, would it be too terrible to have a simple mailto link, perhaps guarded by some form of CAPCHA?

[2022-07-23 09:19] elreydetoda commented on #24
Alright, I just set #129 for ready for review. I don't know if I'll be able to do all of this issue, because my PR covers pretty much all the base framework for this page, menu, and footer.

So, the parts I don't think I'll be able to get to is all the content i.e. the walk-through for matrix and all the smaller details of writing content for each page. I think I should probably start focusing on

[2022-07-23 09:28] elreydetoda opened #171 "Menu not properly responsive or too many items"
An issue that I saw in my PR #129 is that if your screen is probably about tablet size the menu isn't properly responsive. It's got too many items in it and overflows the page, so you can even seen the community dropdown. This is something we'll need to have a bigger discussion about, and if we want to collapse some of those menu options to make it smaller.

[2022-07-23 10:22] elreydetoda commented on #91
Ya, @Lord0fBytes I'll probably do another PR if I get this one in before yours.

Alright, @gerbrent I think this (from what was being described) is what you're looking for (already pushed to my PR if you want to try it out)?

![image](https://user-images.githubusercontent.com/10230166/180601159-f0cbbd25-96ee-4d10-a99f-1ffb9dc1bdc5.png)

![image](https://user-images.githubusercontent.com/10230166/1

[2022-07-23 14:01] elreydetoda commented on #16
Ya, I completely understand @TeamLinux01, and it was a good suggestion for milestone 1.0 😁

My proposed solution wouldn't require really any work from a server hosting side, and we'd be taking care of our IPv6 breathers 😅

One important reason to ensure that it's compatible, is that if someone that is only IPv6 tries to navigate to the site now...they wouldn't be able to connect to it (since we do

[2022-07-23 14:05] elreydetoda commented on #167
I actually have no idea how this works 😅, but just from the description/name where it says "file system". Does that mean we wouldn't have any nginx proxy to serve requests?

Because currently the plan for a form (#139) would require some kind if endpoint to process dynamic requests, which Nginx would be a reverse proxy for and pass it to an API to process the form results (from a POST request).

[2022-07-23 14:08] elreydetoda commented on #168
Isn't this already ready because we're supporting V4V?
I thought @ChrisLAS has a lightning node (from my understanding) and the V4V form sends it to that node?

So, then we'd just need to list that node on the website somewhere and people could send money to it if they don't want to do a boost with the form?

[2022-07-23 14:14] elreydetoda commented on #163
@gerbrent , I love that you added a "meta-issue" tag, so you can group together changes 😁

Also, @StefanS-O while it's probably (didn't check) getting rsync'ed already, is it already configured from the Nginx side? If so, what's the domain + path to get there?

[2022-07-24 13:40] elreydetoda commented on #24
Just so we're on the same page this'll have to be re-opened for the content of walk through or another issue will need to be made (@gerbrent )

[2022-07-24 14:36] kd2flz commented on #163
I'm happy to mess with embedding a juptier.tube livestream on the jblive.jupiterbroadcasting.net page. Not sure what's involved in this, but I'm happy to at least explore the options.

[2022-07-24 14:39] kd2flz commented on #122
I don't know a lot about RSS, but it is possible to generate a RSS feed from PeerTube. Not sure if the live stream would show up in the RSS feed though.

[2022-07-24 20:20] elreydetoda opened #173 "Consider netlify for main JB.net deploy previews"
So, one thing that I've normally done in the past is hooked up Netlify to the repo. Normally this is for easy of hosting the NetlifyCMS, but a passive added benefit is using them for deploy previews. This means it'll automatically deploy the changes proposed in a PR for the website. It can be used on the free tier and if layer down the road it breaks or cost money. It'll be easy to remove it, and

[2022-07-24 22:34] reesericci commented on #163
@kd2flz there are a couple issues with embedding jupiter tube as discussed in #122

[2022-07-24 22:36] reesericci commented on #122
JBot needs to be rewritten, so this more is about the successor of JBot @gerbrent

[2022-07-24 22:38] reesericci commented on #66
That's fair - I just don't like the idea of driving traffic to spotify, sticher, etc.

[2022-07-24 23:24] reesericci commented on #49
Or allow both OID or email

[2022-07-25 00:38] elreydetoda commented on #122
Is JBot something that's open source, or internally hosted by JB? I haven't written a bot before for much, so I'd be curious to see the code 😁

[2022-07-25 02:26] JR-git-hub commented on #54
Don't forget affiliate links that continue to be advantageous. They also remind past sponsors of the quality traffic JB drives.

So maybe a automatef highlighting of current sponsors but historical reference such that JB still gets affiliate credit related to back catalog plays, etc.

[2022-07-25 08:28] #135 closed

[2022-07-25 13:48] CGBassPlayer commented on #87
Checking in to see if anyone has worked on this. I tinkered with it a little bit last night and got a start on this. I ended up using "columns" for the CSS as it seemed pretty straight forward.

![Linux Unplugged screenshot with multiple hosts](https://user-images.githubusercontent.com/34293941/180791819-aafd2961-f9c0-44c1-bc51-dbba56468a89.png)
I put Brent in multiple times to test the wrapping a

[2022-07-25 16:10] gerbrent commented on #122
Here's a gift for you:

* I forked the previous source of JBot for you/everyone (source detailed on the footer of https://jbtitles.com/):

https://github.com/JupiterBroadcasting/jbot-showbot

[2022-07-25 16:35] gerbrent commented on #122
That being said, we're really looking to migrate to GammaBot - our JBot Matrix replacement thanks to Gamma/Matrix.

That can be found [here](https://github.com/xPMo/hemppa-bot/) for now, but will be migrating to JB Repos very soon..

@xPMo = Gamma

[2022-07-25 16:58] gerbrent opened #176 "JBot & gammabot"
A little JBot and gammabot context..

# JBot
* currently our IRC bot we mostly love
* handles the live show title suggestions at [JBTitles.com](https://jbtitles.com/)
* code: https://github.com/JupiterBroadcasting/jbot-showbot

# gammabot
* currently JB's Matrix bot we totally love
* is the natural successor to JBot
* code: https://github.com/JupiterBroadcasting/gammabot

[2022-07-25 17:07] gerbrent commented on #91
indeed!

And also for guests too - task added to top comment since I wasn't explicit about that feature. Oops!

The hosts page here is moderately a duplicate in functionality, since hosts are listed on the Show and Episode pages currently, but guests filtered to a specific show appear nowhere and is the main functionality I was picturing too.

Thanks for all this! Looking good,

[2022-07-25 17:14] gerbrent commented on #24
I can handle the content (or someone else if they are willing). @elreydetoda happy to have you work elsewhere, where your skills are multipliers!

[2022-07-25 17:30] #63 closed

[2022-07-25 17:42] #153 closed

[2022-07-25 19:03] #152 closed

[2022-07-25 22:12] elreydetoda commented on #158
So, I haven't gotten to work on #110 yet, but when I do I'll try and also take a look at this. There is probably an easier solution in the code we could do, like have an `aliases` or `nicknames` field which accepts all those variations. Then we could always identify that person in the future as well in case their url name (slug) changed again.

That's just off the top of my head though, I've got t

[2022-07-25 22:16] huntercross commented on #137
Love the show and network. Thanks for all of your hard work. Not sure how best to contribute design, or how this would be received, I realize it could be seen as a big departure, but Maybe this will get some ideas going! This definitely should not hold back the initial release.

Here are some ideas that use the general framework already output. One suggestion is to remove the logo on each show car

[2022-07-26 03:07] harriseldon commented on #136
The show pages already have the link. Are you expecting the contact page to open and autofill the show and episode?

[2022-07-26 03:10] harriseldon commented on #87
I created this pull request before I read your comment. It does not address it completely, but it does make it horizontal.
https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/179

[2022-07-26 03:16] CGBassPlayer commented on #87
It's all good. Just putting feelers out to see what's being worked on to prevent double work and actually get some experience with Bulma. I see your pull request tackled the links as well which is good too.

[2022-07-26 16:05] CGBassPlayer commented on #87
The icons for the links look great! But the hosts list looks a bit crammed on the Jupiter Extras page. Also some show pages the link icons are pretty spaced out. I will take what @harriseldon did and see if we can't polish it up a little bit

[2022-07-26 17:41] elreydetoda commented on #158
It actually looks like @kbondarev did some map for host already (probably for something else, but that means there is mapping logic in there :upside_down_face: ), we'll probably be able to do something like I was mentioning above then :grin:

https://github.com/JupiterBroadcasting/show-scraper/blob/9adc48d71962b5642f4d2c641d9409454e018383/config.yml#L39

[2022-07-26 19:22] reesericci commented on #173
I am personally fully supportive of this as I've also used Netlify on my sites. The main reason I'm supportive though is that it would allow me to deploy the serverless function for the live stream endpoint as detailed in #41

[2022-07-26 19:23] reesericci commented on #173
It would also manage the hosting and redeploys seamlessly.

[2022-07-26 19:27] reesericci commented on #139
I think that Netlify Forms is a simple elegant solution for creating forms on a static site. You just make a normal html form then add the "netlify" attribute and it automagically works.

[2022-07-26 22:09] elreydetoda commented on #173
While yes it could do that, I'd imagine it'd end up costing JB because of how much they'll probably need out of it. So, personally, I'd recommend them just stay with the model they have (GH actions + rsync) and netlify for deploy previews (and serverless functions (if that's possible with our setup)).

I think, at least personally I feel this way, just trying to keep as much that JB can host thems

[2022-07-27 03:37] harriseldon commented on #143
I did a quick experiment in developer mode. I took Brent's bio and applied it to Wes's and Chris's page. The ratio of picture to content matched and the 1/3:2/3 properly spread out to take up the entire card. I wonder if the is-one-third-tablet and is-two-thirds-tablet do not apply correctly depending on the amount of text.

[2022-07-27 14:05] aaronrea commented on #138
Howdy, this looks like something I could tackle. Probably easiest to create a partial for this section? If i understand how ya'll are passing the episode data around, I should just be able reference `.Params.podcast_alt_file`, etc, if not null.

[2022-07-27 15:54] gerbrent commented on #173
great thoughts!
Lets open up this discussion to @StefanS-O and @kbondarev ...

(also converting to a Discussion)

[2022-07-27 15:56] gerbrent commented on #169
great future feature request.

For Milestone 1.0 (assuming this isn't trivial), lets focus on what's essential, then entertain these other great ideas in a less deadline-driven environment.

[2022-07-27 15:58] TeamLinux01 commented on #169
Most of the ideas I have aren't going to be for milestone 1.0, but I like to express them anyways.

[2022-07-27 16:05] gerbrent commented on #168
It's a great question.

The intention here is to be more strategic and mindful of presenting a... dare I say... framework for other FOSS projects to easily duplicate our efforts in this area and apply it to their project. Perhaps an embedded V$V form is part of that effort. Perhaps documentation aswell on the entire dependency tree from node to boost.

[2022-07-27 16:12] gerbrent commented on #140
closing as the Wonderful @mitchdowney has very speedily addressed all the above. Amazing!

[2022-07-27 16:12] reesericci commented on #109
@gerbrent I need vector (svg) copies of the rocket logo to replace the Cloud & Mic.

[2022-07-27 16:15] gerbrent commented on #122
This particular issues is a great example of an ideal 2.0 Milestone enhancement. Marking as so.

[2022-07-27 19:25] simoncaron commented on #143
Looks like it's also an issue on mobile:

![image](https://user-images.githubusercontent.com/8635747/181355408-2f51ee4b-1176-469c-845d-b58a7d9466d4.png)

[2022-07-28 02:25] gerbrent commented on #143
As a (thus biases) photographer, can I just state my opinion that the photograph should *never* have it's height-width ratios modified? I mean... we're cropping people out of their own photographs! These ratios should be locked, and the photograph should never be cropped, only scaled.

[2022-07-28 02:32] gerbrent commented on #138
@aaronrea - happy to assign you to this - thanks!!

I'll let someone else answer your Q above - @kbondarev ? @StefanS-O ?

[2022-07-28 02:36] gerbrent commented on #167
I'm just gonna leave this here.......:

[The IPFS Protocol Explained with Examples - Welcome to the Decentralized Web](https://www.youtube.com/watch?v=PlvMGpQnqOM)

[What Is IPFS and Why Does It Matter in Brave's Web Browser?](https://lifehacker.com/what-is-ipfs-and-why-does-it-matter-in-braves-web-brows-1846103479)

[How does IPFS Impact my Privacy? – Brave Help Center](https://support.brave.com/

[2022-07-28 04:49] gerbrent commented on #159
I would be totally open to other options - it's literally the only thing on the entire site that's green - feels totally out of place to me. It also tends to clash with most of our show artwork...

You? What do you think?

Perhaps beginning to experiment w the blue in the Podverse player timeline....

[2022-07-28 05:02] gerbrent commented on #136
To be clear:

* there are indeed 'email' icons+links on *most* of the Show pages
* there are NOT any feedback method on Episode pages.

this feels like an acceptable Milestone 1.0 feature-set - but would be nice to have for Episode pages too.

![image](https://user-images.githubusercontent.com/7018928/181424518-442d6482-60c1-48a9-be8f-a906ffe9797d.png)

[2022-07-28 05:19] gerbrent opened #184 "Office Hours - no contact page on Fireside"
Seems [Office Hours](https://www.officehours.hair/) does not have a contact page.

Could be handy to have one! That we can subsequently link to in #

Need JB action!

[2022-07-28 05:21] gerbrent opened #185 "EXTRAS, Office Hours Show Page - missing buttons/icons/links"
The following buttons/icons/links are missing from Show pages compared to other Shows:

### [EXTRAS](https://jupiterbroadcasting.net/show/jupiter-extras/)

* [ ] "show notes" link > https://extras.show/
* [ ] "contact" link > https://extras.show/contact

### [Office Hours](https://www.officehours.hair/)
* [ ] "show notes" link > https://www.officehours.hair/
* [ ] "contact" link > https://www.offi

[2022-07-28 05:43] gerbrent opened #186 "home carousel - scroll arrow UX improvement"
reference/history: #174

I have a recommendation for UX improvement on the home page carousel:

#### Current behaviour:
* click the `>` arrow to scroll right. Since we don't know how many shows there are, we keep clicking... two clicks reaches the end of the carousel, third click registers as a click on Self Hosted Show, since the arrow vanishes before you really realize it.

#### Better behaviour

[2022-07-28 10:17] #138 closed

[2022-07-28 11:54] elreydetoda opened #187 "Vanity domains"
So, @thechangelog's website has a concept of a "vanity domain" (don't know if that's what it's actually called but that's how I've heard it 😅). It's not the domain for the show, but it's a short domain that they can share over the air or on social media sites (IIRC I think they initially did it because sites like Twitter used to count your URL length against your character count).

This makes it e

[2022-07-28 12:15] CGBassPlayer commented on #147
I can take care of this.

I do propose that the entire card is the clickable link for the Host and Guest pages as well as the Host cards on the episode pages. Reason being that then the user doesn't need to "find" the link in the card, they can just click the card as a whole to get to where they want to go.

[2022-07-28 12:31] reclaimingmytime commented on #171
Maybe we can create another dropdown "Support" that combines the links "Sponsors", "Boost!" "Garage Sale" and "Membership". That would solve the issue of too many links.

![image](https://user-images.githubusercontent.com/35609464/181505441-181de228-3aeb-4e7f-973f-576b5d23dad3.png)

[2022-07-28 13:37] aaronrea commented on #185
I can knock this out tonight

[2022-07-28 15:14] reclaimingmytime commented on #139
The current contact form at https://www.jupiterbroadcasting.com/contact/ is already using the external form builder Wufoo: https://jblive.wufoo.com/embed/w7x2r7/

This should also be compatible with Hugo. We could just iframe the page above, and not lose any functionality, while we find a different solution long-term.

[2022-07-28 15:34] gerbrent commented on #147
@CGBassPlayer you more accurately described my desired behaviour, since... somehow I left that out of my initial ticket description. Nicely done and exactly the intended behaviour!

[2022-07-28 15:38] reclaimingmytime commented on #139
All right, I'm going to create the page and work on a pull request ;)

[2022-07-28 15:42] elreydetoda commented on #171
Awesome idea @reclaimingmytime, although I do think we should keep Sponsors out of the support drop because that's listing all the people who sponsor JB.

If there was a "Sponsor Us" page with a form or something I could see that going under the Support list, but till then we should probably keep that one separate or have another category to group it under IMO.

Although it'd be good to get some f

[2022-07-28 16:11] reclaimingmytime commented on #139
I created the pull request #189

[2022-07-28 16:41] gerbrent commented on #187
related to #161

also less of an issue and more of an idea/discussion, so converting as so.

[2022-07-28 16:48] gerbrent commented on #171
grouping - helpful!

I'm hesitating on the top-level name "Support"
Perhaps since I'm trained on other tech websites, where "Support" means tech support, not financial support. This hesitation alone, at least in my little tiny imperfect worldview, would have me hesitate to investigate that menu.

Anyone else feel this way?

That being said, the category is super helpful to simplify the UI.

As far

[2022-07-28 16:50] gerbrent commented on #171
BUT!

I'm not sure this Sponsor grouping discussion actually solves the bug above. This ticket should probably focus on the solution to "Why isn't it hamburger-menuing?"

[2022-07-28 17:11] #139 closed

[2022-07-28 18:20] CGBassPlayer commented on #171
I think the reason is Bulma's view-port settings. If it's like other CSS frameworks, it does not switch to the hamburger menu until it reaches a certain size. The navbar is just running off before it switches the to the more mobile view.

I can think of 2 possible routes with this.
1. Use the [drop-down idea](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/171#issuecomment-11

[2022-07-29 01:01] aaronrea commented on #137
Does #183  suffice for `Cleanup links under description`?

[2022-07-29 01:10] aaronrea commented on #162
At first pass, the most reasonable spot for these links seems to be at the top of the `Shows` header menu, imho. Any thoughts?

[2022-07-29 01:37] aaronrea commented on #163
Twitch shouldn't be too difficult - [see here](https://github.com/cmendible/cmendible.github.io/blob/172983ce04bde899e8aceec55f4651aab87ef309/layouts/shortcodes/twitch.html)

Kiwi probably similar but I think it might be tied to some existing user account on the kiwi site.

Sounds like peertube integration will take a bit more work - probably milestone 2

[2022-07-29 02:22] reesericci commented on #186
I'll set it up in a way where the arrow persists but is greyed out as it's the easiest to implement.

--reese

[2022-07-29 02:23] reesericci commented on #149
Have it 301 redirect to a page on the site

[2022-07-29 02:33] reesericci commented on #164
I personally think the blue isn't distracting and it's very clear to the reader that there's a link there. The link color also falls in line with the JB brand guidelines.

--reese

[2022-07-29 02:37] reesericci commented on #159
I think there should be a section right above sponsors with two cards: the membership and jupiter party

[2022-07-29 02:38] reesericci opened #194 "Fonts"
Currently no font face has been chosen for the website. I believe this should be changed to align with the fonts specified in the brand guidelines

[2022-07-29 02:44] reesericci commented on #36
Just had a quick idea: The website should play a boost sound effect from @ChrisLAS 's soundboard after you boost into the show

[2022-07-29 11:02] elreydetoda commented on #162
If we do that, I think we should just treat it like a show then.

i.e. add it to the carousel, it has it's own page, and populate it with all the episodes (which could just be references to the other pages on the site (which'll be easier once we finish #110 (trying to finish that this week, but work has been a lot)))

One thing I'm actually curious about is, does the JB all shows feed have all epi

[2022-07-29 11:28] CGBassPlayer commented on #162
The all shows feed does seem to have archived shows in it.
![image](https://user-images.githubusercontent.com/34293941/181749593-e8bb3d78-57d4-4d8e-b3d3-8649c0bac795.png)

[2022-07-29 11:44] reclaimingmytime commented on #146
I think the behavior should be consistent with the other drop-down menus, currently "shows" and "community". These lead to an overview page with an appropriate image and a description, such as for the shows: https://jupiterbroadcasting.net/show/

But I'm not sure if such an overview makes sense for hosts and guests, since both are self-explanatory?

[2022-07-29 15:35] gerbrent commented on #146
They sure are self-explanatory.

I wonder if a solution might be to not have `People` be a link at all? That's likely more complex that necessary... this current behaviour is totally... acceptable. Just odd.

[2022-07-29 15:41] gerbrent commented on #171
I'm a laymen, but doesn't this seem like a low-effort, minimum consideration method of accomplishing this feature? I would expect a far more intelligent way to solve the problem as a standard - which likely has challenges I'm not seeing - would be to compare the current page width to the menu width. `if page-width < menu-width, then hamburgerize`.

I'm certainly missing something..... right?

[2022-07-29 15:45] #185 closed

[2022-07-29 15:51] gerbrent commented on #194
great idea - would love to see a preview to gauge if it would be appropriate, i.e. font choices for logos is very different from say... content fonts choices.

But a JB-appropriate font for the "Jupiter Broadcasting" menu item? That feels like an easy win, and I'm sure there are others.

[2022-07-29 15:54] gerbrent commented on #162
Oh yeah, that All Shows feed has been around *forever*.

I wonder if it's worth pondering a little strategy there..........

[2022-07-29 15:55] gerbrent commented on #162
Not a bad idea at all. Hmm! Worth pondering... thoughts anyone on why this might be troublesome or otherwise have unintended considerations?

[2022-07-29 16:18] gerbrent opened #195 "Community menu & page - local links should not open in new tab/window"
### Current behaviour
Links in the Community menu AND [Community page](https://jupiterbroadcasting.net/community/) that are to local pages i.e. `jb.net/community/matrix` when followed open in a new tab/window.

### Desired behaviour
local links should be followed in the current tab/window

Todo:
* [ ] change menu link behaviour
* [ ] change [Community page](https://jupiterbroadcasting.net/communit

[2022-07-29 16:22] gerbrent commented on #13
I've been lagging on this one, as mentioned in [LUP469](https://jupiter.tube/w/n9oSKDs6TVYrs8kv8xeZqx) (to be releases) and listeners are suffering for it.

Would someone else be willing to:

* [ ] update the Matrix info found at https://linuxunplugged.com/matrixinfo and populate ./community/matrix
* [ ] then JB can use that updated guide to update https://linuxunplugged.com/matrixinfo in turn
* [

[2022-07-29 17:16] #147 closed

[2022-07-29 17:24] CGBassPlayer commented on #171
To try and put it simply, the responsiveness of a website works around something called viewports. A viewport is a range of pixels between the breakpoints. Breakpoints are the hardcoded value that we use to generally say "Most phones are less than this size", "Most tablets are less than this size", etc.

Bulma has a very similar thing, hence why you can find the class `has-text-centered-mobile` on

[2022-07-29 17:56] gerbrent commented on #36
wes:

[2022-07-29 18:13] reclaimingmytime opened #198 "No favicon on jupiterbroadcasting.com"
Currently, jupiterbroadcasting.net does not have a favicon, which means the browser displays the default icon in the browser tab:
![image](https://user-images.githubusercontent.com/35609464/181819379-d08fcca7-7336-465d-8e46-bdbf517402f0.png)

For comparison, this is what jupiterbroadcasting.com currently looks like:
![image](https://user-images.githubusercontent.com/35609464/181819517-73b4f322-c5a

[2022-07-29 18:21] gerbrent commented on #164
Here's a side-by-side of what I mean by legibility:

On the left, this site. On the right: GitHub.
Very similar colour schemes, yet to my eye the right blue link colour is far more vibrant, contrasty, and thus more legible.

![image](https://user-images.githubusercontent.com/7018928/181821029-2bb4c919-052a-4317-8716-fbe728bfc1cf.png)

[2022-07-29 18:24] gerbrent commented on #198
great!

Note: the new favicon should be the JB Rocket

[2022-07-29 18:52] gerbrent commented on #164
another sample.
left = hugo, right = fireside

![image](https://user-images.githubusercontent.com/7018928/181825700-cfb4e531-806b-4972-b3c5-022a0c8fc907.png)

[2022-07-29 19:02] reclaimingmytime commented on #171
@gerbrent

True, it might seem that way. Maybe "Support Us" is more appropriate?

Regarding the breakpoints of the hamburger menu:  Setting a new breakpoint now would mean more work whenever we add or remove items. I believe the live page still needs to be added as a link the header, as an example. One route to go here would be to set the breakpoint width once the menu items are final.

As for the

[2022-07-29 19:51] #13 closed

[2022-07-29 19:53] #9 closed

[2022-07-29 19:56] gerbrent commented on #171
Another option:

*Always* present the hamburger menu w a large subset of items.
Not sure how easy that is technically.....

[2022-07-29 21:03] CGBassPlayer commented on #157
Just wanted to throw in the "Friends of Jupiter Broadcasting" Host that is a host for an old out takes clip in [Jupiter Extras  9](https://jupiterbroadcasting.net/show/jupiter-extras/9/). My guess is it would need a similar decision of what to do with it

[2022-07-29 21:06] CGBassPlayer commented on #164
It almost seems like the links on the Hugo Site require more effort to read because the grey background has way more blue in it. I am not exactly sure how to describe it.

[2022-07-30 01:50] elreydetoda commented on #195
Dang, sorry @gerbrent  I though I'd done that 😅 if someone doesn't pick that up by tomorrow I can do it if you want.

Or we could leave it to someone else since you put a "good first issue" label?

[2022-07-30 01:57] elreydetoda commented on #162
Only thing that I could think of, if we do it exactly the way I described, where it lists out all the shows but when clicked it goes to the actual link for the show.

i.e. the breadcrumb would say Shows > Self-Hosted > (self-hosed-episode-title)

So it would break the expected behavior (based on all the other shows) that it leaves a breadcrumb back to the all shows feed. Which honestly I don't thi

[2022-07-30 16:41] kbondarev commented on #164
How about this (I basically switched the color of the link and the color of the link-on-hover):

![image](https://user-images.githubusercontent.com/7744333/181933372-43bbecd4-12ef-411e-88f9-ef1fb3ad7c42.png)

[2022-07-30 17:38] kbondarev commented on #159
It is my fault :see_no_evil:
I made the `success` color (which is used for the button) this neon green (JB randing color from choose-linux) and that changed it like it.

[2022-07-30 17:43] Lord0fBytes commented on #159
Tisk tisk 😋. I am changing the color of the button to that blue color from the podverse and will use a custom bulma sass file for it to help with the branding of all the buttons.

[2022-07-30 17:45] kbondarev commented on #159
@Lord0fBytes I already modified it, see #201

[2022-07-30 17:54] kbondarev commented on #158
Yes, that map is used for exactly that. Will need to identify all the guests with with multiple usernames/stubs and add them all to that map.

[2022-07-30 23:56] reesericci commented on #194
I think that the JB menu item should be a logo image imo.

[2022-07-30 23:57] reesericci commented on #194
Because of this, the font changed from device to device depending on the default sans serif font.

[2022-07-31 16:34] #164 closed

[2022-07-31 16:35] #159 closed

[2022-07-31 20:12] kbondarev commented on #158
@gerbrent
- #202 fixes this to an extent - It removed all the duplicates you've mentioned above (+  a few more that I've found).
- The actual content of the files should be consolidated. This should still be done here in #75 as described in [here]. (https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/72#issuecomment-1179765579)

- In terms of the show-scraper:
  -  This was achie

[2022-07-31 20:17] kbondarev commented on #72
**Important:**

Any file that will be manually edited (basically merged/consolidated from multiple variant files) should be added to the `data_dont_override` list in [the config.yml of the show-scraper](https://github.com/JupiterBroadcasting/show-scraper/blob/main/config.yml)

[2022-07-31 20:18] #158 closed

[2022-07-31 21:30] CGBassPlayer commented on #148
This issue can be closed. The second task was completed with #199

[2022-07-31 21:48] CGBassPlayer commented on #87
Unless there is something else that we would like done to the host listings, I think this issue can be closed.

[2022-08-02 15:11] gerbrent commented on #159
@kiro, that feels SOOOOO much better! Nicely done

![image](https://user-images.githubusercontent.com/7018928/182409201-55f3a942-918e-4bb9-927b-71e83660d07d.png)

[2022-08-02 15:13] #148 closed

[2022-08-02 15:15] gerbrent commented on #195
@elreydetoda - it's all yours.

I typically put that label on relatively trivial changes to encourage/facilitate newcomers to contribute, but that's no reason to hold up progress!

Feel free to take this one.

[2022-08-02 15:21] #87 closed

[2022-08-02 15:23] gerbrent opened #205 "JB menu item - should be the JB logo image"
_Originally posted by @reesericci in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/issues/194#issuecomment-1200315126_

[2022-08-02 15:23] gerbrent commented on #205
@reesericci - interested in this one then??

[2022-08-02 15:32] elreydetoda commented on #195
Awesome, I'll try and get to that tonight since it's just a small logic change.

[2022-08-02 15:35] gerbrent commented on #198
I'm not seeing this applied to either Firefox or Brave - any thoughts on why?

[2022-08-02 15:37] #24 closed

[2022-08-02 15:40] #2 closed

[2022-08-02 15:49] gerbrent opened #206 "Show contact links - point to ./contact"
Now that we have a contact page thanks to #139, I believe it would be logical to point the Show pages to have the "Contact" link point to `https://jupiterbroadcasting.net/contact/` instead of, say, `https://coder.show/contact`

it would mean:
* losing the functionality of having the show be auto-chosen for feedback (listeners would have to explicitly choose say Coder Radio from the dropdown menu)

[2022-08-02 16:04] reclaimingmytime commented on #198
Yes, there seems to be an issue with embedding the favicons. It seems like the favicons were uploaded to the server, but they have not been embedded properly.

The browser console shows the following:
[code]

I have updated the links in pull request #207.

[2022-08-02 20:48] reclaimingmytime opened #208 "Verify HLS Stream URL"
The [live page](https://www.jupiterbroadcasting.com/1030/jblive/) currently links to an HLS Stream:
http://jupiter-hls.secdn.net/jupiter-channel/play/jupiter.smil/playlist.m3u8

VLC shows the running time as "00:00" and doesn't start the stream, even as a live stream is going right now (Office Hours).

I've never used an HLS stream before, so it could just be me. So, it would be great if someone w

[2022-08-03 22:52] reesericci commented on #205
Sure!

[2022-08-04 01:04] gerbrent opened #210 "IRC in menu, Community page, footer - leads to a bland page"
the "IRC" menu item AND card on the [Community page](https://jupiterbroadcasting.net/community/) AND footer item leads to an irc-dedicated page at https://jupiterbroadcasting.net/community/irc/

This page is rather bland.

#### We should either:

A. link directly to [Kiwi IRC](https://kiwiirc.com/client/irc.geekshed.net/?nick=JBLive_?&theme=cli#jupiterbroadcasting)

or...

B. link to the Live! pag

[2022-08-04 01:19] gerbrent opened #211 "Community Page - platform titles misaligned"
The titles of each platform on the [Community](https://jupiterbroadcasting.net/community/) page sit at inconsistent height within the respective cards. I.e. the `Peertube` title is higher in it's card then the `Meetup` title in it's card.

This appears to be dictated by description length, pushed to the bottom of the card as a priority.

### Expected Behaviour
I would expect the titles to all hold

[2022-08-04 01:26] gerbrent opened #212 "Community Page - combine Network and Self-Hosted communication methods"
The [Community](https://jupiterbroadcasting.net/community/) page features two sections currently - `Network-wide` and `Show-specific` communications methods.

Considering there is only one item in `Show-specific` i.e. the SSH Discord - I feel we can simply combine them and mention Self-Hosted in the Discord's description instead.

Simpler, more visually appealing, and the Community sub-menu and fo

[2022-08-04 01:29] gerbrent commented on #195
note: added the [Community page](https://jupiterbroadcasting.net/community/) to this ticket aswell - same issue is present for the cards there.

[2022-08-04 01:44] gerbrent commented on #198
I should have spoken up sooner - sorry about that @reclaimingmytime :

The Rocket logo shouldn't be smooshed - it should *always* keep it's proportions, no exceptions. The answer here, then, is to simply place the JB Rocket within a square frame. If you need a vector file for the Rocket, I can likely provide one. Just DM me on Matrix please..

![image](https://user-images.githubusercontent.com/701

[2022-08-04 01:46] gerbrent commented on #205
If you need a vector of the Rocket or the logo let me know (via DM on Matrix)

[2022-08-04 03:04] reesericci commented on #186
Fixed with #213

[2022-08-04 03:06] reesericci commented on #34
Blocked by #41

[2022-08-04 03:42] gerbrent opened #215 "scraping schedule methodology"
Currently scraping is happening twice daily - at midnight and noon. ([code here](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/51a131f79363b2769f1b7343edf8deb6659732e9/.github/workflows/scrape.yml#L7))

Considering JB shows typically get published...:

* LUP - 1700-2200 JBT
* Office Hours - 0000 JBT
 --
* Coder - 0300 or 0530 JBT, mostly...
* LAN - 0300-0900 JBT
* SSH - 0300-

[2022-08-04 03:50] elreydetoda commented on #110
Alright, so an update on this...I've just made the PR this morning for the scraper to get the functionality to handle placing all the people & sponsors in the `content/` folder instead of the `data/` folder. @kbondarev messaged me letting me know he'll review it when he gets a chance, so once we figure out if everything will workout then we should be good from that perspective.

https://github.com

[2022-08-04 04:17] #195 closed

[2022-08-04 04:26] elreydetoda commented on #215
So, for this I actually think there's a pretty easy solution. I figured that since we have the [workflow_dispatch event](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/51a131f79363b2769f1b7343edf8deb6659732e9/.github/workflows/main.yml#L12) on our GH action already there has to be a way to trigger that from the API...and there is :grin:

I found this [SO](https://stackoverflow

[2022-08-04 04:27] gerbrent commented on #195
done! nicely accomplished..

also done! I had some strange behaviours on this one w caching..... just a note for future testers.

[2022-08-04 04:29] gerbrent commented on #215
I was hoping you would say this! ; )
Great solution, and easy for us (read: Wes) to implement....

@noblepayne

[2022-08-04 04:34] elreydetoda commented on #215
Also something to consider (since you'll be running the action more often most likely) is that you might run into GH Action usage limitations. I don't know what kind of plan JB is on, but here is the pricing for GH actions: https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions

They're pretty good, especially since it only takes a minute or two for

[2022-08-04 04:35] gerbrent commented on #110
This feels like both a @kbondarev and @StefanS-O set of eyes/thoughtfulness would be appreciated....

[2022-08-04 04:42] gerbrent commented on #215
Looks like GH free is `2000 minutes/month`

Quick calcs at current rates w extremely conservative numbers:
* API-based publish-time runs: 3 minutes per run * 6 shows * 4 episodes/month = 72 minutes
* cron-based runs: 3 minutes per run * 2 runs/day * 31 days = 186 minutes
-----------
grand total usage estimate: 258 minutes.
remainder/buffer in free plan: 1742 minutes.

I think we'll be good for a w

[2022-08-04 04:51] elreydetoda commented on #215
Ya, like I said I'd imagine it wouldn't be an issue :upside_down_face:  but something to keep in mind. Because I can't remember if that limitation is for this specific repo or all repos that a person/team owns. i.e. does it also count toward the 2000 for if we added CI to the scraper repo, or is that a separate bucket of minutes?

[2022-08-04 04:59] elreydetoda commented on #91
I don't know if I mentioned this ( I thought I did, but don't see a comment :sweat_smile: ) I'm waiting to do the guest part till after I do #110, because it'd be really hard to implement that functionality (filtering down to specific show for guests) with the way we use the `data/` folder now.

[2022-08-04 05:24] gerbrent opened #216 "docs - docker dev environment setup - needs updating"
currently our README states:

Likely due to changes from #170 , our basic introductory documentation on how to use Docker is quite problematic....

[code]

Would be lovely to update the documentation/README to help make the process seamless.

[2022-08-04 12:40] elreydetoda commented on #186
So, I don't know how this is possible, but if you try and click on the arrow now it'll still click through to the episode...Is that only for me or does that happen to other people?

[2022-08-04 12:44] elreydetoda commented on #216
Oh, sorry I either thought I'd updated that or thought it said `make dev` :sweat_smile:

This could probably be done by someone as a good first issue, because all they have to do is change the MD from `make run` to `make dev` and then everything should work :slightly_smiling_face:

[2022-08-04 14:16] gerbrent commented on #216
Done.

Can someone confirm that is the only required change to our dev setup documentation please?

[2022-08-04 14:23] gerbrent opened #217 "docker makefile - error on run"
I get the following when running `make dev`

[code]

this if statement is a direct cat of what's in the `Makefile`. Doesn't seem like the desired behaviour....

likely related to changes performed in #170

[2022-08-04 14:27] gerbrent commented on #186
ok great, just noticing here the new PR #213 doesn't solve the initial behaviour for me... still flows to the show on click to the greyed out arrow.

But! I like the arrow itself ; )

[2022-08-04 14:34] reesericci commented on #186
Just submitted a PR to fix the issue: #218

[2022-08-04 14:41] kbondarev commented on #215
@gerbrent meanwhile, before the API is implemented you can also trigger the action manually by clicking the "Run Workflow" button:

![image](https://user-images.githubusercontent.com/7744333/182875400-c42b4cfa-5db4-4357-9759-1f2a26887511.png)

[2022-08-04 14:51] reesericci commented on #106
It would be cool if the show artwork was used as a "header background" kinda like this:

![image](https://user-images.githubusercontent.com/19589006/182877744-82e414ef-0d9d-4c57-ab99-7bc2cc82706a.png)

(that was a _very_ quick mockup)

[2022-08-04 15:13] gerbrent commented on #198
from our branding guidelines (can send you a copy if you ask me for it directly)

![image](https://user-images.githubusercontent.com/7018928/182882981-682aa91b-8f13-4e43-9ec3-c82f9e90c983.png)

dark mode version:

![image](https://user-images.githubusercontent.com/7018928/182883028-7d50119f-45c9-458f-b3db-6a18125f133e.png)

[2022-08-04 16:19] gerbrent commented on #186
Amazing - works nicely now.

Could we explore some tweaks?

* The arrow certainly becomes greyed out now and when clicked, does not lead to an inadvertent click ✔️
* When greyed out, there is still a space to the outside edge of the arrow that IS clickable, and thus trips me up a little with slightly innacurate mouse placement.

Could we increase the space where the arrow overrides the clickabilit

[2022-08-04 16:22] reesericci commented on #186
I have no idea how to do that but I'll look into it.

[2022-08-04 16:28] gerbrent commented on #186
haha, oops...... sorry. Low priority ; )

[2022-08-04 16:50] gerbrent opened #219 "design - convert JB branding vectors from Adobe formats into open formats"
We would **looooove** to have someone help convert some proprietary .ai and .indd design files into open formats (svg, etc). This would likely be a batch operation, and you can work closely with me to get access to the files.

Marking as high priority since this is coming up again and again as a barrier to progress.

[2022-08-04 17:45] reesericci commented on #219
I was able to get all the rocket logo files over to svg! (@gerbrent has them now)

[2022-08-04 18:11] reclaimingmytime commented on #198
@gerbrent Sure, I agree the correct aspect is preferable. I will message you on Matrix regarding the SVG of the rocket.

[2022-08-04 18:58] reesericci commented on #205
PR submitted! #220

[2022-08-04 19:26] reesericci commented on #26
Typesense might be a good option

[2022-08-04 19:30] reesericci commented on #162
All Shows isn't a show, and shouldn't be treated as such from a UX perspective.

[2022-08-04 21:42] reesericci commented on #194
Acumin Pro is the font specified in the guidelines - and it's suitable for the site, but according to @gerbrent JB doesn't have a copy of it.

[2022-08-04 21:48] reesericci commented on #154
Should BSD Now still be listed? I don't see why it should if it still runs without the JB Banner.

[2022-08-04 22:03] #205 closed

[2022-08-04 23:18] reclaimingmytime commented on #198
@gerbrent

Just to make sure: The favicon should also include the text "Jupiter Broadcasting"? I was going to crop the text "Jupiter Broadcasting" from the logo and just keep the rocket, because that's easily recognisable, even at 16x16px.

[2022-08-05 00:35] reesericci commented on #210
I think personally that a menu item should link externally to Kiwi

[2022-08-05 00:38] reesericci commented on #206
The link on the show page could pass a url query parameter which could be parsed with some JS to automatically fill the form with the right show.

[2022-08-05 02:32] gerbrent commented on #198
Chris says: Just the Rocket!

[2022-08-05 03:01] CGBassPlayer commented on #143
The only thing with that is we loose uniformity in the cards. I think for this page, it will be fine. But we should be careful when we have multiple cards on a screen. Having card images different ratios could really ruin the look of a site.

Just throwing a different perspective on this

[2022-08-05 03:24] elreydetoda commented on #217
Ya...that's interesting, it's the first time I've made a Makefile, so I'll investigate this after #110.

Did it still work properly? Like did hugo start serving the pages?

[2022-08-05 03:27] gerbrent commented on #122
Hey all!

Chris, Wes and I did some (sloppy) experimentation on the Live page and embedded a peertube stream.
I was hoping someone could go in and clean up my (sloppy) work in making the peertube embed our preferred embed.

#### What I did
I commented out the twitch iframe in the twitch partial and pasted the peertube iframe instead.

#### How it should be instead
....better ; )

code:
themes/jb/l

[2022-08-05 03:37] gerbrent commented on #217
On one system (known good hugo dev system) - yes.
On another (new-ish KDE NEON install; docker, hugo installed.) - no:

[code]

[2022-08-05 04:10] gerbrent commented on #154
@StefanS-O proposed that we create a separate repo and hugo instance for the JB Archive with a few distinct advantages:

* build times for the main JB site would be independent of the archived shows, i.e. likely 2x the speed of consolidated builds
the Archive repo can be experimented on without impacting the main JB repo
* Hosts and Guest entries/profiles would be duplicated, but can be an advanta

[2022-08-05 04:12] gerbrent commented on #154
BSD Now is an important part of the JB Network's history, and we are happy to list it in the JB Archives. (hoping that answers your Q.)

[2022-08-05 04:16] gerbrent commented on #205
nice!

[2022-08-05 04:19] gerbrent commented on #143
that's a very good point, and totally agree. Open to suggestions on how to solve this one. Anything better than the current situation is welcomed ; )

[2022-08-05 04:23] gerbrent commented on #143
Perhaps an acceptable compromise could be a square crop viewport with one side always maximizing the photograph's dimensions?

i.e. given a 500wx750h photograph, it gets cropped to 500x500 or the equivalent ratio.
i.e. only one dimension is ever cropped.

[2022-08-05 04:43] gerbrent opened #221 "scraped episode link markdown not rendered correctly"
See https://jupiterbroadcasting.net/show/linux-action-news/250/

#### Behaviour
One of the links on this particular episode renders as:
 ``[Bug #1974196 “Installing libudev1 on a new Jammy installation"](https://bugs.launchpad.net/ubuntu/+source/apt/+bug/1974196 “Bug #1974196 “Installing libudev1 on a new Jammy installation”")``

 #### Expected
 The link should be formatted as the others, namely:

[2022-08-05 04:45] gerbrent commented on #221
![image](https://user-images.githubusercontent.com/7018928/183003277-364c5c3c-08d0-461f-b380-b79b2d9ecb2a.png)

[2022-08-05 11:35] elreydetoda commented on #217
Interesting...it worked perfectly fine on my OS with docker...I guess we're on different versions or something, alright I'll see what I can do with that...😞😅

[2022-08-05 11:37] elreydetoda commented on #221
That's an interesting one...🤔

[2022-08-05 12:04] ghost opened #222 "[Coder Radio] Episodes 1-54 Missing"
I think this was mentioned in a show once regarding why these episodes aren't in Fireside (something about a migration from a different podcast hosting provider).

Looks like the audio files no longer exist on Libsyn (which looks like what was used prior) for these episodes, but the video does.

[2022-08-05 12:19] Lord0fBytes commented on #206
I think this is even easier with WuFoo. They allow URL pre-loading in their forms. @gerbrent if you can get me the API_IDs I can test this out to see if the URL modification will work for our purposes.
Source: https://help.wufoo.com/articles/en_US/kb/URL-Modifications

My idea is that we use the contact link like this: `https://jblive.wufoo.com/embed/w7x2r7/def/field1=coder-radio` (where `field1`

[2022-08-05 12:26] Lord0fBytes commented on #171
So I actually have a half baked solution to this in a dead branch. It would resize the links into the hamburger menu as the page size shrunk. It worked nicely, but I abandoned it because it used JS and I heard we were trying to limit that on the site.
I can always bring it back and implement it if that sounds like a better solution. It would make the site a lot more dynamic with sizing.

[2022-08-05 15:37] gerbrent commented on #217
let me know if you need help/input!

Afterall, isn't the whole point of a docker dev workflow to be system agnostic? (Nix, where are you?! ; )

[2022-08-05 15:42] gerbrent commented on #206
LOVE this. Stay tuned....

[2022-08-05 15:47] Lord0fBytes commented on #143
OK, I fixed the horizontal (desktop viewport) layout issues. There was missing line in the CSS.

I am still working on the mobile version though. I believe the reason this is happening is because we strode away from the core design of what Bulma uses for the cards a little bit. Basically we are using an empty div with a background image for the picture. So when it goes below a minimum height it is

[2022-08-05 15:54] gerbrent opened #223 "hosts - promote certain hosts to "retired/archive" status"
I will admit I forget our strategy for this particular use case.

The following Hosts should be "retired" or "archived" - i.e. not present on the Hosts page, since they haven't hosted any episodes on the JB network in quite some time (years):

* [x] Elle
* [x] Allan
* [x] Chz
* [x] friend of JB

[2022-08-05 15:55] gerbrent commented on #223
Also aware that perhaps a bit of documentation around these use cases would be helpful.

Almost a JB Usage Manual if you will.....

[2022-08-05 15:57] gerbrent opened #224 "footer, Community - add github repo links"
We should add the https://github.com/JupiterBroadcasting/jupiterbroadcasting.com repo link:

* [x] in the footer,
* [x] also in the Community page.
* [x] consider linking to other JB issue trackers - i.e.  jupiter.tube and Matrix

[2022-08-05 16:01] gerbrent opened #225 "footer - meta-issue"
A place to collect tasks around the footer.
I'll start:

* [ ] #224
* [ ] consider which other info/link are appropriate for the footer
* [ ] visually organize links (currently very left weighted)
* [ ] ...

[2022-08-05 16:21] gerbrent opened #226 "Episode page - hosts/guests layout change"
JB has suggested it would be really great to change the layout of the hosts on Episode pages. We should also consider guests in this scenario..

#### Currently
Hosts (and guests) currently occupy a large vusal weighting in the first "page" of episode pages, pushing Episode Links far down the page.

#### Preferred
It would be great to see Hosts take less visual space to allow Episode Links to rise

[2022-08-05 16:21] gerbrent commented on #106
* [ ] #226

[2022-08-05 17:29] reclaimingmytime commented on #224
We might also want to link the other JB issue trackers, like for jupiter.tube and Matrix:

https://github.com/JupiterBroadcasting/jupiter.tube/issues
https://github.com/JupiterBroadcasting/matrix/issues

[2022-08-05 17:55] CDEguia commented on #224
I second this one, I heard the new Office Hours 9 and went to https://jupiterbroadcasting.net/ to look for the link to the github page, sadly I couldn't find one.

[2022-08-05 18:37] gerbrent commented on #224
K, will add it right away

[2022-08-05 19:03] gerbrent commented on #224
closed by #227 227

[2022-08-05 19:44] Lord0fBytes commented on #143
OK, so I fixed this but I also modified the layout a little bit.
Let me know what you think but I adjusted the layout to be 2/3's page for 'host card' and 1/3 for shows. This helps with the aspect ratio of the photos a lot. It's also responsive so if you dont want this it will still maintain the aspect ratio with a half split.

![Screen Shot 2022-08-05 at 3 35 42 PM](https://user-images.githubuser

[2022-08-05 20:13] Lord0fBytes commented on #145
@elreydetoda If you are still working on this one, I updated the hosts page in PR #228 to adjust the layout and aspect ratio of the cards. Feel free to copy the layout for the guests or let me know if you want some help.

[2022-08-05 22:40] reclaimingmytime commented on #171
@Lord0fBytes I'm curious to see what you came up with. Can you mention the branch where you made the change?

[2022-08-05 22:55] reclaimingmytime opened #230 "Image metadata does not exist"
The `head` contains some `image` metadata:
[code]
The URL https://jupiterbroadcasting.net/images/jupiter-broadcasting.png does not exist.

[2022-08-05 22:57] reclaimingmytime opened #231 "Minify CSS"
The CSS file is currently not minified.

We might consider using the Hugo [asset minification](https://gohugo.io/hugo-pipes/minification/) feature for the CSS file as well.

Edit: It looks like the CSS is already being minified once Hugo is "in production" (maybe a config variable is changed, but I couldn't reproduce that).
https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/t

[2022-08-05 23:27] reclaimingmytime commented on #210
I think besides linking an IRC web client, we should list the IRC details on the community page. People new to IRC can easily join, and someone with an existing IRC client can see the necessary IRC details.

Maybe we can make the existing link a prettier button and include the IRC details from the live page.
![image](https://user-images.githubusercontent.com/35609464/183223178-fd242cee-45ff-40b9-9

[2022-08-05 23:38] gerbrent commented on #230
I believe these are residuals from the Space background we used to have.....

[2022-08-06 04:32] StefanS-O commented on #230
These images get displayed when somebody posts a link on social media. I have to restore the Image, but i also want to make it configurable per page

[2022-08-06 05:12] xPMo commented on #225
Currently, the community pages are pulled into the left column of the footer. But since community and the rest of the header is always on the page when scrolling, I suggest cutting out the footer completely, or at least trim it heavily. If anything, make it a single-row list (kind of like Github's footer)

Suggestions for the footer:
- This Github repo
- Contact (move/copy from header)
- Archive (

[2022-08-06 05:50] xPMo commented on #221
Dug into it, it's an html2text bug with `&quot;` in the link title. Minimal reproduction:

[code]

[2022-08-06 08:18] reclaimingmytime commented on #163
It seems like there's an issue with the embedded IRC. Sometimes, when I try to connect by clicking on "Start...", I get `Error Connecting (Error: xhr poll error)`.
![image](https://user-images.githubusercontent.com/35609464/183240226-25cec6e9-6b25-49ec-aa5d-058bf9e57823.png)

The browser console shows a 502 error, which is a server-side issue. Before that, I'm getting the error `Access to XMLHttpR

[2022-08-06 11:30] #143 closed

[2022-08-06 13:07] elreydetoda commented on #145
That sounds good, thanks @Lord0fBytes , I'll be sure to checkout the hosts page and match them. 😁

[2022-08-06 13:33] elreydetoda commented on #221
So @xPMo , can you think of any to fix this besides just stripping out the html encoded version of the quote?

I guess we could convert it to be the html encoded version of the single quote  `&#39;` ([src](https://stackoverflow.com/a/2428594)) instead?

[2022-08-06 13:43] reesericci opened #232 "Contact Page looks awful"
The contact form page has no styling and is an iFrame of a 3rd-party service. It should be set up where the form is hosted on the JB site with all the JB styling and then submits the results with the `action` parameter to a 3rd-party API which processes the form and sends an email or whatever.

[2022-08-06 13:50] reesericci commented on #232
Why does the upload an image field exist if nobody is supposed to use it?

![image](https://user-images.githubusercontent.com/19589006/183251751-5b8e3f13-42d6-4b85-a494-38d1860c3271.png)

[2022-08-06 13:57] reesericci commented on #163
The kiwi next client feels exactly the same to me - I don't see any problem using it on the site.

[2022-08-06 13:58] reesericci commented on #219
The artwork still needs to be converted over though - right?

[2022-08-06 13:59] reesericci commented on #223
Maybe list them in a seperate "Hosts" page under the archive?

[2022-08-06 14:05] aaronrea commented on #163
I think there's a header we can set to get around that. I'll try to look in to it this weekend

[2022-08-06 14:10] reesericci commented on #232
https://bulma.io/documentation/form/general/

[2022-08-06 14:30] gerbrent commented on #232
I love the frankness of this issue title ; )

[2022-08-06 14:33] gerbrent commented on #221
We could also simply.... not use quotes if that's easier.

Could scrape the scrapped data for quoted links and scrape them out of there. Unless that idea is scrap.

[2022-08-06 14:37] gerbrent commented on #143
looks good!

[2022-08-06 14:39] gerbrent commented on #219
If by "artwork" you mean all of the show artwork, then... yes. We have alot of assets that could use a conversion.
This issue will be closed once satisfied ; )

[2022-08-06 14:42] gerbrent commented on #219
Added more specifics to the top comment via todo list..

[2022-08-06 14:46] gerbrent commented on #225
great ideas!

[2022-08-06 14:50] reesericci commented on #198
It's working for me!

[2022-08-06 14:58] gerbrent opened #233 "Live page - why a separate config/site?"
The menu, footer at https://jb-live.jupiterbroadcasting.net/ differ from the main Hugo site.

This leads me to question:
* Why is the Live page necessarily a separate hugo site?
   * seems this would only add to inconsistencies..

i.e. we have a dedicated [config.jb-live.toml](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/config.jblive.toml) - is that really necessary?

[2022-08-06 15:01] gerbrent commented on #233
added to #233

[2022-08-06 15:02] gerbrent commented on #208
added to #233

[2022-08-06 15:13] xPMo commented on #221
I made an issue upstream, and might make a PR too.

I'd be reticent to hack a post-conversion fix. I have an idea that might work but it might cause breakage elsewhere. I don't know how the scraper works, if we just fix it manually, will it overwrite it?

If not, an exeptions list for the scraper might make it easier to address future one-offs.

[2022-08-06 15:15] gerbrent commented on #145
In the Hugo spirit of "everything only exists once" - is there a different way then to define the Host and Guest pages to always be identical in functionality?

[2022-08-06 15:19] elreydetoda commented on #145
Ideally...yes, but I'll need to check in the code (on mobile now) to see what's currently prohibiting that from happening now.

The only thing that I could think of is if the keys in the json are different. Even so, we should be able to handle that just not as easily if they were the same.

I'll work towards that with this issue though.

[2022-08-06 15:29] gerbrent commented on #157
this seems to have been fixed magically.

[2022-08-06 15:29] #157 closed

[2022-08-06 15:35] gerbrent opened #234 "Episode page Direct Download - Video leads to Scale Engine. Problematic?"
On Episode pages (i.e. [LUP466](https://jupiterbroadcasting.net/show/linux-unplugged/466/)) the `Direct Download: Video` link leads to `http://201406.jb-dl.cdn.scaleengine.net/linuxun/2022/lup-0466.mp4`

#### Question

Will this Scale Engine link break in the JB 1.0 Milestone publishing, as in when we transition away from the current Scale Engine-hosted JB website?

[2022-08-06 18:18] reesericci commented on #232
Imo this is important for the 1.0 milestone to properly create a consistent contact form.

[2022-08-06 18:19] reesericci commented on #232
I'd be willing to work on it if I know what API I'm tying into.

[2022-08-06 18:19] reesericci commented on #231
Can I close the issue since it's being minified in prod?

[2022-08-06 18:34] elreydetoda commented on #231
Ya @reclaimingmytime, I implemented that so it's easier to debug styling and such locally, and it is controlled by a variable during the deployment.

Here is the line in the code where the minification happens:

https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/themes/jb/layouts/partials/head.html#L7-L20

And in the GH action I modified it to be in "production" mode i.e. her

[2022-08-06 18:35] reesericci commented on #194
Here's the link to where to purchase Acumin: https://www.fontspring.com/fonts/adobe/acumin-pro

[2022-08-06 18:37] elreydetoda commented on #231
If you want to use it locally just do the ` --environment prod` it locally when you do your hugo serve

[2022-08-06 18:58] FriarTech opened #235 "Calendar - google captcha, possible problem"
When I'm on my desktop - calendar on the new site works perfectly.  Having a problem on my mobile device getting past the google captcha.  Anyone else having this problem?  Or just me and my phone?

[2022-08-06 19:04] reesericci commented on #234
If this does cause a problem, Linode's S3 Object Storage could be a good replacement

[2022-08-06 19:16] elreydetoda commented on #231
Feel free to re-open if you think you need to @reclaimingmytime , but I'm going to close this.

[2022-08-06 19:24] Lord0fBytes commented on #211
I can work this one @gerbrent if you want to assign it.

[2022-08-06 21:37] reclaimingmytime commented on #233
I agree, I would also prefer the live page to be part of the main page.

When switching between both sites, the change of the menu items in the navigation becomes confusing and you need to find your orientation again on the new page.

[2022-08-06 22:52] reesericci commented on #235
I haven't seen any captchas at all when trying to view the calendar

[2022-08-06 22:53] reesericci commented on #235
Can repro on my iphone 13 mini

[2022-08-06 23:03] reclaimingmytime commented on #231
@elreydetoda I believe there's a typo in the [GitHub Actions config file](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/.github/workflows/main.yml#L22) you linked. The correct parameter seems to be `--environment production`, not `--environment prod`.

Currently, the stylesheet on jupiterbroadcasting.net is not minified:
[code]
It's also not modified on my local system w

[2022-08-07 03:39] gerbrent opened #238 "Pagination on mobile - inconsisten layout of pagination navigation buttons"
On mobile, the pagination navigation buttons `8` and `9` are strangely offset, or uncomfortably centered. They just... don't feel natural nor pleasing to the eye.

[2022-08-07 03:43] gerbrent commented on #238
![image](https://user-images.githubusercontent.com/7018928/183274186-4a3be122-994f-4086-af18-814e976a3048.png)

[2022-08-07 03:52] gerbrent opened #239 "footer JB logo - blurry, replace with SVG"
The current logo in the footer is rather low quality. It would be lovely to replace it with an SVG, similar to what has been done in the menu via #220.

I attempted the simply duplicate the svg viewbox from `config.toml` however... it got me thinking about Hugo philosophy of "everything only exists once."

So: is there a better way to implement this such that both JB logos/svg are, in fact, only d

[2022-08-07 03:53] gerbrent commented on #239
@reesericci since you authored #220, would you be interested in exploring this one?

[2022-08-07 03:59] gerbrent commented on #235
hmm!

I attempted to reproduce this on my mobile, with and without a self-hosted VPN known to occasionally be problematic in similar ways (happened on a different site almost identically just this week...) and yet was not able to reproduce.

[2022-08-07 04:01] gerbrent commented on #235
@FriarTech - you mention the following:

Are you suggesting that once the CAPTCHA appears, you are unable to navigate past it? If so, could you describe that issue further?

[2022-08-07 04:21] reesericci commented on #239
yeah sure

[2022-08-07 04:26] duckunix commented on #238
It is working for me on a Pixel 5a running Android 12 under both Firefox and Chrome:
![Screenshot_20220806-232249](https://user-images.githubusercontent.com/60646/183275255-b45b0b4c-1714-40dc-a401-c3a8913027f0.png)

[2022-08-07 05:40] elreydetoda commented on #231
Huh...I guess they changed something in hugo then...that's worked for me with previous projects...looks like you're right though it's production.

I actually looked at the hugo source code and actually we don't need to specify an environment for when it goes to deploy. If we exclude the environment flag it'll default to production, when the `serve` sub-command isn't used.

You can test this with s

[2022-08-07 05:56] FriarTech commented on #235
Very interesting - went to go reproduce the problem - and calendar just appeared without the google captcha problem . Must not be a web site problem but a google captcha problem . If I do see it again I'll try working through it and see what develops. I guess you can close the issue as it doesn't seem to be related to the website.

[2022-08-07 08:39] reclaimingmytime commented on #206
@Lord0fBytes

You can find them yourself by looking at the source code ;)

The show dropdown has an ID of `Field7` and items are the show names, so Coder Radio would be pre-selected using:
https://jblive.wufoo.com/embed/w7x2r7/def/Field7=Coder%20Radio

[2022-08-07 08:45] #231 closed

[2022-08-07 11:00] Lord0fBytes commented on #206
Awesome I appreciate that info. I'll make the change to it anyways because it's literally two lines of code.

If they go away from it no big deal.

[2022-08-07 16:45] ErraticKnight commented on #232
I'm guessing that would explain the weird behavior I saw yesterday there. If you drag the comment box's resizing corner you can pull far enough down to push the UI that lives below underneath the footer; if you pull enough you can get the hot zone for the resize corner pulled underneath the footer as well which makes the change unfixable.

[2022-08-07 22:57] iarwain-forn commented on #122
🚧 I cleaned up the twitch references in the HTML and file name over [here](https://github.com/iarwain-forn/jupiterbroadcasting.com/commit/b8a013861a8d6dc41ef15e837adf12bf177daf03) ([diff](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/compare/main...iarwain-forn:jupiterbroadcasting.com:iarwin/issue122)).

I think I should be able to make a small javascript module that returns eithe

[2022-08-08 00:02] reesericci commented on #235
I'm re-opening this because when a captcha appears I am unable to pass it as mentioned in my repro.

[2022-08-08 04:23] elreydetoda commented on #145
Alright, for now I think I've replicated what @Lord0fBytes did for the host page to the guest page. I'll wait till he replies to #241 to actually make the PR ready to merge, so the pages are consistent (with or without the `-`). Here is a quick screenshot of pages.

Host page
![image](https://user-images.githubusercontent.com/10230166/183336458-987026d8-ef12-488e-a248-14edb0faf2fb.png)

Guest page

[2022-08-08 05:24] reesericci commented on #225
A list of all the shows seems important as well

[2022-08-08 05:28] reesericci opened #243 "New calendar"
I think it might be a good idea to look for an alternative / build a new calendar to replace the eyesore that is the current Google Calendar. Also, it would be nice to not be dependent on google for calendar things.

[2022-08-08 11:04] StefanS-O opened #244 "Server Setup"
Setup the server that JB provided for delivering the new site:

- [ ] finish Ansible scripts

List what's needed:

- rsync
- nginx (vhost for jupiterbroadcasting.net / archive. jupiterbroadcasting.net -> just static sites), will need more when we migrate Fireside
- letsencrypt
- user to deploy from  Github Action (Private Key needs to be set as a secret in Github Action, public key needs to be on

[2022-08-08 11:17] Lord0fBytes commented on #145
That looks great!

[2022-08-08 13:21] elreydetoda commented on #145
Well I had a really good design to base it off of 😁, cool I'll get the other PR ready for merge as well then.

[2022-08-08 13:27] elreydetoda commented on #244
Oooh, if you want some help with this, I do this for work all the time 😁

Are you just doing a vhost with nginx @StefanS-O ?

We could commit the playbook to this repo to collaborate 🙃

honestly I don't like doing 🔼 (committing the infra code beside the app code) because it can inhibit either the app or infra depending on if one doesn't iterate as fast as the other, but I think this is a nuanced c

[2022-08-08 14:08] gerbrent commented on #244
@ironicbadger wants to sink his teeth into helping on the website, this might be the perfect place...

[2022-08-08 14:19] gerbrent commented on #243
YES.

This would also necessarily require some internal JB changes, but is a welcomed exploration...

Any ideas on alternatives and ideas, post them here!

[2022-08-08 14:23] ironicbadger commented on #244
I will create an infra repo and migrate over the code from [here](https://github.com/selfhostedshow/infra) where it makes sense and then provide docs of how to use it.

Might be a day or two.

[2022-08-08 14:29] gerbrent commented on #244
@StefanS-O is also in the process of writing up some requirements to help that process. Go team!

[2022-08-08 14:49] elreydetoda commented on #232
Related to #139, the original plan that @kbondarev and I chatted about over there was to just have an API on the backend the form is submitted to. (so everything is self hosted)

We stopped pursuing that, because we had (at the time) though that the old contact form would be enough for the 1.0 release. Then we could do the re-write possibly for 2.0.

We're still only at 50% and there is still plen

[2022-08-08 14:51] elreydetoda commented on #232
I'd imagine it's probably a storage or space requirement, because depending on the provider they might only get images depending on their size. (Completely hypothesizing)

[2022-08-08 14:52] elreydetoda commented on #232
I wonder (as a temporary fix) if we make the iframe scrollable (I think we can do that) then it would allow you to still access it?

[2022-08-08 15:04] dwarf-king-hreidmar opened #245 "footer - titles could be a bit bigger."
Today is my first visit to the new jupiter broadcasting site. It's looking awesome!

I noticed I found myself clicking the column labels instead of the various items in the footer. I think "Get Social" , "Center", "Right" should be a slightly bigger font. I know the column labels are bold but I thought that meant I was on that page already. I also think if  you aren't going to use the center and r

[2022-08-08 15:06] dwarf-king-hreidmar opened #246 "home page - Possibly merge shows and latest episodes."
If there were a way to only show the latest episode of each show in the latest episode list and then provide a "more" button you could drop the extra "shows" row a the top of the page and still list each of them by way of their latest episode.

[2022-08-08 15:12] reclaimingmytime commented on #243
One alternative could be full calendar: https://fullcalendar.io/

The library can show events from the Google Calendar API, so we might not have to change the backend.
https://fullcalendar.io/docs/google-calendar

[2022-08-08 15:14] CGBassPlayer opened #247 "Entire Episode card is not clickable"
The image and the title of the episode card are the only parts of the card are linked to the episode page. The entire card should link to the episode.

I am currently working on this... Only putting an issue in to prevent someone else's time to be spent on it.

[2022-08-08 18:19] elreydetoda commented on #232
Ya, that's a fair point. Also, looks like the current JB website has the same issue. So, honestly we probably should just leave it.

I hate saying that, but you can actually scroll inside the box if you don't drag it at all as well. So, I think just leaving it as is would be the easiest solution currently.

[2022-08-08 19:22] gerbrent commented on #232
@elreydetoda - all of this is perfect spot on for how we're approaching the project currently - imprelement essentials first, then the nice-to-haves after our Milestone 1 publish date. Your considerations of JB's internal workflows is also super appreciated, since we certainly want to reduce the number of changes to our everyday workflow, especially considering we will be going into the JB Road Tr

[2022-08-08 19:32] gerbrent commented on #232
@reesericci - aware this somehow didn't get mentioned here. Whoopsie.

API to target is Wufoo: https://wufoo.github.io/docs/#form-fields

reference: https://jblive.wufoo.com/embed/w7x2r7/

[2022-08-08 19:42] gerbrent commented on #246
related to #236.

One challenge I see with this approach would be that currently clicking on a "Show" card takes you to that Show overview, i.e. https://jupiterbroadcasting.net/show/coder-radio/ where there is some information presented that does not exist on Episode pages, i.e. https://jupiterbroadcasting.net/show/coder-radio/477/

For a new-to-JB listener, having a list of ALL of JB's offering i

[2022-08-08 20:28] CGBassPlayer commented on #217
I'll throw in that it does work for me on my system
* Pop OS 22.04
  * Docker 20.10.14
  * Make 4.3

[2022-08-08 20:46] CGBassPlayer commented on #226
So I know this was moved to a 2.0 milestone, but I took a look at it anyway. This is what I have so far...

![hosts and guests on 1 line](https://user-images.githubusercontent.com/34293941/183510799-65dcd055-7a9c-4e8e-ae91-2dc1c14ee11e.png)

Using the `smallest` card for the host and creating an identical card for the guests. That way everything could be pushed everything to one line. I still need

[2022-08-08 21:27] dwarf-king-hreidmar commented on #246
I wouldn’t call it clumsy at all. I felt that having multiple of the same show in the latest episodes section just seemed a little messy and unnecessary for a landing page and that it would be cleaner if you hid all but one of the latest ep in a more section. While I was looking I thought it might be nice to combine the elements and streamline more.

[2022-08-08 21:43] elreydetoda commented on #217
This'll depend on if #239 will be merged or not, because the only dev model will be via docker.

Also, @gerbrent it looks like for this:

It looks like there might have been something wrong with your hugo config. It also looks like it's using a hugo version that was installed on the system (based on it saying the `hugo serve` command. One thing I did was check for the hugo binary first, and use th

[2022-08-08 21:45] GL513 opened #251 "Align links in rows so it doesn't span the whole page"
![Screenshot_20220808-174411_Chrome.jpg](https://user-images.githubusercontent.com/83085846/183520035-6c93f92b-5596-4feb-99f8-0e1c2a12a483.jpg)

Align text to be next to each other (at least in mobile) so it doesn't take a bunch of space up.

First issue! :)

[2022-08-08 21:53] elreydetoda commented on #235
Interesting, @reesericci are you using a VPN when you're accessing the website?

[2022-08-08 22:03] iarwain-forn commented on #122
And 🚧 [here's](https://github.com/iarwain-forn/jupiterbroadcasting.com/commit/01177773cdca15b85538285e28e45cdb537c52e2) the MVP for grabbing the current or most recent show every time. Let me know if I should move forward with integrating the two parts or if you want a more static way to do this.

[2022-08-08 22:45] elreydetoda commented on #238
Looks like it's about 423 pixels wide which ends up causing that behavior.

![image](https://user-images.githubusercontent.com/10230166/183339048-664fdd87-7372-4bf9-9189-2dfe55bfb80e.png)

@gerbrent , do you prefer this?

![image](https://user-images.githubusercontent.com/10230166/183339673-dfc9c118-b461-4220-826f-ad1b6904d36d.png)

or this?

![image](https://user-images.githubusercontent.com/1023

[2022-08-08 23:11] reesericci commented on #235
Yes! Cloudflare's 1.1.1.1 WARP vpn

[2022-08-09 00:14] elreydetoda commented on #235
Try and access it without the VPN and see if you're still getting the captcha. (just curious if it still presented to you)

[2022-08-09 02:44] reesericci commented on #232
I'll get to work writing up a quick form that ties into wufoo!

[2022-08-09 14:02] gerbrent commented on #217
thanks for the info @elreydetoda !

I think by #239 surely you mean another... perhaps #249 ?

And agree - if #249 is indeed merged, then this issue goes away aswell.... bonus!

[2022-08-09 14:15] elreydetoda commented on #217
lol, ya that's what I meant :sweat_smile: . (I was on mobile at the time and they don't give you suggestions in the GH app :sweat_smile: )

[2022-08-09 14:16] gerbrent commented on #238
I personally prefer option 1 - the rest of the site at that size is centered...

[2022-08-09 14:18] gerbrent commented on #217
(I will edit your mis-tagged issue above, just to make it easier to read for the future visitors)

[2022-08-09 14:37] gerbrent commented on #246
Thanks for that context and experience - totally valid too. Hmm! Feels like one of those design decisions that has value and compromise either way...

[2022-08-09 14:41] gerbrent commented on #251
First Issue! Woot Woot! 🎉

If I understand correctly, @GL513 your suggestion worded differently:

* Currently the footer items are center-aligned, one per line and thus take up lots of vertical space on mobile-sized  screens. Consider grouping multiple items on a single line to save vertical space.

...correct?

[2022-08-09 14:51] reclaimingmytime commented on #210
As there seem to be no objections to my idea, I'm going to implement it and create a pull request ;)

[2022-08-09 15:03] gerbrent commented on #226
Nice work so far!

I have a big question:

* Currently, we have two types of profile layouts:
    * circular profiles - Show pages,
    * card-based profiles - Episode pages, Host/Guest pages

I see here you've replaced the Episode card profiles w circular ones, which mimic the [Fireside](https://coder.show/) style.

For circular profiles:
Advantage: less physical space, more compact
Disadvantage:

[2022-08-09 15:36] StefanS-O commented on #244
@ironicbadger nice, i just added the required packages. Let's take a as little as possible approach and extend from there.

[2022-08-09 17:12] kbondarev commented on #122
@iarwain-forn It looks like a good solution! :rocket:
Could you please make a PR for those changes and tag this issue in the comment there? It aligns better with the current workflow. A PR helps @gerbrent  &  @StefanS-O  to notice new incoming changes that should be reviewed.

If the work isn't ready to be merged yet, and you just want to show a preview of your work and discuss the direction you'r

[2022-08-09 17:36] #247 closed

[2022-08-09 17:38] kbondarev commented on #122
@iarwain-forn I looked a little more into this, and I'm not sure if that JavaScript code you wrote is even required. It seems to me that the PeerTube URL @gerbrent put in that iframe is a special one, and it would also be the most recent stream whether it's live or archived. @gerbrent can you confirm?

[2022-08-09 18:12] elreydetoda commented on #233
Don't have time to work on this yet, but this'll probably help with the consistency: https://gohugo.io/hugo-modules/configuration/#module-config-mounts

In hugo you can "mount" different types of pages to other locations (think of it like a symlink), so you should be able to do that for different files/folders.

[2022-08-09 18:19] reclaimingmytime commented on #122
@kbondarev

It doesn't seem to update dynamically. Chris changed the PeerTube iframe URL yesterday for Coder in commit https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/commit/4a39857255570f44dad367a563225a1880423ec5 .

[2022-08-09 18:24] ChrisLAS commented on #122
We can do it either way.

But there are a couple of advantages to embedding an episode-specific PeerTube stream.

1. When we create a new stream post for each show, we get a shareable URL that will always link back to that stream. That's useful for folks who see the message about a stream after the fact.
2. We can leave it embedded on the live page until the next live stream. Making the previous s

[2022-08-09 21:37] #210 closed

[2022-08-09 21:38] gerbrent opened #255 "IRC - code duplication to be consolidated"
We will now have IRC information listed in two places:

    [./community/irc.md](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/content/community/irc.md)
    https://jb-live.jupiterbroadcasting.net/ - [./config.jblive.toml](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/blob/main/config.jblive.toml)

While the above PR is totally helpful as-is and should b

[2022-08-09 21:55] gerbrent commented on #208
@noblepayne did you ever get the chance to check this last LUPday?

[2022-08-09 22:01] gerbrent commented on #122
Some ideas around workflow or automation to help Chris in this task would be amazing. On the current WP site, this is the page he modifies the most, something like 1000 times since 2009...

There might even be a slick way to swap out the embeds, or automate it...
@noblepayne offers a few spitballs  to get ideas started:

[2022-08-09 22:08] reclaimingmytime commented on #163
@aaronrea Did you find something regarding the header?

I don't think there's much we can do on our end. The way I understand the error message, kiwiirc.com is trying to send a request to a subdomain, both of which we don't control, so we can't solve the cross origin error on our end.

What makes it more difficult to troubleshoot is the error doesn't appear every single time. I think switching to

[2022-08-09 22:16] gerbrent commented on #163
Maybe an upstream bug report would do it?

[2022-08-09 22:18] gerbrent commented on #163
@reclaimingmytime like your recommended Kiwi Next client........

[2022-08-09 22:21] gerbrent commented on #163
As my vote, I prefer the Kiwi Next client's interface to our https://bit.ly/jupiterchat

## Kiwi Next
![image](https://user-images.githubusercontent.com/7018928/183771893-b68df8ad-22f0-450e-b1d8-7f5403d5f5d2.png)

## Mibbit / https://bit.ly/jupiterchat
![image](https://user-images.githubusercontent.com/7018928/183771959-acb3e88e-3f86-4204-92a2-7bc80810cdaa.png)

[2022-08-09 22:23] gerbrent opened #256 "https://bit.ly/jupiterchat - IRC client should be same as JB.net client"
https://bit.ly/jupiterchat features an IRC client. This client should be the same as that chosen in #163, likely:

"[Kiwi next client](https://kiwiirc.com/nextclient/irc.geekshed.net/?nick=JBLive_?&theme=dark#jupiterbroadcasting)"

## Kiwi Next
![image](https://user-images.githubusercontent.com/7018928/183771893-b68df8ad-22f0-450e-b1d8-7f5403d5f5d2.png)

## Currently Mibbit
![image](https://user-i

[2022-08-09 22:36] kd2flz commented on #163
That Kiwi-Next client looks very nice!

[2022-08-09 22:37] aaronrea commented on #163
Sorry, haven't had much time this week/end. I didn't realize there was a "next-gen" client. That gets my vote.

[2022-08-09 22:41] reclaimingmytime commented on #256
It seems like changing the destination of bit.ly URLs is only possible on the paid bit.ly plan. Not sure which plan JB uses.

https://bitly.com/blog/how-to-redirect-any-link-in-bitly/

[2022-08-09 22:42] gerbrent commented on #217
solved by [#4864df857e4eee03064e4077271b906ebecc7095](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/249/commits/4864df857e4eee03064e4077271b906ebecc7095)

[2022-08-09 22:43] #217 closed

[2022-08-09 22:49] gerbrent commented on #216
solved by [d4f81392e426650ebbcd9b7187e0fdac63e324ae](https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/pull/249/commits/d4f81392e426650ebbcd9b7187e0fdac63e324ae)

[2022-08-09 22:49] #216 closed

[2022-08-09 23:05] gerbrent opened #257 "deploy previews"
### Discussed in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/discussions/182

<div type='discussions-op-text'>

<sup>Originally posted by **elreydetoda** July 24, 2022</sup>
So, one thing that I've normally done in the past is hooked up Netlify to the repo. Normally this is for easy of hosting the NetlifyCMS, but a passive added benefit is using them for deploy previews. This me

[2022-08-09 23:05] gerbrent commented on #257
see discussion above for more relevant context... I'll clean up the above too as needed.

[2022-08-09 23:07] gerbrent opened #258 "DNS in Git"
### Discussed in https://github.com/JupiterBroadcasting/jupiterbroadcasting.com/discussions/193

<div type='discussions-op-text'>

<sup>Originally posted by **reesericci** July 28, 2022</sup>
I think it would be really cool if the jb.com DNS was managed transparently in a github repo.</div>